{% extends "index_admin.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../plugins/images/favicon.png">
    <title>Elite Admin Template - The Ultimate Multipurpose admin template</title>
    {% block titulo %}
    <title>Nueva mensualidad</title> 
    {% endblock %}
    <!-- Bootstrap Core CSS -->
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="css/animate.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="../plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <link href="../plugins/bower_components/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <!-- animation CSS -->
    <link href="css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Top Navigation -->
        <!-- End Top Navigation -->
        <!-- Left navbar-header -->
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        {% block contenido %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Ingresar Mensualidad</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a></a>
                        <ol class="breadcrumb">
                            <li><a href="{% url 'index_admin' %}">Inicio</a></li>
                            <li><a href="{% url 'ver_mensualidad' %}">Mensualidades</a></li>
                            <li class="active">Ingresar nueva Mensualidad</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- .row -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="white-box">
                            <h3 class="box-title m-b-0">Ingresar Mensualidad</h3>
                            <p class="text-muted m-b-30"> Mensualidades</p>
                            <form data-toggle="validator" method="POST" action="" accept-charset="utf-8">
                                <div class="form-group" >
                                {% csrf_token %}
                                {{ form_mensualidad.as_p }}
                                    
                                </div>
                                <!-- <div class="form-group"> 
                                    <label for="{{form_mensualidad.fecha_mensualidad.id_for_label}}" class="control-label" for="date">{{form_mensualidad.fecha_mensualidad.label_tag}}</label>
                                        <input  class="form-control" id="{{form_mensualidad.fecha_mensualidad.id_for_label}}" name="date" placeholder="MM/DD/YYY" type="text"/>
                                    </div>
                                </div>
                                <div class="form-group"> 
                                    <label for="{{form_mensualidad.fecha_pago.id_for_label}}" class="control-label" for="date">{{form_mensualidad.fecha_pago.label_tag}}</label>
                                        <input  class="form-control" id="{{form_mensualidad.fecha_pago_id_for_label}}" name="date" placeholder="MM/DD/YYY" type="text"/>
                                    </div>
                                </div> -->
                                <div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success" style="border-radius:6px" >Guardar</button>
                                        <a href="{% url 'ver_mensualidad' %}" class="btn btn-danger" role="button" style="border-radius:6px" >Cancelar</a>
                                    </div>
                                </div>
                            </form>
                            <!-- <div class="bootstrap-iso">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-6 col-xs-12">
                                            <form class="form-horizontal" method="post">
                                                {% csrf_token %}
                                                {{form_mensualidad}}
                                                <div class="form-group ">
                                                    <label for="{{form_mensualidad.fecha_mensualidad.id_for_label}}" class="control-label col-sm-8 requiredField">
                                                    <span class="asteriskField">*</span>
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <div class="input-group">
                                                            <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        <input class="form-control" id="{{form_mensualidad.fecha_mensualidad}}" name="date" placeholder="MM/DD/YYYY" type="text"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <button type="submit" class="btn btn-success" style="border-radius:6px" >Guardar</button>
                                                <a href="{% url 'ver_mensualidad' %}" class="btn btn-danger" role="button" style="border-radius:6px" >Cancelar</a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                <!-- /.row -->
                <!-- .right-sidebar -->
                <!-- /.right-sidebar -->
            </div>
            <!-- /.container-fluid -->
        </div>

        {% endblock %}
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <!-- Bootstrap Core JavaScript -->
    <!-- Menu Plugin JavaScript -->

</body>

</html>
