{% extends "index_admin.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../plugins/images/favicon.png">
    <title>Elite Admin - University Admin Dashboard</title>
    <!-- Bootstrap Core CSS -->
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="../plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <!-- Left navbar-header -->
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        {% block contenido %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Perfil Usario</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a href="https://themeforest.net/item/elite-admin-responsive-dashboard-web-app-kit-/16750820" target="_blank" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Buy Now</a>
                        <ol class="breadcrumb">
                            <li><a href="{% url 'ver_usuario' %}">Usuarios</a></li>
                            <li class="active">Perfil Usuario</li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <!-- .row -->
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        {% for u in usuario %}
                        <div class="white-box">
                            <div class="user-bg"> <img width="100%" alt="user" src="{% static 'plugins/images/big/img1.jpg' %}"> </div>
                            <div class="user-btm-box">
                                <!-- .row -->
                                <div class="row text-center m-t-10">
                                    <div class="col-md-6 b-r"><strong>Nombres</strong>
                                        <p>{{u.first_name}}</p>
                                    </div>
                                    <div class="col-md-6"><strong>Apellidos</strong>
                                        <p>{{u.last_name}}</p>
                                    </div>
                                </div>
                                <!-- /.row -->
                                <hr>
                                <!-- .row -->
                                <div class="row text-center m-t-10">
                                    <div class="col-md-6 b-r"><strong>DNI</strong>
                                        <p>{{u.dni}}</p>
                                    </div>
                                    <div class="col-md-6"><strong>Teléfono</strong>
                                        <p>{{u.telefono}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row text-center m-t-10">
                                    <div class="col-md-6 b-r"><strong>Email</strong>
                                        <p></p>
                                    </div>
                                    <div class="col-md-6"><strong>Edad</strong>
                                        <p></p>
                                    </div>
                                </div>                                
                                <hr>
                                <div class="row text-center m-t-10">
                                    <div class="col-md-6 b-r"><strong>Género</strong>
                                        <p></p>
                                    </div>
                                    <div class="col-md-6"><strong>Username</strong>
                                        <p></p>
                                    </div>
                                </div>
                                <!-- /.row -->
                                <hr>
                                <!-- .row -->
                                <div class="row text-center m-t-10">
                                    <div class="col-md-12"><strong>Dirección</strong>
                                        <p>Loja
                                        <br/> La Tebaida</p>
                                    </div>
                                </div>
                                <hr>
                                <!-- /.row -->
                                <div class="col-md-4 col-sm-4 text-center">
                                    <p class="text-purple"><i class="ti-facebook"></i></p>
                                    <h1>258</h1> </div>
                                <div class="col-md-4 col-sm-4 text-center">
                                    <p class="text-blue"><i class="ti-twitter"></i></p>
                                    <h1>125</h1> </div>
                                <div class="col-md-4 col-sm-4 text-center">
                                    <p class="text-danger"><i class="ti-google"></i></p>
                                    <h1>140</h1> </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <div class="white-box">
                            {% for u in usuario %}
                            <div class="row">
                                <div class="col-md-3 col-xs-6 b-r"> <strong>Fecha Matrícula</strong>
                                    <br>
                                    <p class="text-muted"></p>
                                </div>
                                <div class="col-md-3 col-xs-6 b-r"> <strong>Costo</strong>
                                    <br>
                                    <p class="text-muted">{{u.costo}}</p>
                                </div>
                                <div class="col-md-3 col-xs-6 b-r"> <strong>Estado</strong>
                                    <br>
                                    <p class="text-muted">{{u.estado}}</p>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="">
                            </div>
                            <h4 class="m-t-30">Disciplinas</h4>
                            <hr>
                            <ul>
                                <li>Bailoterapia</li>
                            </ul>
                            <h4 class="m-t-30">Instructores</h4>
                            <hr>
                            <ul>
                                <li>Pedro Jose Cuenca Rodriguez</li>
                            </ul>
                            <h4 class="m-t-30">Horarios</h4>
                            <hr>
                            <ul>
                                <li>06:00AM</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                {% endblock %}
                <!-- /.row -->
                <!-- .right-sidebar -->
                <!-- /.right-sidebar -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
</body>

</html>
