{% extends "index_admin.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../plugins/images/favicon.png">
    {% block titulo %}
    <title>Ver disciplinas-horarios</title>
    {% endblock %}
    <!-- Bootstrap Core CSS -->
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css" rel="stylesheet">
    <link href="../plugins/bower_components/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <!-- Menu CSS -->
    <link href="../plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Left navbar-header -->
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        {% block contenido %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Adm. de Disciplina-Horario</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"></a>
                        <ol class="breadcrumb">
                            <!-- <li>
                             <div class="col-lg-1">
                                <a href="{% url 'nuevo_usuario' %}" class="btn btn-default" style="border-radius:4px">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            </div>
                            
                            </li> -->
                            <li><a href="{% url 'nueva_disciplinahorario' %}">Añadir</a></li>
                            <li class="active">Disciplina Horario</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title m-b-0">Registro de Disciplina-Horario</h3>
                            <hr>
                            <div class="table-responsive">

                                <table id="myTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <!-- <th>N°</th> -->
                                            <th>Disciplina</th>
                                            <th>Instructor</th>
                                            <th>Horario</th>
                                            <th>Cupos</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for a in object_list %}
                                        <tr>
                                            <!-- <td>{{ a.id_disciplina_horario}}</td> -->
                                            <td>{{ a.id_disciplina}}</td>
                                            <td>{{ a.id_instructor}}</td>
                                            <td>{{ a.id_horario}}</td>
                                            <td>{{ a.id_horario.cupos}}</td>
                                            <td>
                                                <button type="button" class="btn btn-link" data-toggle="modal" data-target=".bs-example-modal-lg{{a.id_disciplina_horario}}"><i class="fa fa-edit" ></i></button>
                                                <!-- Modal para Editar -->
                                                <div class="modal fade bs-example-modal-lg{{a.id_disciplina_horario}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                                  <div class="modal-dialog modal-lg" role="document">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <h4 class="modal-title">{{a.id_instructor}}</h4>
                                                      </div>
                                                      <div class="modal-body">
                                                        <form data-toggle="validator" method="post" action="" accept-charset="utf-8"> 
                                                            {% csrf_token %}
                                                            <h4><strong>{{valor.id}}</strong></h4>
                                                             <input type="hidden" name="id_disciplina_horario" value="{{a.id_disciplina_horario}}">       
                                                            <div class="form-group">
                                                                <label for="">Seleccione la Disciplina</label>
                                                                <select name="id_disciplina" id="" class="form-control">
                                                                    <option value="0">--------------</option>
                                                                    {%for c in dis%}
                                                                    <option value="{{c.pk}}">{{c.nombre}}</option>
                                                                    {%endfor%}
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="">Seleccione el Horario</label>
                                                                <select name="id_horario" id="" class="form-control">
                                                                    <option value="0">--------------</option>
                                                                    {%for d in a.horario%}
                                                                    <option value="{{d.pk}}">{{d.hora_inicio}} - {{d.hora_fin}}</option>
                                                                    {%endfor%}
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <button type="submit" name="actualizar" class="btn btn-warning" style="border-radius:6px" >Actualizar</button>
                                                                <a href="{% url 'ver_disciplinahorario' %}" class="btn btn-danger" role="button" style="border-radius:6px" >Cancelar</a>
                                                            </div>
                                                        </form>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <!-- Fin de Modal para Editar -->
                                                
                                                <a href="{% url 'eliminar_disciplinah' a.id_disciplina_horario %}" class="btn btn-link" role="button"  style="border-radius:6px" >
                                                <i class="fa fa-trash-o" ></i>
                                                </a>
                                                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal" style="border-radius:6px">
                                                </button>
                                                <!-- Modal -->
                                                <form method="post" >
                                                    {% csrf_token %}
                                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                      <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                          <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Desea eliminar el registro?</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                          </div>
                                                          <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger" data-dismiss="modal" style="border-radius:6px">Cancelar</button>
                                                            <button  type="button" class="btn btn-success" style="border-radius:6px">Aceptar</button>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <!-- .right-sidebar -->
                <!-- /.right-sidebar -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
        {% endblock %}
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="../plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap/dist/js/tether.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="../plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/custom.min.js"></script>
    <script src="../plugins/bower_components/datatables/jquery.dataTables.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#myTable').DataTable();
    });
    </script>
    <!--Style Switcher -->
    <script src="../plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
</body>

</html>
