{% extends 'index_admin.html' %}

{% load widget_tweaks %}
{% block titulo %}
<title>Reporte matrículas</title>
{% endblock %}

{% block contenido %}
<div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Búsqueda de Matrículas</h4>
                </div>
                
                <!-- /.col-lg-12 -->
            </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3 class="box-title m-b-0">Busqueda de Matrículas</h3>
                    <hr>
                    <form action="" method="post">
                        {%csrf_token%}
                        <select name="horario" id="" required="" >
                            <option value="">-------------------</option>
                            {%for c in discipina_horario%}
                            <option value="{{c.id_disciplina_horario}}">{{c.id_disciplina}} {{c.id_horario}}</option>
                            {%endfor%}
                        </select>
                        <button type="submit" name="matriculados" class="btn btn-success">Generar Reporte Matriculados</button>
                    </form>

                    <h5><strong>Disciplina: </strong>{{mat.id_disciplina}}</h5>
                    <h5><strong>Instructor: </strong>{{mat.id_instructor}}</h5>
                    <h5><strong>Horario: </strong>{{mat.id_horario}}</h5>
                    <h5><strong>Total de Alumnos: </strong>{{contador}}</h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nro.</th>
                                <th>Deportistas</th>
                                <!-- <th>Disciplina</th> -->
                                <th>Celular</th>
                                <th>Teléfono</th>
                                <th>Edad</th>                                
                                <th>Género</th>
                                <th>Dirección</th>
                            </tr>
                        </thead>
                        <tbody>                    
                    {% for c in matricula %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{c.id_matricula.id_deportista}}</td>
                                <!-- <td>{{c.id_matricula.id_diciplina}}</td> -->
                                <td>{{c.id_matricula.id_deportista.id.celular}}</td>
                                <td>{{c.id_matricula.id_deportista.id.telefono}}</td>
                                <td>{{c.id_matricula.id_deportista.id.edad}}</td>
                                <td>{{c.id_matricula.id_deportista.id.genero}}</td>                              
                                <td>{{c.id_matricula.id_deportista.id.direccion}}</td>                              
                            </tr>
                    {%endfor%}
                        </tbody>
                    </table>
                    <a href="{% url 'reporte' horario %}" class="btn btn-success btn-block" target="_blank">Imprimir lista de deportistas</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- .right-sidebar -->
        <!-- /.right-sidebar -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
{% endblock %}