{% extends "index_admin.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../plugins/images/favicon.png">
    <title>Elite Admin - University Admin Dashboard</title>
    {% block titulo %}
    <title>Editar matrícula</title> 
    {% endblock %}
    <!-- Bootstrap Core CSS -->
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="css/animate.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="../plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-19175540-9', 'auto');
    ga('send', 'pageview');
    </script>
</head>

<body class="fix-sidebar">
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Top Navigation -->
        <!-- End Top Navigation -->
        <!-- Left navbar-header -->
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        {% block contenido %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Editar Matrícula</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="{% url 'index_admin' %}">Inicio</a></li>
                            <li><a href="{% url 'ver_matricula' %}">Matrículas</a></li>
                            <li class="active">Editar Matrícula</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- .row -->
                <div class="row">
                    <!-- .col -->
                    <div class="col-sm-12">
                        
                    </div>
                    <!-- .col -->
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="white-box">
                            <h3 class="box-title m-b-0">Editar Matrícula
                            <!-- <small class="pull-right">Fecha: {% now "d/m/Y" %}</small> -->
                            </h3>
                            <!-- <p class="text-muted m-b-15"></p> -->
                            <!-- <div class="box-title m-b-0">
                                <a href="#test-form" class="btn btn-success popup-with-form btn btn-success" style="border-radius:4px">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            </div> -->
                            <br>
                            <div >
                                <!-- <input id="tags5" class="form-control"> -->
                            </div>
                            <!-- Modaldeportista -->
                            <div class="col-sm-12 invoice-col">
                                <!-- <label for="tags5">Buscar deportista</label>  -->
                                <!-- <strong>Deportista</strong> -->
                                <form data-toggle="" accept-charset="utf-8" method="post">
                                    {% csrf_token %}
                                    {{ form_matricula.as_p }}
                                  <!--   <div class="form-group">
                                        <label class="js-example-basic-single select2-container form-control select2 " for="{{form_matricula.id_deportista}}">
                                        <input id="{{form_matricula.id_deportista}}" type="text" name="" maxlength="100" required >
                                        </label>
                                    </div> -->
                                   <!--  <div class="form-group " >
                                        <label class="js-example-basic-single form-control select2-container select2" for='{{form_matricula.id_disciplina_horario.id_for_label}}'>
                                        <input class="form-control" type="text" id='form_matricula.id_disciplina_horario'>
                                        </label>
                                    </div>
                                    <div class="form-group" >
                                        <label  for='{{form_matricula.estado.id_for_label}}'>{{form_matricula.estado.label}}
                                        <input class="" type="radio" name='{{form_matricula.estado}}'>
                                        </label>
                                    </div>
                                    <div class="form-group " >
                                        <label  for='{{form_matricula.costo.id_for_label}}'>{{form_matricula.costo.label}}
                                        <input class="form-control" type="text" name='form_matricula.costo'>
                                        </label>
                                    </div> -->

                                   <!--  <div class="form-group">
                                        <label for="{{form_matricula.id_deportista.id_for_label}}" class="js-example-basic-single select2-container form-control select2 ">{{form_matricula.id_deportista.label}}
                                        <input value="{{form_matricula.id_deportista}}" class="select2-focusser select2-offscreen" type="string" id="{{form_matricula.id_deportista}}">
                                        </label>
                                    </div> -->
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success" style="border-radius:6px" >Guardar</button>
                                        <a href="{% url 'ver_matricula' %}" class="btn btn-danger" role="button" style="border-radius:6px" >Cancelar</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <!-- .right-sidebar -->
                <!-- /.right-sidebar -->
            </div>
            <!-- /.container-fluid -->
        </div>
<script type="text/javascript">
        // $(function(){
        //     function equalHeight(group){
        //         var tallest = 0;
        //         group.each(function(){
        //             var thisHeight = $(this).height();
        //             if(thisHeight > tallest){
        //                 tallest = thisHeight;
        //             }
        //         });
        //         group.height(tallest);
        //     }
        //     equalHeight($(".box-1 .inner"));

        //     $("#tags5").autocomplete({
        //         minLength:3,
        //         source: function(req, add){
        //             var search=$(#tags5).val();
        //             $.ajax({
        //                 url:'/ajax_search/',
        //                 async:false,
        //                 dataType:'json',
        //                 type:'GET',
        //                 data:{'start': search,},
        //                 success: function(data){
        //                     var suggestions=[];

        //                     $.each(data, function(nueva_matricula, objeto){
        //                         suggestions.push(objeto);
        //                     });
        //                     add(suggestions);
        //                 },
        //                 error:function(err){
        //                     alert("error");
        //                 }
        //             });
        //         }
        //     });
        // });
    //     $('new-user').autocomplete({
    //     minLength:3,
    //     source: function(req, add){
    //         $.ajax({
    //             url: '/search/',
    //             async: false,
    //             dataType:'json',
    //             type:'POST',
    //             data: {
    //                 start: function() { return $(this).val(); },
    //             },
    //             success: function(data) {
    //                 //create array for response objects
    //                 var suggestions = [];
    //                 //process response
    //                 $.each(data.items, function(i, val){
    //                     suggestions.push(val[0]);
    //                 });
    //                 //pass array to callback
    //                 add(suggestions);
    //             }
    //         });
    //     }
    // });
        // $(function() {
        //     $("#tags5").autocomplete({
        //     source: "/search_deportista/",
        //     minLength: 2,
        //     });
        // });
    </script>
        {% endblock %}
        <!-- /#page-wrapper -->
    </div>
    <!-- ajax_busqueda de deportiusta -->
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="../plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap/dist/js/tether.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="../plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/custom.min.js"></script>
    <script src="js/validator.js"></script>
    <!--Style Switcher -->
    <script src="../plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
</body>

</html>
