{% load static %}
<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'plugins/images/favicon1.png' %}">
    
    {% block titulo %}
    <title>Inicio de sesión</title> 
    {% endblock %}
    
    <link rel="apple-touch-icon" href="{% static 'assets/images/apple-touch-icon.png' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-extend.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/site.min.css' %}">
    
    <!-- Plugins -->
    <link rel="stylesheet" href="{% static 'assets/vendor/animsition/animsition.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/asscrollable/asScrollable.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/switchery/switchery.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/intro-js/introjs.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/slidepanel/slidePanel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/flag-icon-css/flag-icon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/examples/css/pages/login.css' %}">
    
    
    <!-- Fonts -->
    <link rel="stylesheet" href="{% static 'assets/fonts/web-icons/web-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/brand-icons/brand-icons.min.css' %}">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    <!-- register -->
    <link rel="stylesheet" href="{% static 'assets/examples/css/pages/register.css' %}">
    <!-- forgot password -->
    <link rel="stylesheet" href="{% static 'assets/examples/css/pages/forgot-password.css' %}">

    <!--[if lt IE 9]>
    <script src="../../assets/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->
    
    <!--[if lt IE 10]>
    <script src="../../assets/vendor/media-match/media.match.min.js"></script>
    <script src="../../assets/vendor/respond/respond.min.js"></script>
    <![endif]-->
    
    <!-- Scripts -->
    <script src="{% static 'assets/vendor/breakpoints/breakpoints.js' %}"></script>
    <script>
      Breakpoints();
    </script>
  </head>
  <body class="animsition page-login layout-full page-dark">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <!-- Page -->
    {% block contenido %}
    <div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">>
      <div class="vertical-align-middle">
        <div class="">
          <!-- <img class="brand-img" src="{% static 'assets//images/logo.png' %}" alt="..."> -->
          <h2 class="brand-text">Gym DEOS</h2>
        </div>
        <p>Inicia sesión con tu cuenta</p>
        <form method="post" action=".">
          {% csrf_token %}
          {% for error  in form.non_field_errors %}
            <p>{{ error|safe }}</p>
          {% endfor %}
          <div class="form-group">
            <label class="sr-only" for="inputName">Name</label>
            <input type="text" class="form-control" id="inputName" name="username" placeholder="Usuario">
            
          </div>
          <div class="form-group">
            <label class="sr-only" for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" name="password"
              placeholder="Contraseña">
          </div>
          <div class="form-group clearfix">
            <div class="checkbox-custom checkbox-inline checkbox-primary float-left">
              <input type="checkbox" id="inputCheckbox" name="remember">
              <label for="inputCheckbox">Recordarme</label>
            </div>
            <a class="float-right" href="{% url 'password_reset' %}">Olvido su contraseña?</a>
          </div>
          <button  type="submit" class="btn btn-success btn-block">Ingresar</button>
        </form>
        <p>Aún no tienes cuenta? Por favor, accede a <a href="{% url 'preinscripcion' %}">Registrar</a></p>

        <footer class="page-copyright page-copyright-inverse">
          <p>DESARROLLADO  M.A.C.C</p>
          <p>© 2018. TODOS LOS DERECHOS RESERVADOS.</p>
          <div class="social">
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
          <i class="icon bd-twitter" aria-hidden="true"></i>
        </a>
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
          <i class="icon bd-facebook" aria-hidden="true"></i>
        </a>
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
          <i class="icon bd-dribbble" aria-hidden="true"></i>
        </a>
          </div>
        </footer>
      </div>
    </div>
    {% endblock %}
    <!-- End Page -->


    <!-- Core  -->
    <script src="{% static 'assets/vendor/babel-external-helpers/babel-external-helpers.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets/vendor/popper-js/umd/popper.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendor/animsition/animsition.js' %}"></script>
    <script src="{% static 'assets/vendor/mousewheel/jquery.mousewheel.js' %}"></script>
    <script src="{% static 'assets/vendor/asscrollbar/jquery-asScrollbar.js' %}"></script>
    <script src="{% static 'assets/vendor/asscrollable/jquery-asScrollable.js' %}"></script>
    
    <!-- Plugins -->
    <script src="{% static 'assets/vendor/switchery/switchery.js' %}"></script>
    <script src="{% static 'assets/vendor/intro-js/intro.js' %}"></script>
    <script src="{% static 'assets/vendor/screenfull/screenfull.js' %}"></script>
    <script src="{% static 'assets/vendor/slidepanel/jquery-slidePanel.js' %}"></script>
        <script src="{% static 'assets/vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>
    
    <!-- Scripts -->
    <script src="{% static 'assets/js/Component.js' %}"></script>
    <script src="{% static 'assets/js/Plugin.js' %}"></script>
    <script src="{% static 'assets/js/Base.js' %}"></script>
    <script src="{% static 'assets/js/Config.js' %}"></script>
    
    <script src="{% static 'assets/js/Section/Menubar.js' %}"></script>
    <script src="{% static 'assets/js/Section/Sidebar.js' %}"></script>
    <script src="{% static 'assets/js/Section/PageAside.js' %}"></script>
    <script src="{% static 'assets/js/Plugin/menu.js' %}"></script>
    
    <!-- Config -->
    <script src="{% static 'assets/js/config/colors.js' %}"></script>
    <script src="{% static 'assets/js/config/tour.js' %}"></script>
    <script>Config.set('assets', '../../assets');</script>
    
    <!-- Page -->
    <script src="{% static 'assets/js/Site.js' %}"></script>
    <script src="{% static 'assets/js/Plugin/asscrollable.js' %}"></script>
    <script src="{% static 'assets/js/Plugin/slidepanel.js' %}"></script>
    <script src="{% static 'assets/js/Plugin/switchery.js' %}"></script>
    <script src="{% static 'assets/js/Plugin/jquery-placeholder.js' %}"></script>
    <!-- register -->
    <script src="{% static 'assets/js/Plugin/animate-list.js' %}"></script>

    <script>
      (function(document, window, $){
        'use strict';
    
        var Site = window.Site;
        $(document).ready(function(){
          Site.run();
        });
      })(document, window, jQuery);
    </script>
    
  </body>
</html>
