{% extends "accounts/loginv1.html" %}
{% load static %}
{% block titulo %}
<title>Recuperación de contraseña</title> 
{% endblock %}
{% block contenido %}
	<h3 style="text-align: center; color: #fff" >Se restablecio correctamente su contraseña.</h3>

	<div class="col-sm-12" style="text-align: center;
		/*nos posicionamos en el centro del navegador*/
		top:30%;
		left:50%;
		/*determinamos una anchura*/
		width:400px;
		/*indicamos que el margen izquierdo, es la mitad de la anchura*/
		margin-left:-200px;
		/*determinamos una altura*/
		height:400px;
		/*indicamos que el margen superior, es la mitad de la altura*/
		margin-top:-150px;
		/*border:1px solid #808080;*/
		padding:5px;" >
		<a style="border-radius:6px" class= "btn btn-info" href="{% url 'login' %}">Iniciar sesión</a>
	</div>
{% endblock %}