{% extends "accounts/loginv1.html" %}
{% load static %}
<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
  <head>
    {% block titulo %}
    <title>Recuperación de contraseña</title> 
    {% endblock %}
  </head>
  <body class="animsition page-forgot-password layout-full">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <!-- Page -->
    {% block contenido %}
    <div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
      <div class="vertical-align-middle">
        <h2 style="color: #fff">Olvidó su contraseña ?</h2>
        <p>Ingresa tu email y te enviaremos la información 
        <br>
        para reestablecer tu contraseña</p>

        <form method="post" >
          {% csrf_token %}
          <div class="form-group">
            <input type="email" class="form-control" id="email" name="email" placeholder="Su Email">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-block">Reestablecer contraseña</button>
          </div>
        </form>

        <footer class="page-copyright">
          <p>WEBSITE BY amazingSurge</p>
          <p>© 2018. All RIGHT RESERVED.</p>
          <div class="social">
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
          <i class="icon bd-twitter" aria-hidden="true"></i>
        </a>
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
          <i class="icon bd-facebook" aria-hidden="true"></i>
        </a>
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
          <i class="icon bd-dribbble" aria-hidden="true"></i>
        </a>
          </div>
        </footer>
      </div>
    </div>
    {% endblock %}
    <!-- End Page -->
  </body>
</html>
