{% extends "accounts/loginv1.html" %}
{% load static %}
{% block titulo %}
<title>Recuperación de contraseña</title> 
{% endblock %}
{% block contenido %}
<!-- 	{% if  validlink %}
	<div class="vertical-align-middle">
	<h2 style="color: #fff">Nueva contraseña</h1>
		<form method="post" >
			{% csrf_token %}
			{{form.new_password1.errors}}
			<div class="form-group">
				<label for="id_new_password1" ">Nueva contraseña:</label>
	            <input  type="password" id="new_password1"  class="form-control"  name="new_password1" placeholder="Contraseña">
			</div>
			{{form.new_password2.errors}}
			<div class="form-group">
				<label for="id_new_password2" ">Comfirmar contraseña:</label>
	            <input  type="password" id="new_password2"  class="form-control"  name="new_password2" placeholder="Contraseña">
			</div>
			<input  type="submit" name="Cambiar conraseña">
		</form>
	{% else %}
	<h1 class="text-center" >Enlace inválido: Vuelva a intentar</h1>
	{% endif %}
	</div> -->
<div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
    {% if  validlink %}
      <div class="vertical-align-middle">
        <h2 style="color: #fff">Digite su nueva contraseña.</h2>
	        <form method="post" >
	        {% csrf_token %}
			{{form.new_password1.errors}}
	          <div class="form-group">
	            <input  type="password" id="new_password1"  class="form-control"  name="new_password1" placeholder="Contraseña">
	          </div>
			{{form.new_password2.errors}}
	          <div class="form-group">
	            <input type="password" id="new_password2" class="form-control" name="new_password2" placeholder="Confirmar  contraseña">
	          </div>
	          <div class="form-group">
	            <button type="submit" class="btn btn-success btn-block">Cambiar contraseña</button>
	          </div>
	        </form>
        {% else %}
		<h1 class="text-center" >Enlace inválido: Vuelva a intentar</h1>
        <footer class="page-copyright"  style="color: #fff">
          <p>WEBSITE BY amazingSurge</p>
          <p>© 2018. All RIGHT RESERVED.</p>
          <div class="social">
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
          <i class="icon bd-twitter" aria-hidden="true"></i>
        </a>
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
          <i class="icon bd-facebook" aria-hidden="true"></i>
        </a>
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
          <i class="icon bd-dribbble" aria-hidden="true"></i>
        </a>
          </div>
        </footer>
      </div>
	{% endif %}
    </div>
{% endblock %}