{% extends "accounts/loginv1.html" %}
{% load static %}
<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
  <head>
    <!-- Scripts -->
    {% block titulo %}
    <title>Registrarse</title> 
    {% endblock %}
  </head>
  <body class="animsition page-register layout-full page-dark">
    <!-- Page -->
    {% block contenido %}
    <div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
      <div class="vertical-align-middle">
        <div class="">
          <!-- <img class="brand-img" src="{% static 'assets//images/logo.png' %}" alt="..."> -->
          <h2 class="brand-text">Gym Deos</h2>
        </div>
        <p>Regístrese para poder inscribirse</p>
        <form method="post">
          {% csrf_token %}
          <!-- {{ form_register.as_p }} -->
          <div class="form-group">
            <label class="sr-only" for="inputEmail">Email</label>
            <input type="text" class="form-control" id="inputEmail" name="first_name" placeholder="Nombres">
          </div>
          <div class="form-group">
            <label class="sr-only" for="inputEmail">Email</label>
            <input type="text" class="form-control" id="inputEmail" name="last_name" placeholder="Apellidos">
          </div>
          <div class="form-group">
            <label class="sr-only" for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email">
          </div>

          <div class="form-group">
            <label class="sr-only" for="inputName">Name</label>
            <input type="text" class="form-control" id="inputName" name="username" placeholder="Usuario">
          </div>
          <div class="form-group">
            <label class="sr-only" for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" name="password1"
              placeholder="Contraseña">
          </div>
          <div class="form-group">
            <label class="sr-only" for="inputPasswordCheck">Retype Password</label>
            <input type="password" class="form-control" id="inputPasswordCheck" name="password2"
              placeholder="Confirmar Contraseña">
          </div>
          <div class="form-group">
              <div class="col-md-12">
                  <div class="checkbox checkbox-primary p-t-0">
                      <input id="checkbox-signup" type="checkbox">
                      <label for="checkbox-signup"> Aceptar términos y condiciones<a href="#">Términos</a></label>
                  </div>
              </div>
          </div>
          <button type="submit" class="btn btn-success btn-block">Registrar</button>
        </form>
        <p>Ya tienes una cuenta? Por favor, accede a <a href="{% url 'login' %}">Ingresar</a></p>

        <footer class="page-copyright page-copyright-inverse">
          <p>WEBSITE BY M.A.C.C</p>
          <p>© 2018. All RIGHT RESERVED.</p>
          <div class="social">
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
          <i class="icon bd-twitter" aria-hidden="true"></i>
        </a>
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
          <i class="icon bd-facebook" aria-hidden="true"></i>
        </a>
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
          <i class="icon bd-dribbble" aria-hidden="true"></i>
        </a>
          </div>
        </footer>
      </div>
    </div>
    {% endblock %}
    <!-- End Page -->
  </body>
</html>
