{% extends "index_admin.html" %}
{% load static %}
{% block titulo %}
<title>Eliminar contenido</title> 
{% endblock %}
{% block contenido %}
<form method="post">
	{% csrf_token %}
	<h3 style="text-align: center;" >¿Desea eliminar el registro?</h3>	
	<div class="col-sm-12" style="position: absolute;
		/*nos posicionamos en el centro del navegador*/
		top:50%;
		left:50%;
		/*determinamos una anchura*/
		width:400px;
		/*indicamos que el margen izquierdo, es la mitad de la anchura*/
		margin-left:-100px;
		/*determinamos una altura*/
		height:300px;
		/*indicamos que el margen superior, es la mitad de la altura*/
		margin-top:-150px;
		/*border:1px solid #808080;*/
		padding:5px;" >
		<button class="btn btn-danger" type="submit" style="border-radius:6px" >Sí, eliminar</button>
		<a style="border-radius:6px" class= "btn btn-default" href="{% url 'ver_parallaxuno' %}">Cancelar</a>
	</div>
</form>
{% endblock %}