{% extends "index_admin.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../plugins/images/favicon.png">
    {% block titulo %}
    <title>Ver perfil deportista</title>
    {% endblock %}
    <!-- Bootstrap Core CSS -->
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="../plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <!-- Left navbar-header -->
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        {% block contenido %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        {% for u in deportista %}
                        <h4 class="page-title">{{u.first_name}} {{u.last_name}}</h4> </div>
                        {% endfor %}
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a ></a>
                        <ol class="breadcrumb">
                            <li><a href="{% url 'ver_deportista' %}">Deportistas</a></li>
                            <li class="active">Perfil Deportista</li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <!-- .row -->
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        {% for u in deportista %}
                        <div class="white-box">
                            <div class="user-bg"> 
                                <img width="100%" alt="user" src='/static/media/{{u.img_perfil}}'> 
                            </div>
                            <div class="user-btm-box">
                                <!-- .row -->
                                <!-- /.row -->
                                <div class="col-md-4 col-sm-4 text-center">
                                    <p class="text-purple"><i class="ti-facebook"></i></p>
                                    <h1></h1> </div>
                                <div class="col-md-4 col-sm-4 text-center">
                                    <p class="text-blue"><i class="ti-twitter"></i></p>
                                    <h1></h1> </div>
                                <div class="col-md-4 col-sm-4 text-center">
                                    <p class="text-danger"><i class="ti-google"></i></p>
                                    <h1></h1> </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <div class="white-box">
                            {% for u in deportista %}
                            <div class="row">
                                <div class="col-md-3 col-xs-6 b-r"> <strong>Cédula </strong>
                                    <br>
                                    <p class="text-muted">{{u.dni}}</p>
                                </div>
                                <div class="col-md-3 col-xs-6 b-r"><strong>Nombres</strong>
                                    <br>
                                    <p class="text-muted">{{u.first_name}}</p>
                                </div>
                                <div class="col-md-3 col-xs-6 b-r"> <strong>Apellidos</strong>
                                    <br>
                                    <p class="text-muted">{{u.last_name}}</p>
                                </div>
                                <div class="col-md-3 col-xs-6 b-r"> <strong>Teléfono</strong>
                                    <br>
                                    <p class="text-muted">{{u.telefono}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row" >
                                <div class="col-md-3 col-xs-6 b-r"> <strong>Celular</strong>
                                    <br>
                                    <p class="text-muted">{{u.celular}}</p>
                                </div>
                                <div class="col-md-3 col-xs-6 b-r"> <strong>Edad</strong>
                                    <br>
                                    <p class="text-muted">{{u.celular}}</p>
                                </div>
                                <div class="col-md-3 col-xs-6 b-r"> <strong>Género</strong>
                                    <br>
                                    <p class="text-muted">{{u.genero}}</p>
                                </div>
                                <div class="col-md-3 col-xs-6 b-r"> <strong>Usuario</strong>
                                    <br>
                                    <p class="text-muted">{{u.username}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row" >
                                <div class="col-md-3 col-xs-6 b-r"> <strong>Dirección</strong>
                                    <br>
                                    <p class="text-muted">{{u.direccion}}</p>
                                </div>
                                <div class="col-md-3 col-xs-6 b-r"> <strong>Estado</strong>
                                    <br>
                                    {% if u.is_active %}
                                    <p>
                                        <span class="label label-success label-rouded">Activo</span>
                                    </p>
                                    {% else %}
                                    <p>
                                        <span class="label label-danger label-rouded">Inactivo</span>
                                    </p>
                                    {% endif %}
                                </div>
                                <div class="col-md-3 col-xs-6 "> <strong>Email</strong>
                                    <br>
                                    <p class="text-muted">{{u.email}}</p>
                                </div>
                            </div>
                            <hr>

                            {% endfor %}
                            <div class="">
                            </div>
                          {% for u in disciplina %}
                            <div class="col-md-3 col-xs-6 "> <strong>Disciplinas</strong>
                                    <br>
                                    <p class="text-muted"></p>
                            </div>
                           {% endfor %}
                        </div>
                    </div>
                </div>
                </div>
                </div>
                {% endblock %}
                <!-- /.row -->
                <!-- .right-sidebar -->
                <!-- /.right-sidebar -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
</body>

</html>
