{% load static %}

<!DOCTYPE HTML>
<html lang="en-gb" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="With unique design and accent in details Maxx Fitness is perfect template. Design have beautiful typography and elegant structure. Joomla Template is based on Warp7 Framework and made for all who wants a lightweight and modular website.">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'plugins/images/favicon1.png' %}">
        
        {% block titulo %}
        <title>Acerca de - Gym Deos</title>
        {% endblock %}
        <!-- Favicon and Apple icon -->
        <link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
        <link href="apple_touch_icon.png" rel="apple-touch-icon-precomposed">
        
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"><!-- Bootstrap Styles -->
        <link href="{% static 'css/theme.css' %}" rel="stylesheet"><!-- Main Template Styles --> 
        <link href="{% static 'css/schedule.css' %}" rel="stylesheet"><!-- Schedule CSS -->
        <link href="{% static 'css/gallery.css' %}" rel="stylesheet"><!-- Gallery CSS -->
        <link href="{% static 'css/comments.css' %}" rel="stylesheet"><!-- Comments CSS -->
        <!-- <link href="{% static 'plugins/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet"> -->
        <!-- <link href="{% static 'plugins/bootstrap-extension/css/bootstrap-extension.css' %}" rel="stylesheet"> -->
    </head>
    <body class="tm-isblog">
        <div class="ak-page">
            <!-- START Main menu -->
            <nav class="tm-navbar uk-navbar uk-navbar-attached">
                <div class="uk-container uk-container-center">
                    <!-- START Logo -->
                    <!-- <ul">
                        <a href="{% url 'login' %}">Iniciar Sesion</a>
                    </ul> -->
                    <a class="tm-logo" href="{% url 'index' %}">
                        <span class="color-1">Deos</span><span class="color-2">Gym</span>
                    </a>
                    <!-- END Logo -->
                    <ul class="uk-navbar-nav uk-hidden-small">
                        <li class="uk-parent" data-uk-dropdown="{}" aria-haspopup="true" aria-expanded="false">
                            <a href="{% url 'index' %}">Inicio</a>
                        </li>
                        <!-- AQUI ESTA EL ERROR -->
                        
                       <li class=""><a href="{% url 'acerca' %}">Acerca de</a></li>
                        <li class="uk-parent" data-uk-dropdown="{}" aria-haspopup="true" aria-expanded="false">
                            <a href="{% url 'disciplina' %}">Disciplinas</a>
                            <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-2">
                                <div class="uk-grid uk-dropdown-grid">
                                    <div class="uk-width-1-2">
                                        <ul class="uk-nav uk-nav-navbar">
                                            <li class="uk-nav-header">
                                            </li>
                                            <li><a href="#">Taekwondo</a></li>
                                            <li><a href="#">Crosfit</a></li>
                                            <li><a href="#">Aeróbicos</a></li>
                                        </ul>
                                    </div>
                                    <div class="uk-width-1-2">
                                        <ul class="uk-nav uk-nav-navbar">
                                            <li class="uk-nav-header">
                                            </li>
                                            <li><a href="#">MMA</a></li>
                                            <li><a href="#">Bailoterapia</a></li>
                                            <li><a href="#">Fisico Culturismo</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="{% url 'horario' %}">Horarios</a></li>
                        <li><a href="{% url 'entrenador' %}">Entrenadores</a></li>
                        <li><a href="{% url 'producto' %}">Productos</a></li>
                        <li><a href="{% url 'galeria' %}">Galería</a></li>
                        <li><a href="{% url 'ubicacion' %}">Contactos</a></li>
                        <!-- <li><a href="">Inscripciones</a></li> -->
                        <li><a href="{% url 'preinscripcion' %}">Preinscripciones</a></li>
                    </ul>
                    <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
                </div>
            </nav>
            <!-- END Main menu -->
            
            <!-- START Central block -->
            {% block contenido %}
            <div class="uk-container uk-container-center">
                <div class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
                    <div class="tm-main uk-width-medium-1-2 uk-push-1-4" style="min-height: 2258px;">
                        <main class="tm-content uk-position-relative">
                            <!-- START breadcrumb block -->
                            <ul class="uk-breadcrumb">
                                <li><a href="{% url 'index' %}">Inicio</a></li>
                                <li class="uk-active"><span>Acerca</span></li>
                            </ul>
                            <!-- END breadcrumb block -->
                            <div id="system-message-container"></div>
                            <!-- START Dummy item block -->
                            {% for a in acerca %}
                            <article class="uk-article">
                                <h1 class="uk-article-title">
                                    {{a.titulo}}            
                                </h1>
                                <div>
                                    <p align="justify">{{ a.descripcion|safe }}</p>
                                    <div class="uk-grid">
                                        <div class="uk-width-1-1" data-uk-margin="">
                                            <div class="uk-button-group">
                                                <div data-uk-dropdown="{mode:'click'}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="uk-grid-divider">
                                </div>
                            </article>
                            {% endfor %}
                            <!-- END Dummy item block -->
                        </main>
                    </div>
                    <!-- START sidebar-a block -->
                    {% for a in acerca %}
                    <aside class="tm-sidebar-a uk-width-medium-1-4 uk-pull-1-2">
                        <div class="uk-panel uk-panel-box">
                            <div class="uk-panel-badge uk-badge uk-badge-warning">Misión</div>
                            <h3 class="uk-panel-title"><i class="uk-icon-check-square-o"></i> Misión</h3>
                            <p align="justify">{{a.mision}}</p>
                        </div>
                        <div class="uk-panel uk-panel-box uk-panel-box-primary">
                            <div class="uk-panel-badge uk-badge uk-badge-success">Visión</div>
                            <h3 class="uk-panel-title"><i class="uk-icon-check-square-o"></i> Visión</h3>
                            <p align="justify">{{a.vision}}</p>
                        </div>
                        <div class="uk-panel uk-panel-header">
                            <div class="uk-panel-badge uk-badge uk-badge-danger">Valores</div>
                            <h3 class="uk-panel-title"><i class="uk-icon-check-square-o"></i> Valores</h3>
                            <p>{{a.valores|safe}}</p>
                        </div>
                    </aside>
                    <!-- END sidebar-a block -->
                    
                    <!-- START sidebar-b block -->
                    <aside class="tm-sidebar-b uk-width-medium-1-4">
                        <div class="uk-panel uk-panel-box">
                            <div class="uk-panel-badge uk-badge uk-badge-danger">Participaciones</div>
                            <h3 class="uk-panel-title"><i class="uk-icon-check-square-o"></i>  Participaciones</h3>
                            <p align="justify">{{a.logros|safe}}</p>
                        </div>
                    </aside>
                    <!-- END sidebar-b block -->
                    {% endfor %}
                </div>
            </div>
            {% endblock %}
            <!-- END Central block -->

            <!-- START Social block -->
            {% block social %}
            <div class="tm-block tm-block-social">
                <div class="uk-container uk-container-center">
                    <div class="uk-panel ak-social">
                        <ul class="uk-subnav uk-subnav-line uk-text-center">
                            <li><a href="https://www.facebook.com/DEOS-GYM-248093995385295/" target="_blank">
                                <img src="{% static 'images/facebook.png' %}">
                            </a></li>
                            <li><a href="https://twitter.com/" target="_blank">
                                <img src="{% static 'images/twitter.png' %}">
                            </a></li>
                            <li><a href="https://www.instagram.com/deos_gym/" target="_blank">
                                <img src="{% static 'images/instagram.png' %}">
                            </a></li>
                            <li><a href="https://plus.google.com/" target="_blank">
                                <img src="{% static 'images/google+.png' %}">
                            </a></li>
                            <!-- <li><a href="https://www.linkedin.com/" target="_blank">Linkedin</a></li> -->
                            <!-- <li><a href="http://www.skype.com/" target="_blank">Skype</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            {% endblock %}
            <!-- END Social block -->

            <!-- START Footer block -->
            <div class="ak-footer">
                <div class="uk-container uk-container-center">
                    <footer class="tm-footer uk-grid tm-footer uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                        <!-- START Footer About MaxxFitness block -->
                        <div class="uk-hidden-small uk-hidden-medium uk-width-large-1-3">
                            <div class="uk-panel uk-hidden-medium uk-hidden-small" style="min-height: 316px;">
                                <h3 class="uk-panel-title">Club Deportivo DEOS </h3>
                                <p>Contamos con las mejores instalaciones y los horarios mas adecuados 
                                para tus entrenamientos.</p>
                                <p>Loja,  Ramón Pinto <br>entre Azuay y Miguel Riofrio<br> <br> T: 072 586597</p>
                                <div class="ak-copyright">Gym Deos 2018 DESARROLLADO POR M.A.C.C</div>
                            </div>
                        </div>
                        <!-- END Footer About MaxxFitness block -->
                        
                        <!-- START Opening Hours block -->
                        <div class="uk-hidden-small uk-width-medium-1-2 uk-width-large-1-3">
                            <div class="uk-panel uk-hidden-small" style="min-height: 316px;">
                                <h3 class="uk-panel-title">Horario de Atención</h3>
                                <div class="uk-grid">
                                    <div class="uk-width-1-3">
                                        <p style="line-height: 2;">
                                            Lunes<br>
                                            Martes<br>
                                            Miercoles<br>
                                            Jueves<br>
                                            Viernes<br>
                                        </p>
                                    </div>
                                    <div class="uk-width-2-3">
                                        <p style="line-height: 2;">
                                            08:30AM - 21:00PM<br> 
                                            08:30AM - 21:00PM<br> 
                                            08:30AM - 21:00PM<br>
                                            08:30AM - 21:00PM<br>
                                            08:30AM - 21:00PM<br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Opening Hours block -->
                        
                        <!-- START Request a 1 Day Free Trial block -->
                        <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-3">
                            <div class="uk-panel" style="min-height: 316px;">
                                <h3 class="uk-panel-title">Contactanos</h3>
                                <div id="aiContactSafe_form_1">
                                    <div class="aiContactSafe" id="aiContactSafe_mainbody_1">
                                        <div class="contentpaneopen">
                                            <div id="aiContactSafeForm">
                                                <form action="" method="post" name="" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div id="displayAiContactSafeForm_1">
                                                        <div class="aiContactSafe" id="aiContactSafe_contact_form">
                                                            <div class="aiContactSafe_row">
                                                                <div class="aiContactSafe_contact_form_field_label_left"><span class="aiContactSafe_label" id="aiContactSafe_label_aics_name"><label for="aics_name">Nombre</label></span>&nbsp;<label class="required_field">*</label></div>
                                                                <div class="aiContactSafe_contact_form_field_right"><input type="text" name="aics_name" id="aics_name" class="textbox" value=""></div>
                                                            </div>
                                                            <div class="aiContactSafe_row">
                                                                <div class="aiContactSafe_contact_form_field_label_left"><span class="aiContactSafe_label" id="aiContactSafe_label_aics_email"><label for="aics_email">Email</label></span>&nbsp;<label class="required_field">*</label></div>
                                                                <div class="aiContactSafe_contact_form_field_right"><input type="text" name="aics_email" id="aics_email" class="email" value=""></div>
                                                            </div>
                                                            <div class="aiContactSafe_row">
                                                                <div class="aiContactSafe_contact_form_field_label_left"><span class="aiContactSafe_label" id="aiContactSafe_label_aics_phone"><label for="aics_phone">Telefóno</label></span>&nbsp;</div>
                                                                <div class="aiContactSafe_contact_form_field_right"><input type="text" name="aics_phone" id="aics_phone" maxlength="25" class="textbox" value=""></div>
                                                            </div>
                                                            <div class="aiContactSafe_row">
                                                                <div class="aiContactSafe_contact_form_field_label_left"><span class="aiContactSafe_label" id="aiContactSafe_label_aics_datatime"><label for="aics_datatime">Mensaje</label></span>&nbsp;<label class="required_field">*</label></div>
                                                                <div class="aiContactSafe_contact_form_field_right"><input type="text" name="aics_datatime" id="aics_datatime" class="editbox" value=""></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div id="aiContactSafeBtns">
                                                        <div id="aiContactSafeButtons_right" >
                                                            <div id="aiContactSafeSend">
                                                                <input href="#" type="submit" id="aiContactSafeSendButton" value="Enviar" >
                                                                <div id="aiContactSafeSend_loading_1"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Request a 1 Day Free Trial block -->
                        
                    </footer>
                </div>
            </div>
            <!-- END Footer block -->

            <!-- START Mobile menu block -->
            <div id="offcanvas" class="uk-offcanvas">
                <div class="uk-offcanvas-bar">
                    <ul class="uk-nav uk-nav-offcanvas">
                        <li class="uk-parent uk-active">
                            <a href="{% url 'index' %}">Inicio</a>
                            <ul class="uk-nav-sub">
                            </ul>
                        </li>
                        <li><a href="{% url 'acerca' %}">Acerca</a></li>
                        <li><a href="{% url 'horario' %}">Horarios</a></li>
                        <li class="uk-parent">
                            <a href="{% url 'disciplina' %}">Disciplinas</a>
                            <ul class="uk-nav-sub">
                                <li><a href="classes/swimming.html">Taekwondo</a></li>
                                <li><a href="classes/swimming.html">Crosfit</a></li>
                                <li><a href="classes/swimming.html">Aeróbicos</a></li>
                                <li><a href="classes/swimming.html">MMA</a></li>
                                <li><a href="classes/swimming.html">Bailoterapia</a></li>
                                <li><a href="classes/swimming.html">Fisico Culturismo</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'entrenador' %}">Entrenadores</a></li>
                        <li><a href="{% url 'producto' %}">Productos</a></li>
                        <li><a href="{% url 'galeria' %}">Galeria</a></li>
                        <li><a href="{% url 'ubicacion' %}">Contacto</a></li>
                        <li><a href="{% url 'index' %}">Inscripciones</a></li>
                    </ul>
                </div>
            </div>
            <!-- END Mobile menu block -->            
        </div>
        <script type="text/javascript">
            $(function () {
                var inf=0;
                var sup=0;
                var tota='{{news1}}';
                // alert(tota);
                pages=Math.ceil(tota/4);
                // alert(pages)
                window.pagObj = $('#pagination').twbsPagination({
                    totalPages: pages,
                    visiblePages: 4,
                    onPageClick: function (event, page) {
                        console.info(page + ' (from options)');
                        if (page==1) {
                            inf=1;
                            sup=4;
                        } else {
                            sup=page*4;
                            inf=sup-3;
                        }
                        // alert(sup+' '+inf);
                        $.ajax({
                            type: 'GET',
                            url: '/json/'+inf+'/'+sup+'/',
                            dataType: "json",
                            beforeSend: function(){
                                //imagen de carga
                                $("#pagi-noticias").html("<p align='center'><img src='ajax-loader.gif' /></p>");
                            },
                            error: function(){
                                alert("error petición ajax");
                            },
                            success:function(data){
                                $('#pagi-noticias').empty();

                                $.each(data, function(i, item) {
                                    console.log(item);

                                    $('#pagi-noticias').append( '<div class="blog-list-item blog-item format-standard">'+
                                      '<div class="row">'+
                                        '<div class="col-md-6 col-sm-6">'+
                                            '<a href="/static/media/'+item.imagen+'" class="magnific-image"><img src="/static/media/'+item.imagen+'" alt=""></a>'+
                                            '<div class="post-item-meta">'+
                                                '<i class="fa fa-clock-o"></i>'+item.fecha+
                                            '</div>'+
                                        '</div>'+
                                        '<div class="col-md-6 col-sm-6">'+
                                            '<h4><a href="single-news.html">'+item.titulo+
                                            '</a></h4>'+
                                            '<p >'+item.descripcion+'</p>'+
                                            '<a style="border-radius:10px;" href="/single_news/'+item.id_galeria+'" class="btn btn-default btn-ghost btn-dark btn-sm">Ver más</a>'+
                                        '</div>'+
                                        '</div>'+
                                    '</div>');
                                });
                            }
                        });
                    }
                }).on('page', function (event, page) {
                    console.info(page + ' (from event listening)');
                });
            });
        </script>

        <!-- JS -->
        <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script><!-- jQuery v1.11.2 -->
        <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script><!-- Bootstrap.js Custom version for HTML! -->
        
        <!-- UIkit Version 2.19.0 -->
        <script src="{% static 'js/uikit/js/uikit.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/uikit/js/components/slideshow.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/uikit/js/components/slideshow-fx.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/uikit/js/core/cover.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/uikit/js/core/modal.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/uikit/js/components/lightbox.js' %}" type="text/javascript"></script>
        
        <!-- Animated circular progress bars -->
        <script src="{% static 'js/circle-progress.js' %}" type="text/javascript"></script>
        
        <!-- START Schedule block -->
        <script src="{% static 'js/jquery.mousewheel.js' %}" type="text/javascript"></script><!-- Uses for Schedule -->
        <script src="{% static 'js/jquery.jscrollpane.min.js' %}" type="text/javascript"></script><!-- Uses for Schedule -->
        <!-- END Schedule block -->
        <script src="{% static 'plugins/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <!-- <script src="{% static 'datepicker/bootstrap-datetimepicker.min.js' %}"></script> -->
        <script src="{% static 'plugins/bootstrap-extension/js/bootstrap-extension.min.js' %}"></script>
        <!-- Template scripts -->
        <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
        
    </body>
</html> 