{% extends "about.html" %}
{% load static %}

<!DOCTYPE HTML>
<html lang="en-gb" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="With unique design and accent in details Maxx Fitness is perfect template. Design have beautiful typography and elegant structure. Joomla Template is based on Warp7 Framework and made for all who wants a lightweight and modular website.">
        {% block titulo %}
        <title>Disciplinas - Gym Deos</title>
        {% endblock %}
        
        <!-- Favicon and Apple icon -->
        <link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
        <link href="apple_touch_icon.png" rel="apple-touch-icon-precomposed">
        
    </head>
    <body class="tm-isblog tm-page-classes">
        <div class="ak-page">
            <!-- START Main menu -->
                    <!-- START Logo -->
                       <li class="uk-active"><a href="{% url 'acerca' %}">Acerca de</a></li>
                    <!-- END Logo -->
            <!-- END Main menu -->
            
            
            <!-- START Central block -->
            {% block contenido %}
            <div class="uk-container uk-container-center">
                <div class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
                    <div class="tm-main uk-width-medium-1-1">
                        <main class="tm-content uk-position-relative">
                            <!-- START breadcrumb block -->
                            <ul class="uk-breadcrumb">
                                <li><a href="{% url 'index' %}">Inicio</a></li>
                                <li class="uk-active"><span>Disciplinas</span></li>
                            </ul>
                            <!-- END breadcrumb block -->
                            
                            <div id="system-message-container"></div>
                            
                            
                            <div class="uk-grid">
                                <div class="uk-width-1-1">
                                    <div class="uk-panel uk-panel-header">
                                        <h1 class="tm-title">Disciplinas</h1>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- START Article Blog block -->
                            <div class="uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
                                {% for a in disciplina %}
                                <div class="uk-width-medium-1-2">
                                    <!-- START Article 1 block -->
                                    <article class="uk-article">
                                        <h2 class="uk-article-title">
                                            <a href="{% url 'leer_disciplina' %}" title="{{a.nombre}}">{{a.nombre}}</a>
                                        </h2>
                                        <div>
                                            <div class="uk-panel tm-classes">
                                                <div class="uk-cover-background uk-position-relative" style="background-image: url('static/media/{{a.imagen}}');">
                                                    <img src='/static/media/{{a.imagen}}' class="" width="610" height="640" alt="5 Unique Workauts to Improve your Deadlift">
                                                    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom">
                                                        <div class="ak-overlay-classes uk-width-1-1">
                                                            <div class="" data-circle-value="">
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="jcomments-links"><a class="readmore-link" href="{% url 'preinscripcion' %}" title="Swimming">Inscríbete</a>  </div>
                                        </div>
                                    </article>
                                    <!-- END Article 1 block -->
                                    <!-- END Article 6 block -->
                                </div>
                                {% endfor %}
                            </div>
                            <!-- END Article Blog block -->
                        </main>
                    </div>
                </div>
            </div>
            {% endblock %}
            <!-- END Central block -->
            
            
            <!-- START Social block -->
            <!-- END Social block -->
            
            <!-- START Footer block -->
                        <!-- START Footer About MaxxFitness block -->
                        <!-- END Footer About MaxxFitness block -->
                        
                        <!-- START Opening Hours block -->
                        <!-- END Opening Hours block -->
                        
                        <!-- START Request a 1 Day Free Trial block -->
                        <!-- END Request a 1 Day Free Trial block -->
            <!-- END Footer block -->
            
            <!-- START Mobile menu block -->
            <!-- END Mobile menu block -->            
        </div>
        
        <script src="js/jquery.min.js" type="text/javascript"></script><!-- jQuery v1.11.2 -->
        <script src="js/bootstrap.min.js" type="text/javascript"></script><!-- Bootstrap.js Custom version for HTML! -->
        
        <!-- UIkit Version 2.19.0 -->
        <script src="js/uikit/js/uikit.js" type="text/javascript"></script>
        <script src="js/uikit/js/components/slideshow.js" type="text/javascript"></script>
        <script src="js/uikit/js/components/slideshow-fx.js" type="text/javascript"></script>
        <script src="js/uikit/js/core/cover.js" type="text/javascript"></script>
        <script src="js/uikit/js/core/modal.js" type="text/javascript"></script>
        <script src="js/uikit/js/components/lightbox.js" type="text/javascript"></script>
        
        <!-- Animated circular progress bars -->
        <script src="js/circle-progress.js" type="text/javascript"></script>
        
        <!-- START Schedule block -->
        <script src="js/jquery.mousewheel.js" type="text/javascript"></script><!-- Uses for Schedule -->
        <script src="js/jquery.jscrollpane.min.js" type="text/javascript"></script><!-- Uses for Schedule -->
        <!-- END Schedule block -->
        
        <!-- Template scripts -->
        <script src="js/script.js" type="text/javascript"></script>
        
    </body>
</html>