{% extends "about.html" %}
{% load static %}

<!DOCTYPE HTML>
<html lang="en-gb" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="With unique design and accent in details Maxx Fitness is perfect template. Design have beautiful typography and elegant structure. HTML Template is based on Warp7 Framework and made for all who wants a lightweight and modular website.">
        {% block titulo %}
        <title>Galería - Gym Deos</title>
        {% endblock %}
        
        <!-- Favicon and Apple icon -->
        <link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
        <link href="apple_touch_icon.png" rel="apple-touch-icon-precomposed">
        
        <link href="css/bootstrap.css" rel="stylesheet"><!-- Bootstrap Styles -->
        <link href="css/theme.css" rel="stylesheet"><!-- Main Template Styles -->
        <link href="css/schedule.css" rel="stylesheet"><!-- Schedule CSS -->
        <link href="css/gallery.css" rel="stylesheet"><!-- Gallery Styles -->
        
    </head>
    <body class="tm-isblog">
        <div class="ak-page">
            <!-- START Main menu -->
                    <!-- START Logo -->
                    <!-- END Logo -->
            <!-- END Main menu -->
            
            <!-- START Central block -->
            {% block contenido %}
            <div class="uk-container uk-container-center">
                <div class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
                    <div class="tm-main uk-width-medium-1-1">
                        <main class="tm-content uk-position-relative">
                            <!-- START breadcrumb block -->
                            <ul class="uk-breadcrumb">
                                <li><a href="">Inicio</a></li>
                                <li class="uk-active"><span>Galería</span></li>
                            </ul>
                            <!-- END breadcrumb block -->
                            
                            <div id="system-message-container"></div>
                            
                            <!-- START Gallery block -->
                            <article class="uk-article">
                                <h1 class="uk-article-title">
                                    Galería
                                </h1>
                                <div>
                                    <div>
                                        <div id="rg-151" class="rokgallery-wrapper">
                                            <div class="rg-gm-container cols3">
                                                <div class="rg-gm-slice-container">
                                                    <div class="uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
                                                    {% for a in galeria %}
                                                    <div class="uk-width-medium-1-2">
                                                        <article class="uk-article ">
                                                            <h2 class="uk-article-title">
                                                                <a href="" title="">{{a.titulo}}</a>
                                                            </h2>
                                                            <!-- <a class="uk-align-left" href="#" title=""> -->
                                                            <a class="uk-align-left" data-uk-lightbox="{group:'gallery-group'}" title="{{a.titulo}}" href='/static/media/{{a.imagen}}'>
                                                            <img title="Armwrestling" alt="Armwrestling" src='/static/media/{{a.imagen}}' style="width: 320px;height: 320px;"></a>
                                                            <a>{{a.fecha}}</a>
                                                            <!-- <img style="width: 320px;height: 320px;" src='/static/media/{{a.imagen}}'  alt=""></a> -->
                      
                                                            <div>
                                                                <p align="justify" >{{a.descripcion}}</p>
                                                                <div class="jcomments-links">
                                                                <a class="readmore-link" href="#" title="#"></a>
                                                                </div>
                                                            </div>
                                                        </article>
                                                    </div>
                                                    {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!-- END Gallery block -->
                        </main>
                        <!-- <nav >
                            <div class="center-block">
                                <ul class="pagination">
                                    <li class="disable"><a href="#">&laquo; <span class="sr-only" >Anterior</span></a> </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">&raquo;<span class="sr-only">Siguiente</span></a></li>
                                </ul>
                            </div>
                        </nav> -->
                    </div>
                </div>
            </div>
            {% endblock %}
            <!-- END Central block -->
            
            
            <!-- START Social block -->
            <!-- END Social block -->
            
            <!-- START Footer block -->
                        <!-- START Footer About MaxxFitness block -->
                        <!-- END Footer About MaxxFitness block -->
                        
                        <!-- START Opening Hours block -->
                        <!-- END Opening Hours block -->
                        
                        <!-- START Request a 1 Day Free Trial block -->
                        <!-- END Request a 1 Day Free Trial block -->
            <!-- END Footer block -->
            
            <!-- START Mobile menu block -->
            <!-- END Mobile menu block -->            
            
        </div>
        
        <script src="js/jquery.min.js" type="text/javascript"></script><!-- jQuery v1.11.2 -->
        <script src="js/bootstrap.min.js" type="text/javascript"></script><!-- Bootstrap.js Custom version for HTML! -->
        
        <!-- UIkit Version 2.19.0 -->
        <script src="js/uikit/js/uikit.js" type="text/javascript"></script>
        <script src="js/uikit/js/components/slideshow.js" type="text/javascript"></script>
        <script src="js/uikit/js/components/slideshow-fx.js" type="text/javascript"></script>
        <script src="js/uikit/js/core/cover.js" type="text/javascript"></script>
        <script src="js/uikit/js/core/modal.js" type="text/javascript"></script>
        <script src="js/uikit/js/components/lightbox.js" type="text/javascript"></script>
        
        <!-- Animated circular progress bars -->
        <script src="js/circle-progress.js" type="text/javascript"></script>
        
        <!-- START Schedule block -->
        <script src="js/jquery.mousewheel.js" type="text/javascript"></script><!-- Uses for Schedule -->
        <script src="js/jquery.jscrollpane.min.js" type="text/javascript"></script><!-- Uses for Schedule -->
        <!-- END Schedule block -->
        
        <!-- Template scripts -->
        <script src="js/script.js" type="text/javascript"></script>    
        
    </body>
</html>