
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'plugins/images/favicon1.png' %}">
    {% block titulo %}
    <title>Administración</title> 
    {% endblock %}
    <!-- slect2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'plugins/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bootstrap-extension/css/bootstrap-extension.css' %}" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="{% static 'plugins/sidebar-nav/dist/sidebar-nav.min.css' %}" rel="stylesheet">
    <!-- Morris CSS -->
    <link href="{% static 'plugins/morrisjs/morris.css' %}" rel="stylesheet">
    <!-- animation CSS -->
    <link href="{% static 'plugins/css/animate.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'plugins/css/style.css' %}" rel="stylesheet">
    <!-- poup -->
    <!-- color CSS -->
    <link href="{% static 'plugins/css/colors/megna.css' %}" id="theme" rel="stylesheet">
    <!-- user csss -->
    <link href="{% static 'plugins/bootstrap-extension/css/bootstrap-extension.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/datatables/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <!-- poup -->
    <link href="{% static 'plugins/Magnific-Popup-master/dist/magnific-popup.css' %}" rel="stylesheet">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- TIMEPICKER -->
    <!--  jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

    <!-- Bootstrap Date-Picker Plugin -->
  <!--   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <script>
    $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
    </script> -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso12.css" /> 

    <!--Font Awesome (added because you use icons in your prepend/append)-->
    <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />

    <!-- Inline CSS based on choices in "Settings" tab -->
    <style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}</style>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Include Date Range Picker -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <script>
        $(document).ready(function(){
            var date_input=$('input[name="date"]'); //our date input has the name "date"
            var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
            date_input.datepicker({
                format: 'mm/dd/yyyy',
                container: container,
                todayHighlight: true,
                autoclose: true,
            })
        })
    </script>

    <!-- DataTables -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o), m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-19175540-9', 'auto');
    ga('send', 'pageview');
    </script>
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                <div class="top-left-part"><a class="logo" href="{% url 'index_admin' %}"><b><img src="{% static 'plugins/images/eliteadmin-logo.png' %}" alt="home" /></b><span class="hidden-xs"><strong></strong></span></a></div>
                <ul class="nav navbar-top-links navbar-left hidden-xs">
                    <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>
                    <li>
                        <form role="search" class="app-search hidden-xs">
                            <input type="text" placeholder="Buscar..." class="form-control"> <a href=""><i class="fa fa-search"></i></a> 
                        </form>
                    </li>
                </ul>
                <ul class="nav navbar-top-links navbar-right pull-right">
                        <!-- /.dropdown-messages -->
                    <!-- /.dropdown -->
                    <!-- /.dropdown -->
                    {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"> 
                            <!-- <img src='{{ request.user.img_perfil.url }}' alt="{{ request.user.username }}"  class="circle responsive-img valign profile-image"> -->
                            <b class="hidden-xs"> Bienvevido {{user}}</b> </a>
                        <ul class="dropdown-menu dropdown-user animated flipInY">
                            <!-- <li><a href="javascript:void(0)"><i class="ti-user"></i> Perfil </a></li> -->
                            <!-- <li><a href="javascript:void(0)"><i class="ti-settings"></i>  Cambiar contraseña </a></li> -->
                            <li><a href="{% url 'logout' %}"><i class="fa fa-power-off"></i>  Salir</a></li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Left navbar-header -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse slimscrollsidebar" >
                <ul class="nav" id="side-menu" >
                    <li class="sidebar-search hidden-sm hidden-md hidden-lg" >
                        <!-- input-group -->
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn">
                            <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
                            </span> </div>
                        <!-- /input-group -->
                    </li>
                    <li class="user-pro">
                        <a href="#" class="waves-effect"><span class="hide-menu">
                        <span class="fa arrow"></span></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <!-- <li><a href="javascript:void(0)"><i class="ti-user"></i> Mi perfil</a></li> -->
                            <!-- <li><a href="javascript:void(0)"><i class="ti-settings"></i>Cambiar contraseña</a></li> -->
                            <li><a href="{% url 'logout' %}"><i class="fa fa-power-off"></i> Salir</a></li>
                        </ul>
                    </li>

                    {% for group in user.groups.all %}
                      {% if group.name == 'Administrador' %}
                           {# Content for users with 'Administrador' group #}
                           <label>Administrador</label>
                            <li class="nav-small-cap m-t-10">---Menú Principal</li>
                            <li> <a href="{% url 'index_admin' %}" class="waves-effect"><i class="fa fa-home fa-lg" data-icon="v" ></i> <span class="hide-menu"> Inicio </span></a></li>
                            <li class="nav-small-cap">--- Administración</li>
                            <li> <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-users fa-lg" ></i> <span class="hide-menu"> Adm. Usuarios <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-second-level">
                                    <li> <a href="{% url 'ver_usuario' %}">Usuarios</a> </li>
                                    <li> <a href="{% url 'nuevo_usuario' %}">Añadir Usuario</a> </li>
                                </ul>
                            </li>
                            
                            <li> <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-bars fa-lg"></i> <span class="hide-menu"> Adm. Disciplinas <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-second-level">
                                    <li> <a href="{% url 'ver_disciplina' %}">Disciplinas</a> </li>
                                    <li> <a href="{% url 'nueva_disciplina' %}">Añadir Disciplina</a> </li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0);" class="waves-effect"><i class="ti-alarm-clock"></i> <span class="hide-menu"> Adm. Horarios <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-second-level">
                                    <li> <a href="{% url 'ver_horario' %}">Horarios</a> </li>
                                    <li> <a href="{% url 'nuevo_horario' %}">Añadir Horario</a> </li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0);" class="waves-effect"><i class=" fa fa-male fa-lg"></i> <span class="hide-menu"> Adm. Instructores <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-second-level">
                                    <li> <a href="{% url 'ver_instructor' %}">Instructores</a> </li>
                                    <li> <a href="{% url 'nuevo_instructor' %}">Añadir Instructor</a> </li>
                                </ul>
                            </li>
                            <li> <a href="{% url 'ver_disciplinahorario' %}" class="waves-effect"><i class="fa fa-calendar fa-lg"></i> <span class="hide-menu">Adm. Disciplinas-Horarios</span></a> </li>
                            <li> <a href="javascript:void(0);" class="waves-effect"><i class="fa  fa-child fa-lg"></i> <span class="hide-menu"> Adm. Deportistas <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-second-level">
                                    <li> <a href="{% url 'ver_deportista' %}">Deportistas</a> </li>
                                    <li> <a href="{% url 'nuevo_deportista1' %}">Añadir Deportista</a> </li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-list-alt fa-lg" ></i> <span class="hide-menu"> Adm. Matrículas <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-second-level">
                                    <li> <a href="{% url 'ver_matricula' %}">Matrículas</a> </li>
                                    <li> <a href="{% url 'nueva_matricula' %}">Añadir Matrícula</a> </li>
                                    <!-- <li> <a href="#"> Matrícula</a> </li> -->
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-credit-card fa-lg"></i> <span class="hide-menu"> Mensualidades <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-second-level">
                                    <li> <a href="{% url 'ver_mensualidad' %}">Mensualidades</a></li>
                                    <li> <a href="{% url 'nueva_mensualidad' %}">Añadir Mensualidad</a></li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-bar-chart fa-lg"></i> <span class="hide-menu"> Reportes <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-second-level">
                                    <li> <a href="{% url 'buscar_usuario' %}">Matrículas</a></li>
                                    <!-- <li> <a href="income-report.html">Income Report</a></li> -->
                                    <!-- <li> <a href="expense-report.html">Expense Report</a></li> -->
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-users fa-lg" ></i> <span class="hide-menu"> Grupos <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-second-level">
                                    <li> <a href="{% url 'ver_grupos' %}">Grupos</a></li>
                                    <!-- <li> <a href="income-report.html">Income Report</a></li> -->
                                    <!-- <li> <a href="expense-report.html">Expense Report</a></li> -->
                                </ul>
                            </li>
                            <li class="nav-small-cap">-- Configuración del sitio web</li>
                            <li> <a href="#" class="waves-effect"><i data-icon="&#xe008;" class="fa fa-laptop fa-lg"></i> <span class="hide-menu">Gest. de Contenidos<span class="fa arrow"></span><span class=""></span></span></a>
                                <ul class="nav nav-second-level">
                                    <li><a href="javascript:void(0)" class="waves-effect">Página de Inicio
                                    <span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            <li><a href="{% url 'ver_inicio' %}">Slider</a></li>
                                            <li><a href="{% url 'ver_parallax' %}">Contenido uno</a></li>
                                            <li><a href="{% url 'ver_parallaxuno' %}">Contenido dos</a></li>
                                            <li><a href="{% url 'ver_parallaxdos' %}">Contenido tres</a></li>
                                            <li><a href="{% url 'ver_destacados' %}">Deportistas destacados</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'ver_acerca' %}">Acerca de</a></li>
                                    <li><a href="{% url 'ver_producto' %}">Productos</a></li>
                                    <li><a href="{% url 'ver_galeria' %}">Galeria</a></li>
                                    <li><a href="{% url 'ver_contacto' %}">Contactos</a></li>
                                </ul>
                            </li>
                            <li class="nav-small-cap">--- Salir</li>
                            <li><a href="{% url 'logout' %}" class="waves-effect"><i class="fa fa-sign-out fa-lg"></i> <span class="hide-menu">Cerrar sesión</span></a></li>
                            {% endif %}
                            {% if group.name == 'Usuarios'  %}
                            {# Content for users with 'Usuarios' group #}
                            <label>Usuarios</label>
                            <li class="nav-small-cap m-t-10">Usuario</li>
                            <li> <a href="javascript:void(0);" class="waves-effect"><i class="fa  fa-child fa-lg"></i> <span class="hide-menu"> Adm. Deportistas <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-second-level">
                                    <li> <a href="{% url 'ver_deportista' %}">Deportistas</a> </li>
                                    <li> <a href="{% url 'nuevo_deportista1' %}">Añadir Deportista</a> </li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-list-alt fa-lg" ></i> <span class="hide-menu"> Adm. Matrículas <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-second-level">
                                    <li> <a href="{% url 'ver_matricula' %}">Matrículas</a> </li>
                                    <li> <a href="{% url 'nueva_matricula' %}">Añadir Matrícula</a> </li>
                                    <!-- <li> <a href="#"> Matrícula</a> </li> -->
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-credit-card fa-lg"></i> <span class="hide-menu"> Mensualidades <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-second-level">
                                    <li> <a href="{% url 'ver_mensualidad' %}">Mensualidades</a></li>
                                    <li> <a href="{% url 'nueva_mensualidad' %}">Añadir Mensualidad</a></li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-bar-chart fa-lg"></i> <span class="hide-menu"> Reportes <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-second-level">
                                    <li> <a href="{% url 'buscar_usuario' %}">Matrículas</a></li>
                                    <!-- <li> <a href="income-report.html">Income Report</a></li> -->
                                    <!-- <li> <a href="expense-report.html">Expense Report</a></li> -->
                                </ul>
                            </li>

                            <li class="nav-small-cap">--- Salir</li>
                            <li><a href="{% url 'logout' %}" class="waves-effect"><i class="fa fa-sign-out fa-lg"></i> <span class="hide-menu">Cerrar sesión</span></a></li>
                            {% endif %}
                            {% if group.name == 'SuperUsuarios' %}
                           {# Content for users with 'SuperUsuarios' group #}
                           <label>Superusuario</label>
                            <li class="nav-small-cap m-t-10">---Menú Principal</li>
                            <li> <a href="{% url 'index_admin' %}" class="waves-effect"><i class="fa fa-home fa-lg" data-icon="v" ></i> <span class="hide-menu"> Inicio </span></a></li>
                            <li class="nav-small-cap">--- Administración</li>
                            <li> <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-users fa-lg" ></i> <span class="hide-menu"> Adm. Usuarios <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-second-level">
                                    <li> <a href="{% url 'ver_usuario' %}">Usuarios</a> </li>
                                    <li> <a href="{% url 'nuevo_usuario' %}">Añadir Usuario</a> </li>
                                </ul>
                            </li>
                            
                            <li> <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-bars fa-lg"></i> <span class="hide-menu"> Adm. Disciplinas <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-second-level">
                                    <li> <a href="{% url 'ver_disciplina' %}">Disciplinas</a> </li>
                                    <li> <a href="{% url 'nueva_disciplina' %}">Añadir Disciplina</a> </li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0);" class="waves-effect"><i class="ti-alarm-clock"></i> <span class="hide-menu"> Adm. Horarios <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-second-level">
                                    <li> <a href="{% url 'ver_horario' %}">Horarios</a> </li>
                                    <li> <a href="{% url 'nuevo_horario' %}">Añadir Horario</a> </li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0);" class="waves-effect"><i class=" fa fa-male fa-lg"></i> <span class="hide-menu"> Adm. Instructores <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-second-level">
                                    <li> <a href="{% url 'ver_instructor' %}">Instructores</a> </li>
                                    <li> <a href="{% url 'nuevo_instructor' %}">Añadir Instructor</a> </li>
                                </ul>
                            </li>
                            <li> <a href="{% url 'ver_disciplinahorario' %}" class="waves-effect"><i class="fa fa-calendar fa-lg"></i> <span class="hide-menu">Adm. Disciplinas-Horarios</span></a> </li>
                            <li> <a href="javascript:void(0);" class="waves-effect"><i class="fa  fa-child fa-lg"></i> <span class="hide-menu"> Adm. Deportistas <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-second-level">
                                    <li> <a href="{% url 'ver_deportista' %}">Deportistas</a> </li>
                                    <li> <a href="{% url 'nuevo_deportista1' %}">Añadir Deportista</a> </li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-list-alt fa-lg" ></i> <span class="hide-menu"> Adm. Matrículas <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-second-level">
                                    <li> <a href="{% url 'ver_matricula' %}">Matrículas</a> </li>
                                    <li> <a href="{% url 'nueva_matricula' %}">Añadir Matrícula</a> </li>
                                    <!-- <li> <a href="#"> Matrícula</a> </li> -->
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-credit-card fa-lg"></i> <span class="hide-menu"> Mensualidades <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-second-level">
                                    <li> <a href="{% url 'ver_mensualidad' %}">Mensualidades</a></li>
                                    <li> <a href="{% url 'nueva_mensualidad' %}">Añadir Mensualidad</a></li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-bar-chart fa-lg"></i> <span class="hide-menu"> Reportes <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-second-level">
                                    <li> <a href="{% url 'buscar_usuario' %}">Matrículas</a></li>
                                    <!-- <li> <a href="income-report.html">Income Report</a></li> -->
                                    <!-- <li> <a href="expense-report.html">Expense Report</a></li> -->
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-users fa-lg" ></i> <span class="hide-menu"> Grupos <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-second-level">
                                    <li> <a href="{% url 'ver_grupos' %}">Grupos</a></li>
                                    <!-- <li> <a href="income-report.html">Income Report</a></li> -->
                                    <!-- <li> <a href="expense-report.html">Expense Report</a></li> -->
                                </ul>
                            </li>

                            <li class="nav-small-cap">-- Configuración del sitio web</li>
                            <li> <a href="#" class="waves-effect"><i data-icon="&#xe008;" class="fa fa-laptop fa-lg"></i> <span class="hide-menu">Gest. de Contenidos<span class="fa arrow"></span><span class=""></span></span></a>
                                <ul class="nav nav-second-level">
                                    <li><a href="javascript:void(0)" class="waves-effect">Página de Inicio
                                    <span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            <li><a href="{% url 'ver_inicio' %}">Slider</a></li>
                                            <li><a href="{% url 'ver_parallax' %}">Contenido uno</a></li>
                                            <li><a href="{% url 'ver_parallaxuno' %}">Contenido dos</a></li>
                                            <li><a href="{% url 'ver_parallaxdos' %}">Contenido tres</a></li>
                                            <li><a href="{% url 'ver_destacados' %}">Deportistas destacados</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'ver_acerca' %}">Acerca de</a></li>
                                    <li><a href="{% url 'ver_producto' %}">Productos</a></li>
                                    <li><a href="{% url 'ver_galeria' %}">Galeria</a></li>
                                    <li><a href="{% url 'ver_contacto' %}">Contactos</a></li>
                                </ul>
                            </li>
                            <li class="nav-small-cap">--- Salir</li>
                            <li><a href="{% url 'logout' %}" class="waves-effect"><i class="fa fa-sign-out fa-lg"></i> <span class="hide-menu">Cerrar sesión</span></a></li>
                            {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        {% block contenido %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-sm-4 col-xs-12">
                        <h4 class="page-title">Bienvenido a GymDeos</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> 
                        <ol class="breadcrumb">
                            <li><a href="{% url 'index' %}">Ir a la página</a></li>
                            <li class="active">Administración</li>
                        </ol>
                    </div>
                </div>
                <!-- .row -->
                <!-- <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title">TAEKWONDO</h3>
                            <div class="text-right"> <span class="text-muted"></span>
                                <h1><sup><i class="ti-arrow-down text-success"></i></sup> </h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title">BAILOTERAPIA</h3>
                            <div class="text-right"> <span class="text-muted"></span>
                                <h1><sup><i class="ti-arrow-down text-danger"></i></sup></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title">FÍSICO CULTURISMO </h3>
                            <div class="text-right"> <span class="text-muted"></span>
                                <h1><sup><i class="ti-arrow-down text-info"></i></sup></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title">CROSFIT   </h3>
                            <div class="text-right"> <span class="text-muted"></span>
                                <h1><sup><i class="ti-arrow-down text-inverse"></i></sup></h1>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- /.row -->
                <!-- .row -->
                <!-- /.row -->
                <div class="row">
                    <div class="col-md-3 col-xs-12 col-sm-6">
                        <img class="img-responsive" alt="user" src="{% static 'images/admin/taekwondo1.jpg' %}">
                        <div class="white-box">
                            <h4>Disciplina de Taekwondo</h4>
                            <div class="text-muted m-b-20"><span class="m-r-10"><i class="ti-alarm-clock"></i> </span></div>
                            <p><span><i class="ti-alarm-clock"></i> Horarios</span></p>
                            <p><span><i class="ti-user"></i> Instructores</span></p>
                            <p><span><i class="fa fa-graduation-cap"></i> Los mejores deportistas </span></p>
                            <button class="btn btn-success btn-rounded waves-effect waves-light m-t-10">Disciplina</button>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12 col-sm-6">
                        <img class="img-responsive" alt="user" src="{% static 'images/admin/aerobicos.jpg' %}">
                        <div class="white-box">
                            <h4>Aeróbicos y Bailoperapia</h4>
                            <div class="text-muted m-b-20"><span class="m-r-10"><i class="ti-alarm-clock"></i> </span> </div>
                            <p><span><i class="ti-alarm-clock"></i> Horarios</span></p>
                            <p><span><i class="ti-user"></i> Instructores</span></p>
                            <p><span><i class="fa fa-graduation-cap"></i> Los mejores deportistas </span></p>
                            <button class="btn btn-success btn-rounded waves-effect waves-light m-t-10">Esfuerzo</button>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12 col-sm-6">
                        <img class="img-responsive" alt="user" src="{% static 'images/admin/fisico_culturismo.jpg' %}">
                        <div class="white-box">
                            <h4>Físico Culturismo</h4>
                            <br>
                            <div class="text-muted m-b-20"><span class="m-r-10"><i class="ti-alarm-clock"></i> </span> </div>
                            <p><span><i class="ti-alarm-clock"></i> Horarios</span></p>
                            <p><span><i class="ti-user"></i> Instructores </span></p>
                            <p><span><i class="fa fa-graduation-cap"></i> Los mejores deportistas</span></p>
                            <button class="btn btn-success btn-rounded waves-effect waves-light m-t-10">Perseverancia</button>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12 col-sm-6">
                        <img class="img-responsive" alt="user" src="{% static 'images/admin/crosfit.jpg' %}">
                        <div class="white-box">
                            <h4>Crosfit </h4>
                            <br>
                            <div class="text-muted m-b-20"><span class="m-r-10"><i class="ti-alarm-clock"></i> </span></div>
                            <p><span><i class="ti-alarm-clock"></i> Horarios</span></p>
                            <p><span><i class="ti-user"></i> Instructores </span></p>
                            <p><span><i class="fa fa-graduation-cap"></i> Los mejores deportistas </span></p>
                            <button class="btn btn-success btn-rounded waves-effect waves-light m-t-10">Constancia</button>
                        </div>
                    </div>
                </div>
                <!-- .right-sidebar -->
                <!-- /.right-sidebar -->
            </div>
            <!-- /.container-fluid -->
        </div>
        {% endblock %}
        <footer class="footer text-center" style="height: 60px" > 2018 &copy; Aplicación Gym DEOS desarrollado por M.A.C.C</footer>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jquery ui -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" type="text/javascript">
    </script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{% static 'plugins/js/jquery-1.7.1.min.js' %}"></script>

    <!-- jQuery -->

    <script src="{% static 'plugins/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'plugins/bootstrap/dist/js/tether.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- <script src="{% static 'datepicker/bootstrap-datetimepicker.min.js' %}"></script> -->
    <script src="{% static 'plugins/bootstrap-extension/js/bootstrap-extension.min.js' %}"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="{% static 'plugins/sidebar-nav/dist/sidebar-nav.min.js' %}"></script>
    <!--slimscroll JavaScript -->
    <script src="{% static 'plugins/js/jquery.slimscroll.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'plugins/js/waves.js' %}"></script>
    <!--Morris JavaScript -->
    <script src="{% static 'plugins/raphael/raphael-min.js' %}"></script>
    <script src="{% static 'plugins/morrisjs/morris.js' %}"></script>
    <!-- Sparkline chart JavaScript -->
    <script src="{% static 'plugins/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-sparkline/jquery.charts-sparkline.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'plugins/js/custom.min.js' %}"></script>
    <script src="{% static 'plugins/js/dashboard1.js' %}"></script>
    <!--Style Switcher -->
    <script src="{% static 'plugins/styleswitcher/jQuery.style.switcher.js' %}"></script>
    <!-- usuarios script -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <!-- perfiluser -->
    <script src="{% static 'plugins/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'plugins/flot.tooltip/js/jquery.flot.tooltip.min.js' %}"></script>
    <!-- Real estate dashboard JavaScript -->
    <script src="{% static 'plugins/js/real-estate.js' %}"></script>
    <!-- poup -->
    <script src="{% static 'plugins/Magnific-Popup-master/dist/jquery.magnific-popup.min.js' %}"></script>

    <script src="{% static 'plugins/Magnific-Popup-master/dist/jquery.magnific-popup-init.js' %}"></script>
    <!-- ajaxfarma -->
    <script src="{% static 'plugins/fastclick/fastclick.min.js' %}"></script>
    <script src="{% static 'plugins/fastclick/jQuery.fastClick.js' %}"></script>
    <!-- select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('.js-example-basic-single').select2();
    });
    </script>
    <!-- <script src="/static/dist/js/app.min.js"></script> -->
    <!-- AdminLTE for demo purposes -->
    <!-- <script src="/static/dist/js/demo.js"></script> -->
    <!-- jQuery 2.1.4 -->
    <!-- <script src="{% static 'plugins/ajax/jQuery-2.1.4.min.js' %}"></script> -->
    <!-- SlimScroll -->
    <!-- <script src="{% static 'plugins/ajax/jquery.slimscroll.min.js' %}"></script> -->
    <script>
        var table = $('#myTable').DataTable({
        language: {
            "decimal": "",
            "emptyTable": "No hay información",
            "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
            "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
            "infoFiltered": "(Filtrado de _MAX_ total entradas)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ Entradas",
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "search": "Buscar:",
            "zeroRecords": "Sin resultados encontrados",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        },
    });
    $(document).ready(function() {
        $('#myTable').DataTable();
    });
    </script>
    <!-- add user -->
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'plugins/js/jasny-bootstrap.js' %}"></script>
    <script src="{% static 'plugins/js/mask.js' %}"></script>
    <!--Style Switcher -->
    <!-- ckeditor -->
    <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <!-- Date Picker Plugin JavaScript -->
    <script src="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>

    <!-- NUEVO USER -->
    <script src="{% static 'plugins/bootstrap-select/bootstrap-select.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
    $('.selectpicker').selectpicker();
    </script>
    <!--slimscroll JavaScript -->
    <!--Wave Effects -->
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'plugins/js/validator.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $(document).on("submit", "#selectbox_validate", function() {
            if ($("div#maindiv").hasClass("has-error")) {
                $(this).find(".bootstrap-select")
                    .after("<h6 class='has-error' style='color:red;'>please select any value from options.</h6>");
            }
        });
        $("#select").on("changed.bs.select", function(e) {
            if (!$("div#maindiv").hasClass("has-error")) {
                $("#selectbox_validate").find("h6.has-error").hide();
            }
        });
    });
    </script>
        <script type="text/javascript">
    // Real Time chart


    var data = [],
        totalPoints = 200;

    function getRandomData() {

        if (data.length > 0)
            data = data.slice(1);

        // Do a random walk

        while (data.length < totalPoints) {

            var prev = data.length > 0 ? data[data.length - 1] : 50,
                y = prev + Math.random() * 10 - 5;

            if (y < 0) {
                y = 0;
            } else if (y > 100) {
                y = 100;
            }

            data.push(y);
        }

        // Zip the generated y values with the x values

        var res = [];
        for (var i = 0; i < data.length; ++i) {
            res.push([i, data[i]])
        }

        return res;
    }

    // Set up the control widget

    var updateInterval = 20;
    $("#updateInterval").val(updateInterval).change(function() {
        var v = $(this).val();
        if (v && !isNaN(+v)) {
            updateInterval = +v;
            if (updateInterval < 1) {
                updateInterval = 1;
            } else if (updateInterval > 2000) {
                updateInterval = 2000;
            }
            $(this).val("" + updateInterval);
        }
    });

    var plot = $.plot("#placeholder", [getRandomData()], {
        series: {
            shadowSize: 0 // Drawing is faster without shadows
        },
        yaxis: {
            min: 0,
            max: 200
        },
        xaxis: {
            show: false
        },
        colors: ["#01c0c8"],
        grid: {
            color: "#AFAFAF",
            hoverable: true,
            borderWidth: 0,
            backgroundColor: '#FFF'
        },
        tooltip: true,
        resize: true,
        tooltipOpts: {
            content: "Y: %y",
            defaultTheme: false
        }


    });

    function update() {

        plot.setData([getRandomData()]);

        // Since the axes don't change, we don't need to call plot.setupGrid()

        plot.draw();
        setTimeout(update, updateInterval);
    }

    update();
    </script>

    <!-- busquedas -->
     <script>
        var proceso = new Object();

        proceso.tipoPro = 1;
        proceso.producto = new Array();

        var table = new Array();
        var cliente = new Object();

        $(document).ready(function(){
            $("#c-buscar").click(function () {          
                    
                var id = $('#cliente-id').val();
                $.ajax({
                    data: {'id':id},
                    url: '/admindeos/buscar_deportista',
                    type: 'get',
                    success: function(data){
                        //console.log(JSON.stringify(data));
                        var html = ""
                        if(data.length != 0){
                            for (var i = 0; i < data.length; i++) {
                                html += '<strong>Cliente</strong><br>';
                                html += 'numeroid: ' + data[i].pk + '<br>';
                                html += 'Nombre: ' + data[i].fields.first_name + '<br>';
                                html += 'Apellidos: ' + data[i].fields.last_name + '<br>';
                                html += 'Telefono: ' + data[i].fields.telefono + '<br>';
                                html += 'Cédula: ' + data[i].fields.dni + '<br>';

                                cliente.pk = data[i].pk;
                                cliente.dni = data[i].fields.dni;
                                cliente.first_name = data[i].fields.first_name;
                                cliente.last_name = data[i].fields.last_name;
                                cliente.telefono = data[i].fields.telefono;
                            }  
                            $("#c-seleccionar").attr("disabled", false);
                        }else{
                            html += '<strong>No existe un cliente con ese numero de identificación</strong><br><button class="btn btn-primary" style="margin-right: 5px;" href="{% url 'nuevo_deportista1' %}"> Crear Deportista</button>';
                            $("#c-seleccionar").attr("disabled", true);
                        }
                        $('#cliente-resultado').html(html); 
                    }
                });            
            });

            $("#c-seleccionar").click(function () {
                //console.log(cliente.numIdentificacion);
                proceso.clienProv = cliente.pk;
                $("#c-id").text(cliente.dni);
                $("#c-first_name").text(cliente.first_name);
                $("#c-last_name").text(cliente.last_name);
                $("#c-telefono").text(cliente.telefono);
                $('#buscarClienteModal').modal('hide');
            });

            $("#p-buscar").click(function () {
                var id = $('#producto-id').val();
                $.ajax({
                    data: {'id':id},
                    url: '/factura/buscar_producto',
                    type: 'get',
                    success: function(data){
                        console.log(JSON.stringify(data));                    
                        var html = ""
                        if(data.length != 0){
                            for (var i = 0; i < data.length; i++) {
                                html += '<br><strong>Medicamentos</strong><br>';
                                html += 'Serial: ' + data[i].pk + '<br>';
                                html += 'Nombre: ' + data[i].fields.nombre + '<br>';
                                html += 'Precio Venta: ' + data[i].fields.precio_venta + '<br>';
                                html += 'stock: ' + data[i].fields.stock + '<br>';
                                html += '<input name="p-cantidad" id="p-cantidad" placeholder="Cantidad" type="text">';

                                var fila = new Object();
                                fila.pk = data[i].pk;
                                fila.nombre = data[i].fields.nombre;
                                fila.precio_venta = data[i].fields.precio_venta;
                                fila.igv = data[i].fields.igv;
                                fila.cantidad = 1;
                                fila.descuento = 0;

                                table.push(fila);
                            }
                            $('#producto-resultado').html(html); 
                            $("#p-seleccionar").attr("disabled", false);
                        }else{
                            html += '<strong>No existe Medicamento con ese code</strong><br>';
                            //html += '<a class="btn btn-primary" style="margin-right: 5px;" href=""> Crear Producto</a>';
                            
                            $("#p-seleccionar").attr("disabled", true);
                        }
                        $('#producto-resultado').html(html); 
                    }
                });     
            });   


            $("#p-seleccionar").click(function () {
                var d = table;
                var t = document.getElementById('tb-detalle').getElementsByTagName('tbody')[0];
                var rowCount = t.rows.length;

                var row = t.insertRow(rowCount);
                
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                var cell4 = row.insertCell(3);
                var cell5 = row.insertCell(4);
                var cell6 = row.insertCell(5);
                var cell7 = row.insertCell(6);
                //cell7.className = 'right';
                cell4.setAttribute('align','left');
                cell5.setAttribute('align','left');
                cell6.setAttribute('align','left');
                cell7.setAttribute('align','left');

                cell1.innerHTML = rowCount+1;
                cell2.innerHTML = d[d.length-1].nombre;
                cell3.innerHTML = d[d.length-1].pk;
                cell4.innerHTML = "$" + [round(d[d.length-1].precio_venta,2).toFixed(2)];

                if($('#p-cantidad').val() == ''){
                    d[d.length-1].cantidad = 1;
                    cell5.innerHTML = d[d.length-1].cantidad;
                }else{
                    d[d.length-1].cantidad = $('#p-cantidad').val();
                    cell5.innerHTML = d[d.length-1].cantidad;
                }
                /*
                $.ajax({
                    data: {'descuento': $('#p-cantidad').val()},
                    url:"/factura/descuento",                
                    type: 'get',
                    success:function(data){
                        d[d.length-1].descuento = data.descuento;
                        cell6.innerHTML = data.descuento + " %";

                        cell7.innerHTML = [([d[d.length-1].precio_venta + (d[d.length-1].precio_venta * (d[d.length-1].ganancia / 100))] * d[d.length-1].cantidad) - (([d[d.length-1].precio_venta + (d[d.length-1].precio_venta * (d[d.length-1].ganancia / 100))] * d[d.length-1].cantidad) * (d[d.length-1].descuento / 100))];

                    }
                }); 
                */
                cell6.innerHTML = round(d[d.length-1].igv*d[d.length-1].cantidad*1,2).toFixed(2);
                cell7.innerHTML = round((d[d.length-1].precio_venta)*d[d.length-1].cantidad*1,2).toFixed(2);

                var html = ""
                $('#producto-resultado').html(html);
                $('#producto-id').val('');
                $("#p-seleccionar").attr("disabled", true);
                $('#buscarProductoModal').modal('hide');

                /*
                $.ajax({                
                    url:"/factura/secuencia_item",
                    success:function(data){
                        cell1.innerHTML = data.item;
                        proceso.producto.push({'item': data.item, 'serial': d[d.length-1].pk, 'cantidad': d[d.length-1].cantidad});
                    }   
                });
                */
                proceso.producto.push({'serial': d[d.length-1].pk, 'cantidad': d[d.length-1].cantidad});
                calTotal();           
            });
               


        });   

        function onEnviar(){
            proceso.serie = $('#p-serie').val();
            proceso.numero = $('#p-num').val();
            console.log(JSON.stringify(proceso));
           document.getElementById("proceso").value=JSON.stringify(proceso);
        }

        var total = 0;
        function calTotal(){
            var total=0;
            var t=0;
            $('#tb-detalle tbody tr').each(function () {
                total = total*1 + $(this).find("td").eq(6).html()*1;    
                t = t*1 + $(this).find("td").eq(5).html()*1; 
                
            });
            $('#sum-subtotal').text((total));
            $('#sum-tax').text(t.toFixed(2));

            $('#sum-total').text(total+t);


        }

    function round(value, exp) {
      if (typeof exp === 'undefined' || +exp === 0)
        return Math.round(value);

      value = +value;
      exp  = +exp;

      if (isNaN(value) || !(typeof exp === 'number' && exp % 1 === 0))
        return NaN;

      // Shift
      value = value.toString().split('e');
      value = Math.round(+(value[0] + 'e' + (value[1] ? (+value[1] + exp) : exp)));

      // Shift back
      value = value.toString().split('e');
      return +(value[0] + 'e' + (value[1] ? (+value[1] - exp) : -exp));
    }

</script>
    <!--Style Switcher -->
</body>

</html>
