{% load static %}
{% load thumbnail %}

<!DOCTYPE HTML>
<html lang="en-gb" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="With unique design and accent in details Maxx Fitness is perfect template. Design have beautiful typography and elegant structure. HTML Template is based on Warp7 Framework and made for all who wants a lightweight and modular website.">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'plugins/images/favicon1.png' %}">
        {% block titulo %}
        <title>Inicio - Gym Deos</title>
        {% endblock %}
        <!-- Favicon and Apple icon -->
        <!-- <link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"> -->
        <link href="favicon.ico" rel="shortcut icon" type="{% static 'images/logo.icon' %}">
        <link href="apple_touch_icon.png" rel="apple-touch-icon-precomposed">
        
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"><!-- Bootstrap Styles -->
        <link href="{% static 'css/theme.css' %}" rel="stylesheet"><!-- Main Template Styles --> 
        <link href="{% static 'css/schedule.css' %}" rel="stylesheet"><!-- Schedule CSS -->
        <link href="{% static 'css/gallery.css' %}" rel="stylesheet"><!-- Gallery CSS -->
        <link href="{% static 'css/comments.css' %}" rel="stylesheet"><!-- Comments CSS -->
        <!-- <link href="{% static 'css/style.css' %}" rel="stylesheet"><Comments CSS --> 
        <!-- <link href="{% static 'css/style_login.css' %}" rel="stylesheet"><! Comments CSS --> 
        <!-- <div>Iconos diseñados por <a href="http://www.freepik.com" title="Freepik">Freepik</a> desde <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.com</a> con licencia <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
        
    </head>
    <body class="tm-isblog">
        <div class="ak-page">
            <!-- START Main menu -->
            <nav class="tm-navbar uk-navbar">
                <div class="uk-container uk-container-center">
                    <nav style="" class="navbar navbar-expand-lg navbar-light bg-light">
                        <a style="color: #fff" class="navbar-brand" href="{% url 'login' %}">Iniciar Sesión</a>
                        <span class="navbar-toggler-icon"></span>
                        <a class="navbar-brand" href="{% url 'logout' %}">Salir</a>
                        <span class="navbar-toggler-icon"></span>
                        {% if perms.is_superuser %}
                        <a class="navbar-brand" href="{% url 'index_admin' %}">Administración</a>
                        <span class="navbar-toggler-icon"></span>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <b class="hidden-xs"> Bienvevido {{user}}</b> 
                        {% endif %}
                    </nav>
                    <a class="tm-logo" href="{% url 'index' %}">
                        <span class="color-1">DEOS</span><span class="color-2">GYM</span>
                    </a>
                    <!-- END Logo -->
                    <ul class="uk-navbar-nav uk-hidden-small">
                        <li class="uk-parent " data-uk-dropdown="{}" aria-haspopup="true" aria-expanded="false">
                            <a href="{% url 'index' %}">Inicio</a>
                        </li>
                        <li><a href="{% url 'acerca' %}">Acerca de</a></li>
                        <li class="uk-parent" data-uk-dropdown="{}" aria-haspopup="true" aria-expanded="false">
                            <a href="{% url 'disciplina' %}">Disciplinas</a>
                            <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-2">
                                <div class="uk-grid uk-dropdown-grid">
                                    <div class="uk-width-1-2">
                                        <ul class="uk-nav uk-nav-navbar">
                                            <li class="uk-nav-header">
                                            </li>
                                            <li><a href="#">Taekwondo</a></li>
                                            <li><a href="#">Crosfit</a></li>
                                            <li><a href="#">Aeróbicos</a></li>
                                        </ul>
                                    </div>
                                    <div class="uk-width-1-2">
                                        <ul class="uk-nav uk-nav-navbar">
                                            <li class="uk-nav-header">
                                            </li>
                                            <li><a href="#">MMA</a></li>
                                            <li><a href="#">Bailoterapia</a></li>
                                            <li><a href="#">Fisico Culturismo</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="{% url 'horario' %}">Horarios</a></li>
                        <li><a href="{% url 'entrenador' %}">Entrenadores</a></li>
                        <li><a href="{% url 'producto' %}">Productos</a></li>
                        <li><a href="{% url 'galeria' %}">Galería</a></li>
                        <li><a href="{% url 'ubicacion' %}">Contactos</a></li>
                        <!-- <li><a href="">Inscripciones</a></li> -->
                        <li><a href="{% url 'preinscripcion' %}">Preinscripciones</a></li>
                    </ul>
                    <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
                </div>
            </nav>
            <!-- END Main menu -->
            
            <!-- START Fullscreen block -->
            {% block contenido %} 
            <div class="tm-fullscreen uk-position-relative">
                <div class="akslider-module ">
                    <div class="uk-slidenav-position" data-uk-slideshow="{height: 'auto', animation: 'scale', duration: '500', autoplay: false, autoplayInterval: '7000', videoautoplay: true, videomute: true, kenburns: false}">
                        <ul class="uk-slideshow">
                            {% for a in slide %}
                            <li class="uk-cover uk-height-viewport">
                                <!-- START Slide 2 -->
                                <div class="uk-cover-background uk-position-cover" style="background-image: url('static/media/{{a.slide}}');"></div>
                                <img src='static/media/{{a.btn_img}}' width="800" height="400" alt="Kickboxing">
                                <div class="uk-caption uk-caption-panel uk-animation-fade uk-flex uk-flex-center uk-flex-middle">
                                    <div class="tm-slide-style-2">
                                        <div class="slide-text-primary">
                                            <a href="#" style="font-size: 80px" >{{a.titulo}}</a>
                                        </div>
                                        <div class="tm-slide-panel uk-text-center">
                                            <h4 class="ak-slide-subhead uk-text-center">
                                                {{a.subtitulo}}
                                            </h4>
                                            <!-- <a href="{% url 'ubicacion' %}" class="uk-button uk-button-primary"></a> -->
                                        </div>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <!-- END Slide 2 -->
                            </li>
                            {% endfor %}
                            <!-- <li class="uk-cover uk-height-viewport"> -->
                                <!-- START Slide 5 (Video) -->
                                <!-- <iframe src="http://www.youtube.com/embed/PnICxgGHXno?autoplay=1&amp;loop=1&amp;controls=0&amp;showinfo=0&amp;playlist=FoRmhWxmj70&amp;wmode=transparent&amp;vq=hd1080&amp;enablejsapi=1&amp;api=1" width="480" height="270" allowfullscreen="" class="uk-position-absolute" data-uk-cover="{}">
                                </iframe> -->
                                <!-- END Slide 5 (Video) -->
                            <!-- </li> -->
                        </ul>
                        
                        <!-- START Slider next/prev buttons -->
                        <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
                        <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
                        <!-- END Slider next/prev buttons -->
                        
                        <!-- START Slider navigator -->
                        <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-text-center">
                        {% for a in slide %}
                            <li data-uk-slideshow-item="0" class="uk-active"><a href="#" style="background-image: url('static/media/{{a.btn_img}}')">0</a></li>
                        {% endfor %}
                        </ul>
                        <!-- END Slider navigator -->

                    </div>
                </div>
            </div>
            <!-- END Fullscreen block -->
            
            <!-- START Features block -->
            <div class="tm-block  tm-block-top-a tm-section-light tm-section-padding-large">
                <div class="uk-container uk-container-center">
                    <section class="tm-top-a uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                        <div class="uk-width-1-1">
                            <div class="uk-panel">
                                <div class="category-module-features ">
                                    <div class="uk-grid" data-uk-grid-margin="" data-uk-grid-match="{target:'.uk-panel'}">
                                        <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-center">
                                            <!-- START Feature 1 -->
                                            <div class="uk-overlay tm-overlay uk-width-1-1">
                                                <div class="uk-panel uk-panel-box">
                                                    <img src="{% static 'images/demo/visuals/ico-workouts.png' %}" alt="Workouts">                        
                                                    <h2 class="uk-panel-title uk-margin-top">Disciplinas</h2>
                                                    <p class="tm-panel-subtitle">Disciplinas para fortalecer y tonificar tus músculos.</p>
                                                </div>
                                                <div class="uk-overlay-area">
                                                    <div class="uk-overlay-area-content">
                                                        <p>Si lo que buscas es tonificar determinadas partes de tu cuerpo, eliminando flacidez y fortaleciéndolas, ópta por algunas de nuestras disciplinas. </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="uk-button uk-button-large" href="{% url 'disciplina' %}" title="View Workouts">
                                                <i class="uk-icon-akplus">+</i>
                                                <span>Ver disciplinas</span>
                                            </a>
                                            <!-- END Feature 1 -->
                                        </div>
                                        <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-center">
                                            <!-- START Feature 2 -->
                                            <div class="uk-overlay tm-overlay uk-width-1-1">
                                                <div class="uk-panel uk-panel-box">
                                                    <img src="{% static 'images/demo/visuals/ico-classes.png' %}" alt="Classes">                        
                                                    <h2 class="uk-panel-title uk-margin-top">Galería</h2>
                                                    <p class="tm-panel-subtitle">Participaciones y logros que se ha obtenido.</p>
                                                </div>
                                                <div class="uk-overlay-area">
                                                    <div class="uk-overlay-area-content">
                                                        <p>Accede a nuestra gama de galería y observa cada una las participaciones que ha realizado el Club Deportivo Deos.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="uk-button uk-button-large" href="{% url 'galeria' %}" title="View Classes">
                                                <i class="uk-icon-akplus">+</i>
                                                <span>Galeria</span>
                                            </a>
                                            <!-- END Feature 2 -->
                                        </div>
                                        <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-center">
                                            <!-- START Feature 3 -->
                                            <div class="uk-overlay tm-overlay uk-width-1-1">
                                                <div class="uk-panel uk-panel-box">
                                                    <img src="{% static 'images/demo/visuals/ico-schedule.png' %}" alt="Schedule">                        
                                                    <h2 class="uk-panel-title uk-margin-top">Horarios</h2>
                                                    <p class="tm-panel-subtitle">Encuentra el horario mas cómodo para realizar tus actividades físicas.</p>
                                                </div>
                                                <div class="uk-overlay-area">
                                                    <div class="uk-overlay-area-content">
                                                        <p>Observa nuestros horarios a los que puedes asistir e ingresar desde con tus rutinas de entrenamineto.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="uk-button uk-button-large" href="{% url 'horario' %}" title="View Schedule">
                                                <i class="uk-icon-akplus">+</i>
                                                <span>Ver Horarios</span>
                                            </a>
                                            <!-- END Feature 3 -->
                                        </div>
                                        <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-center">
                                            <!-- START Feature 4 -->
                                            <div class="uk-overlay tm-overlay uk-width-1-1">
                                                <div class="uk-panel uk-panel-box">
                                                    <img src="{% static 'images/demo/visuals/ico-trainers.png' %}" alt="Trainers">                        
                                                    <h2 class="uk-panel-title uk-margin-top">Entrenadores</h2>
                                                    <p class="tm-panel-subtitle">Intructores que te ayudarán con tu perfeccionamineto físico.</p>
                                                </div>
                                                <div class="uk-overlay-area">
                                                    <div class="uk-overlay-area-content">
                                                        <p>Puedes ver a nuestros profesionales altamente capacitados y profesionales para cumplir con los entrenaientos adecuados que necesitas.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="uk-button uk-button-large" href="{% url 'entrenador' %}" title="View Trainers">
                                                <i class="uk-icon-akplus">+</i>
                                                <span>Ver entrenadores</span>
                                            </a>
                                            <!-- END Feature 4 -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- END Features block -->
            
            <!-- START About block -->
            <div class="tm-block  tm-block-top-b tm-section-dark tm-section-image tm-section-padding-large">
                <div class="uk-container uk-container-center">
                    <section class="tm-top-b uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">

                        <div class="uk-width-1-1">
                            <div class="uk-panel">
                                <div class="uk-grid" style="margin-bottom: 110px;">
                                    <div class="uk-width-large-1-2 uk-width-medium-2-3 uk-width-small-1-1">
                                        {% for a in parallax %}
                                        <h4 class="tm-logo-text">
                                            <span class="color-1">{{a.titulo}}</span><span class="color-2">Fitness</span>
                                        </h4>
                                        <p class="uk-margin-remove" align="justify">{{a.descripcion}}</p>
                                        {% endfor %}
                                        {% for a in disciplina %}
                                        <ol class="tm-list">
                                            <li>{{a.nombre}} </li>
                                        </ol>
                                        {% endfor %}
                                        <hr style="margin: 35px 0;">
                                        <a class="uk-button uk-button-large" href="{% url 'preinscripcion' %}" title="">
                                        Inscríbete
                                        </a>
                                        <i class="uk-text-large" style="margin: 0 25px;">o</i>
                                        <a class="uk-text-large" href="{% url 'disciplina' %}">Puedes ver nuestras disciplinas </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- END About block -->
            
            <!-- START Statistic and Promo block -->
            <div class="tm-block  tm-block-top-c tm-section-light">
                <div class="uk-container uk-container-center">
                    <section class="tm-top-c uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                        <div class="uk-width-1-1 uk-width-medium-1-2">
                            <div class="uk-panel">
                                <!-- START Statistic block -->
                                <!-- <div class="uk-panel uk-text-center ak-statistics-box">
                                    <ul class="uk-subnav uk-subnav-line tm-statistics">
                                        <li class="uk-scrollspy-init-inview">
                                            <div class="digit" data-from="0" data-to="231" data-speed="1400">231</div>
                                            <h6 class="text">Locations</h6>
                                        </li>
                                        <li class="uk-scrollspy-init-inview">
                                            <div class="digit" data-from="0" data-to="736" data-speed="1700">736</div>
                                            <h6 class="text">Trainers</h6>
                                        </li>
                                        <li class="uk-scrollspy-init-inview">
                                            <div class="digit" data-from="0" data-to="32" data-speed="2000">32</div>
                                            <h6 class="text">Shops</h6>
                                        </li>
                                    </ul>
                                </div> -->
                                <!-- END Statistic block -->
                            </div>
                        </div>
                        <div class="uk-hidden-small uk-width-medium-1-2">
                            <!-- START Promo block -->
                            {% for a in parallax %}
                            <div class="uk-panel uk-hidden-small">
                                <a class="tm-promo-video" href=""
                                 data-uk-lightbox="{group:'group2'}">
                                    <img src='static/media/{{a.imagen_inferior}}' width="610" height="380" alt="Promo Video"> 
                                    <!-- <img src="{% thumbnail recipe.image '610' as imagen_inferior %}{{ a.imagen_inferior }}{% endthumbnail %}" /> -->
                                </a>
                            </div>
                            {% endfor %}
                            <!-- END Promo block -->
                        </div>
                    </section>
                </div>
            </div>
            <!-- END Statistic and Promo block -->
            
            <!-- START Locations block -->
            <div class="tm-block  tm-block-top-d tm-section-dark tm-section-image tm-section-padding-large">
                <div class="uk-container uk-container-center">
                    <section class="tm-top-d uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                        <div class="uk-width-1-1">
                            <div class="uk-panel">
                                <h3 class="uk-panel-title" style="color: orange"  >Instalaciones</h3>
                                <div class="category-module-locations ">
                                    <div class="uk-grid" data-uk-grid-margin="" data-uk-grid-match="{target:'.uk-panel'}">
                                        <div class="uk-width-medium-1-2 uk-width-large-1-4 ">
                                                <!-- START Location 1 block -->
                                                {% for a in parallaxuno %}
                                                <div class="uk-width-1-1">

                                                    <div class="uk-panel">
                                                        <li>
                                                            <div class="uk-cover-background uk-position-relative" style="background-image: url(/static/media/{{a.imagen}});">
                                                                <img src='static/media/{{a.imagen}}' class="uk-invisible" width="295" height="500" alt="Family Fitness CLub">                            
                                                                <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom" style="overflow: hidden;">
                                                                    <div class="ak-overlay uk-width-1-1">
                                                                        <h4 class="uk-panel-title uk-margin-remove" ><a href="location.html ">{{a.titulo}}</a></h4>
                                                                        <div class="tm-panel-subtitle">
                                                                            {{a.direccion}}                                    
                                                                        </div>
                                                                        <a href="{% url 'ubicacion' %}" class="uk-button uk-button-primary tm-location uk-float-left">Ver Ubicación</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            <!-- END Location 1 block -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- END Locations block -->
            
            <!-- START Trainers block -->
            <div class="tm-block  tm-block-bottom-a tm-section-light tm-section-padding-large">
                <div class="uk-container uk-container-center">
                    <section class="tm-bottom-a uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                        <div class="uk-width-1-1">
                            <!-- START Trainers intro text block -->
                            <div class="uk-panel">
                                <h3 class="uk-panel-title uk-text-center">Entrenadores</h3>
                                <p class="uk-text-large uk-text-center ak-trainers">El club deportivo DEOS cuenta con los mejores profesionales para cada una de las diferentes disciplinas que te asesorará sobre qué ejercicios son los más adecuados a tus características y al objetivo que tu quieres conseguir. </p>
                            </div>
                            <!-- END Trainers intro text block -->
                            
                            <!-- START Trainers foto block -->
                             <div class="uk-panel">
                                <div class="mod_j2store_products  tm-store-products">
                                    <div class="uk-grid" data-uk-grid-margin="" data-uk-grid-match="{target:'.uk-panel'}">
                                        <!-- START Product 1 block -->
                                        {% for a in instructor %}
                                        <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-center j2product product_27 j2store_product_block">
                                            <a href="{% url 'entrenador' %}" class="j2store_product_title_link">
                                            <img style="width: 300px;height: 300px;" src='/static/media/{{a.imagen}}' alt="{{a.first_name}}">
                                            </a>
                                            <h2 class="uk-panel-title uk-margin-top">
                                                <a href="{% url 'entrenador' %}" class="">
                                                {{a.nombre}} {{a.apellido}}</a>
                                            </h2>
                                            <div class="tm-price">
                                                <span id="j2store_product_price_27" class="j2store_product_price">
                                                {{a.profesion}}</span>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- END Trainers foto block -->
                        </div>
                    </section>
                </div>
            </div>
            <!-- END Trainers block -->
            
            <!-- START Pricing block -->
            <div class="tm-block tm-block-bottom-b tm-section-dark tm-section-image tm-section-padding-large">
                <div class="uk-container uk-container-center">
                    <section class="tm-bottom-b uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                        <div class="uk-width-1-1">
                            <!-- START Pricing intro text block -->
                            <div class="uk-panel">
                                <h3 class="uk-panel-title uk-text-center">Valor de Inscripciones</h3>
                                <p class="uk-text-large uk-text-center ak-pricing">
                                    Ofrecemos precios atractivos, <br>
                                    inscríbete desde ya y reserva tu cupo.
                                </p>
                            </div>
                            <!-- END Pricing intro text block -->
                            
                            <!-- START Pricing table block -->
                            <div class="uk-panel">
                                <div class="uk-grid tm-price" data-uk-grid-margin="" data-uk-grid-match="{target:'.uk-panel'}">
                                    {% for a in parallaxdos %}
                                    <div class="uk-width-medium-1-2 uk-text-center">
                                        <div class="uk-panel uk-float-center uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-2">
                                            <div class="price">$ {{a.valor}}<sup>.99</sup></div>
                                            <h2 class="uk-panel-title uk-margin-top">{{a.dias}}</h2>
                                            <p class="tm-panel-subtitle">{{a.descripcion}}</p>
                                            <a class="uk-button uk-button-large" href="{% url 'preinscripcion' %}" title="Buy Now">
                                            <i class="uk-icon-akplus">+</i>
                                            <span>Inscríbete</span>
                                            </a>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- END Pricing table block -->
                        </div>
                    </section>
                </div>
            </div>
            <!-- END Pricing block -->
            
            <!-- START Products block -->
            <div class="tm-block tm-block-bottom-c tm-section-light tm-section-padding-large">
                <div class="uk-container uk-container-center">
                    <section class="tm-bottom-c uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                        <div class="uk-width-1-1">
                            <!-- START Product intro text block -->
                            <div class="uk-panel">
                                <p class="uk-text-large uk-text-center ak-shop">Algunas herramientas y suplementos necesarios para seguir con tus entrenamientos</p>
                            </div>
                            <!-- END Product intro text block -->
                            
                            <!-- START Products block -->
                            <div class="uk-panel">
                                <div class="mod_j2store_products  tm-store-products">
                                    <div class="uk-grid" data-uk-grid-margin="" data-uk-grid-match="{target:'.uk-panel'}">
                                        <!-- START Product 1 block -->
                                        {% for a in producto %}
                                        <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-center j2product product_27 j2store_product_block">
                                            <a href="{% url 'producto' %}" class="j2store_product_title_link">
                                            <img style="width: 300px;height: 300px;" src='/static/media/{{a.imagen}}' alt="Casein Proteines">
                                            </a>
                                            <h2 class="uk-panel-title uk-margin-top">
                                                <a href="{% url 'producto' %}" class="j2store_product_title_link">
                                                {{a.nombre}}</a>
                                            </h2>
                                            <div class="tm-price">
                                                <span id="j2store_product_price_27" class="j2store_product_price">
                                                $ {{a.precio}}</span>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- END Products block -->
                        </div>
                    </section>
                </div>
            </div>
            <!-- END Products block -->
            
            <!-- START Latest Workouts block -->
            <div class="tm-block tm-block-bottom-d tm-section-light tm-section-image tm-section-padding-large">
                <div class="uk-container uk-container-center">
                    <section class="tm-bottom-d uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                        <div class="uk-width-1-1">
                            <div class="uk-panel">
                                <h3 class="uk-panel-title">Deportistas Destacados</h3>
                                <div class="newsflash-workouts tm-page-workouts">
                                    <div class="uk-grid" data-uk-grid-margin="" data-uk-grid-match="{target:'.uk-panel'}">
                                        <!-- START Latest Workout 1 block -->
                                        <div class="uk-width-medium-1-1 uk-width-large-1-3 uk-text-left">
                                            <div class="uk-width-1-1">
                                                {% for a in destacado %}
                                                <div class="uk-panel tm-workouts" onclick="location.href = '/workouts/5-unique-workauts-to-improve-your-deadlift.html';">
                                                    <div class="uk-cover-background uk-position-relative"  style="background-image: url('static/media/{{a.imagen}}');">
                                                        <img src='/static/media/{{a.imagen}}' class="uk-invisible" width="295" height="500" alt="5 Unique Workauts to Improve your Deadlift">                            
                                                        <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom">
                                                            <div class="ak-overlay uk-width-1-1">
                                                                <div class="tm-panel-subtitle">
                                                                    <div class="uk-panel uk-width-1-1">
                                                                        <div class="uk-grid">
                                                                            <div class="uk-width-1-3">
                                                                                <h6 class="tm-uppercase">Nombre</h6>
                                                                                <span class="tm-uppercase">{{a.nombre}}</span>
                                                                            </div>
                                                                            <div class="uk-width-1-3">
                                                                                <h6 class="tm-uppercase">Disciplina</h6>
                                                                                <span class="tm-uppercase">{{a.disciplina}}</span>
                                                                            </div>
                                                                            <div class="uk-width-1-3">
                                                                                <h6 class="tm-uppercase">Nivel</h6>
                                                                                <span class="tm-uppercase">{{a.nivel}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <h4 class="tm-workouts-line tm-uppercase">Logro</h4>
                                                                    <h3 class="tm-workouts-subline tm-uppercase">{{a.descripcion}}</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <!-- END Latest Workout 1 block -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            {% endblock %}
            <!-- END Latest Workouts block -->
            {% block map %} {% endblock %}
            <!-- START Social block -->
            {% block social %}
            <div class="tm-block tm-block-social">
                <div class="uk-container uk-container-center">
                    <div class="uk-panel ak-social">
                        <ul class="uk-subnav uk-subnav-line uk-text-center">
                            <li><a href="https://www.facebook.com/DEOS-GYM-248093995385295/" target="_blank">
                                <img src="{% static 'images/facebook.png' %}">
                            </a></li>
                            <li><a href="https://twitter.com/" target="_blank">
                                <img src="{% static 'images/twitter.png' %}">
                            </a></li>
                            <li><a href="https://www.instagram.com/deos_gym/" target="_blank">
                                <img src="{% static 'images/instagram.png' %}">
                            </a></li>
                            <li><a href="https://plus.google.com/" target="_blank">
                                <img src="{% static 'images/google+.png' %}">
                            </a></li>
                            <!-- <li><a href="https://www.linkedin.com/" target="_blank">Linkedin</a></li> -->
                            <!-- <li><a href="http://www.skype.com/" target="_blank">Skype</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            {% endblock %}
            <!-- END Social block -->
            
            <!-- START Footer block -->
            <div class="ak-footer">
                <div class="uk-container uk-container-center">
                    <footer class="tm-footer uk-grid tm-footer uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                        <!-- START Footer About MaxxFitness block -->
                        <div class="uk-hidden-small uk-hidden-medium uk-width-large-1-3">
                            <div class="uk-panel uk-hidden-medium uk-hidden-small" style="min-height: 316px;">
                                <h3 class="uk-panel-title">Club Deportivo DEOS </h3>
                                <p>Contamos con las mejores instalaciones y los horarios mas adecuados 
                                para tus entrenamientos.</p>
                                <p>Loja,  Ramón Pinto <br>entre Azuay y Miguel Riofrio<br> <br> T: 072 586597</p>
                                <div class="ak-copyright">Gym Deos 2018 DESARROLLADO por M.A.C.C</div>
                            </div>
                        </div>
                        <!-- END Footer About MaxxFitness block -->
                        
                        <!-- START Opening Hours block -->
                        <div class="uk-hidden-small uk-width-medium-1-2 uk-width-large-1-3">
                            <div class="uk-panel uk-hidden-small" style="min-height: 316px;">
                                <h3 class="uk-panel-title">Horario de Atención</h3>
                                <div class="uk-grid">
                                    <div class="uk-width-1-3">
                                        <p style="line-height: 2;">
                                            Lunes<br>
                                            Martes<br>
                                            Miercoles<br>
                                            Jueves<br>
                                            Viernes<br>
                                        </p>
                                    </div>
                                    <div class="uk-width-2-3">
                                        <p style="line-height: 2;">
                                            08:30AM - 21:00PM<br> 
                                            08:30AM - 21:00PM<br> 
                                            08:30AM - 21:00PM<br>
                                            08:30AM - 21:00PM<br>
                                            08:30AM - 21:00PM<br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Opening Hours block -->
                        
                        <!-- START Request a 1 Day Free Trial block -->
                        <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-3">
                            <div class="uk-panel" style="min-height: 316px;">
                                <h3 class="uk-panel-title">Contactanos</h3>
                                <div id="aiContactSafe_form_1">
                                    <div class="aiContactSafe" id="aiContactSafe_mainbody_1">
                                        <div class="contentpaneopen">
                                            <div id="aiContactSafeForm">
                                                <form action="#" method="post"  name="adminForm_1" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div id="displayAiContactSafeForm_1">
                                                        <div class="aiContactSafe" id="aiContactSafe_contact_form">
                                                            <div class="aiContactSafe_row">
                                                                <div class="aiContactSafe_contact_form_field_label_left"><span class="aiContactSafe_label" id="aiContactSafe_label_aics_name"><label for="aics_name">Nombre</label></span>&nbsp;<label class="required_field">*</label></div>
                                                                <div class="aiContactSafe_contact_form_field_right"><input type="text" name="aics_name" id="aics_name" class="textbox" value=""></div>
                                                            </div>
                                                            <div class="aiContactSafe_row">
                                                                <div class="aiContactSafe_contact_form_field_label_left"><span class="aiContactSafe_label" id="aiContactSafe_label_aics_email"><label for="aics_email">Email</label></span>&nbsp;<label class="required_field">*</label></div>
                                                                <div class="aiContactSafe_contact_form_field_right"><input type="text" name="aics_email" id="aics_email" class="email" value=""></div>
                                                            </div>
                                                            <div class="aiContactSafe_row">
                                                                <div class="aiContactSafe_contact_form_field_label_left"><span class="aiContactSafe_label" id="aiContactSafe_label_aics_phone"><label for="aics_phone">Teléfono</label></span>&nbsp;</div>
                                                                <div class="aiContactSafe_contact_form_field_right"><input type="text" name="aics_phone" id="aics_phone" maxlength="25" class="textbox" value=""></div>
                                                            </div>
                                                            <div class="aiContactSafe_row">
                                                                <div class="aiContactSafe_contact_form_field_label_left"><span class="aiContactSafe_label" id="aiContactSafe_label_aics_datatime"><label for="aics_datatime">Mensaje</label></span>&nbsp;<label class="required_field">*</label></div>
                                                                <div class="aiContactSafe_contact_form_field_right"><input type="text" name="aics_datatime" id="aics_datatime" class="editbox" value=""></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div id="aiContactSafeBtns">
                                                        <div id="aiContactSafeButtons_right">
                                                            <div id="aiContactSafeSend">
                                                                <input href="#" type="submit" id="aiContactSafeSendButton" value="Enviar">
                                                                <div id="aiContactSafeSend_loading_1">&nbsp;</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Request a 1 Day Free Trial block -->
                        
                    </footer>
                </div>
            </div>
            <!-- END Footer block -->
            
            <!-- START Mobile menu block -->

            <div id="offcanvas" class="uk-offcanvas">
                <div class="uk-offcanvas-bar">
                    <ul class="uk-nav uk-nav-offcanvas">
                        <li class="uk-parent uk-active">
                            <a href="{% url 'index' %}">Inicio</a>
                        </li>
                        <li><a href="{% url 'acerca' %}">Acerca</a></li>
                        <li><a href="{% url 'horario' %}">Horarios</a></li>
                        <li class="uk-parent">
                            <a href="{% url 'disciplina' %}">Disciplinas</a>
                            <ul class="uk-nav-sub">
                                <li><a href="classes/swimming.html">Taekwondo</a></li>
                                <li><a href="classes/swimming.html">Crosfit</a></li>
                                <li><a href="classes/swimming.html">Aeróbicos</a></li>
                                <li><a href="classes/swimming.html">MMA</a></li>
                                <li><a href="classes/swimming.html">Bailoterapia</a></li>
                                <li><a href="classes/swimming.html">Fisico Culturismo</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'entrenador' %}">Entrenadores</a></li>
                        <li><a href="{% url 'producto' %}">Productos</a></li>
                        <li><a href="{% url 'galeria' %}">Galeria</a></li>
                        <li><a href="{% url 'ubicacion' %}">Contacto</a></li>
                        <li><a href="{% url 'index' %}">Inscripciones</a></li>
                    </ul>
                </div>
            </div>
            <!-- END Mobile menu block -->
            
        </div>
        
        <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script><!-- jQuery v1.11.2 -->
        <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script><!-- Bootstrap.js Custom version for HTML! -->
        
        <!-- UIkit Version 2.19.0 -->
        <script src="{% static 'js/uikit/js/uikit.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/uikit/js/components/slideshow.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/uikit/js/components/slideshow-fx.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/uikit/js/core/cover.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/uikit/js/core/modal.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/uikit/js/components/lightbox.js' %}" type="text/javascript"></script>
        
        <!-- Animated circular progress bars -->
        <script src="{% static 'js/circle-progress.js' %}" type="text/javascript"></script>
        
        <!-- START Schedule block -->
        <script src="{% static 'js/jquery.mousewheel.js' %}" type="text/javascript"></script><!-- Uses for Schedule -->
        <script src="{% static 'js/jquery.jscrollpane.min.js' %}" type="text/javascript"></script><!-- Uses for Schedule -->
        <!-- END Schedule block -->
        
        <!-- Template scripts -->
        <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
        
    </body>
</html>