{% extends "index_admin.html" %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
{% block content %}
  <h2>Personas</h2>
<em>Persona - DNI</em>
<ul>
    {% for persona in object_list %}
      <li>{{ persona.per_nombre }} - {{ persona.per_apellido }} </li>
    {% endfor %}
  </ul>
<h2>Añadir persona</h2>

  Haga click <a href="{% url 'nuevo_usuario'  %}">aquí</a> para añadir una persona.
{% endblock %}
</body>
</html>