{% extends "index.html" %}
{% load static %}
<!DOCTYPE HTML>
<html lang="en-gb" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="With unique design and accent in details Maxx Fitness is perfect template. Design have beautiful typography and elegant structure. Joomla Template is based on Warp7 Framework and made for all who wants a lightweight and modular website.">
        {% block titulo %}
        <title>Contactos - Gym Deos</title>
        {% endblock %}
        
        <!-- Favicon and Apple icon -->
        <link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
        <link href="apple_touch_icon.png" rel="apple-touch-icon-precomposed">
        
        <link href="css/bootstrap.css" rel="stylesheet"><!-- Bootstrap Styles -->
        <link href="css/theme.css" rel="stylesheet"><!-- Main Template Styles -->
        <link href="css/schedule.css" rel="stylesheet"><!-- Schedule CSS -->
        
    </head>
    <body class="tm-isblog">
        <div class="ak-page">
            <!-- START Main menu -->
            <!-- END Main menu -->
            <!-- START Fullscreen block -->
            {% block contenido %}
            <div class="tm-fullscreen uk-position-relative">
                
                <div class="akslider-module ">
                    <div class="uk-slidenav-position" data-uk-slideshow="{height: 'auto', animation: 'scale', duration: '500', autoplay: false, autoplayInterval: '7000', videoautoplay: false, videomute: true, kenburns: true}">
                        <ul class="uk-slideshow">
                            <li class="uk-cover uk-height-viewport uk-active">
                                <div class="uk-cover-background uk-position-cover uk-animation-scale uk-animation-reverse uk-animation-15 uk-animation-middle-left" style="background-image: url({% static 'images/demo/visuals/slide-contacts.jpg' %});"></div>
                                <img src="{% static 'images/demo/visuals/slide-contacts.jpg' %}" width="800" height="400" alt="Contacts - Slide">
                                <div class="uk-caption uk-caption-panel uk-animation-fade uk-flex uk-flex-center uk-flex-bottom tm-contacts">
                                    <div>
                                        <div class="uk-grid">
                                            {% for a in contacto %}
                                            <div class="uk-width-medium-1-2 uk-width-large-1-4">
                                                <h4 class="uk-position-relative">
                                                    <i class="tm-circle">1</i>
                                                    Encuentranos
                                                </h4>
                                                <p>
                                                    {{a.direccion}}<br>
                                                    T:  +1{{a.telefono}}<br>
                                                    F:  +593 -{{a.celular}}
                                                </p>
                                                <a href="https://www.google.com/maps/place/Ram%C3%B3n+Pinto,+Loja/@-3.999806,-79.2068313,19z/data=!4m5!3m4!1s0x91cb37fdd27880f1:0xb3a98140fb98339e!8m2!3d-4.0000205!4d-79.2063442" target="_blank">
                                                    <i class="uk-icon-map-marker"></i>
                                                    View on Map
                                                </a>
                                            </div>
                                            {% endfor %}
                                            <br>
                                            <div class="uk-width-medium-1-2 uk-width-large-1-4">
                                                <h4 class="uk-position-relative" >
                                                    <i class="tm-circle">2</i>
                                                    Nuestras Dsiciplinas
                                                </h4>
                                            </div>
                                            <div class="uk-width-medium-1-2 uk-width-large-1-4">
                                                <h4 class="uk-position-relative">
                                                    <i class="tm-circle">3</i>
                                                    Los mejores instructores
                                                </h4>
                                            </div>
                                            <div class="uk-width-medium-1-2 uk-width-large-1-4">
                                                <h4 class="uk-position-relative">
                                                    <i class="tm-circle">4</i>
                                                    Inscríbete
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END Fullscreen block -->
            <!-- START Central block -->
            <div class="uk-container uk-container-center">
                <div class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
                    <div class="tm-main uk-width-medium-1-1">
                        <main class="tm-content uk-position-relative">
                            <!-- START breadcrumb block -->
                            <ul class="uk-breadcrumb">
                                <li><a href="{% url 'index' %}">Inicio</a></li>
                                <li class="uk-active"><span>Contactos</span></li>
                            </ul>
                            <!-- END breadcrumb block -->
                            
                            <div id="system-message-container"></div>
                            
                            <!-- START Article block -->
                            <article class="uk-article">
                                {% for a in contacto %}
                                <h1 class="uk-article-title">
                                    {{a.titulo}}            
                                </h1>
                                {% endfor %}
                                <div>
                                    <div class="uk-grid">
                                        {% for a in contacto %}
                                        <div class="uk-width-3-5">
                                            <p>{{a.descripcion|safe}}</p>
                                            <div class="uk-grid">
                                                <div class="uk-width-1-3">
                                                    <h3 class="uk-margin-top">Comunícate</h3>
                                                    <p>{{a.direccioon}}
                                                        <br>
                                                        Teléfono: {{a.telefono}}
                                                        <br>
                                                        Celular: +593 {{a.celular}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <div class="uk-width-2-5">
                                            <h3>Contáctanos!</h3>
                                            <div>
                                                <div id="aiContactSafe_form_2">
                                                    <div class="aiContactSafe" id="aiContactSafe_mainbody_2">
                                                        <div class="contentpaneopen">
                                                            <div id="aiContactSafeForm_2">
                                                                <div class="bootstrap-iso">
                                                                 <div class="container-fluid">
                                                                  <div class="row">
                                                                   <div class="col-md-12 col-sm-6 col-xs-12">
                                                                <form data-toogle="validator" action="/email/" method="post" accept-charset="utf-8">
                                                                    {% csrf_token %}
                                                                    <div id="displayAiContactSafeForm_2">
                                                                        <div class="aiContactSafe" id="aiContactSafe_contact_form_2">
                                                                            <label>Su Nombre (* obligatorio)</label>
                                                                            <div class="aiContactSafe_row">
                                                                                <div class="aiContactSafe_contact_form_field_right"><input type="text" name="nombre" id="nombre" class="textbox" placeholder="Nombre" value=""></div>
                                                                            </div>
                                                                            <label>Su Teléfono (* obligatorio)</label>
                                                                            <div class="aiContactSafe_row">
                                                                                <div class="aiContactSafe_contact_form_field_right"><input type="number" name="telefono" id="telefono" class="textbox" placeholder="Teléfono" value="" maxlength="10"></div>
                                                                            </div>

                                                                            <label class="control-label col-sm-2 requiredField">Su Email (* obligatorio)</label>
                                                                            <div class="aiContactSafe_row">
                                                                                <div class="aiContactSafe_contact_form_field_right"><input type="text" name="email" id="email" class="email" placeholder="E-mail" value=""></div>
                                                                            </div>
                                                                            <label>Su mensaje</label>
                                                                             <div class="aiContactSafe_row">
                                                                                <div class="aiContactSafe_contact_form_field_right"><input type="text" name="mensaje" id="mensaje" class="textbox" placeholder="Mensaje" value=""></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                    <div id="aiContactSafeBtns_2">
                                                                        <button style="border-radius: 8px" type="submit" id="submit" name="submit" class="btn btn-primary btn-lg">Enviar</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!-- END Article block -->
                        </main>
                    </div>
                </div>
            </div>
            <!-- <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso16.css" />  -->
            <!-- Inline CSS based on choices in "Settings" tab -->
          <!--   <style>.bootstrap-iso .form-group button, .bootstrap-iso form input.form-control, .bootstrap-iso form textarea.form-control, .bootstrap-iso form select.form-control, .bootstrap-iso form .form-group-lg input.form-control, .bootstrap-iso form .form-group-lg textarea.form-control, .bootstrap-iso form .form-group-lg select.form-control, .bootstrap-iso form .form-group-sm input.form-control, .bootstrap-iso form .form-group-sm textarea.form-control, .bootstrap-iso form .form-group-sm select.form-control{-webkit-border-radius: 20px;-moz-border-radius: 20px; border-radius: 20px;}.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: #ffffff !important;}.bootstrap-iso .form-control:focus { border-color: #f4c435; -webkit-box-shadow: none; box-shadow: none;} .bootstrap-iso .has-error .form-control:focus{-webkit-box-shadow: none; box-shadow: none;} .asteriskField{color: red;}.bootstrap-iso form .input-group-addon {color:#555555; background-color: #eeeeee; border-radius: 20px; padding-left:15px}</style> -->
            {% endblock %}
            <!-- END Central block -->
            
            
            <!-- START Social block -->
            <!-- END Social block -->
            
            <!-- START Footer block -->
                        <!-- START Footer About MaxxFitness block -->
                        <!-- END Footer About MaxxFitness block -->
                        
                        <!-- START Opening Hours block -->
                        <!-- END Opening Hours block -->
                        
                        <!-- START Request a 1 Day Free Trial block -->
                        <!-- END Request a 1 Day Free Trial block -->
            <!-- END Footer block -->
            
            <!-- START Mobile menu block -->
            <!-- END Mobile menu block -->            
        </div>
        
        <script src="js/jquery.min.js" type="text/javascript"></script><!-- jQuery v1.11.2 -->
        <script src="js/bootstrap.min.js" type="text/javascript"></script><!-- Bootstrap.js Custom version for HTML! -->
        
        <!-- UIkit Version 2.19.0 -->
        <script src="js/uikit/js/uikit.js" type="text/javascript"></script>
        <script src="js/uikit/js/components/slideshow.js" type="text/javascript"></script>
        <script src="js/uikit/js/components/slideshow-fx.js" type="text/javascript"></script>
        <script src="js/uikit/js/core/cover.js" type="text/javascript"></script>
        <script src="js/uikit/js/core/modal.js" type="text/javascript"></script>
        <script src="js/uikit/js/components/lightbox.js" type="text/javascript"></script>
        
        <!-- Animated circular progress bars -->
        <script src="js/circle-progress.js" type="text/javascript"></script>
        
        <!-- START Schedule block -->
        <script src="js/jquery.mousewheel.js" type="text/javascript"></script><!-- Uses for Schedule -->
        <script src="js/jquery.jscrollpane.min.js" type="text/javascript"></script><!-- Uses for Schedule -->
        <!-- END Schedule block -->
        
        <!-- Template scripts -->
        <script src="js/script.js" type="text/javascript"></script>
        
    </body>
</html>