{% extends "index.html" %}
{% load static %}
<!DOCTYPE HTML>
<html lang="en-gb" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="With unique design and accent in details Maxx Fitness is perfect template. Design have beautiful typography and elegant structure. Joomla Template is based on Warp7 Framework and made for all who wants a lightweight and modular website.">
        
        <title>5 Unique Workauts to Improve your Deadlift - Maxx Fitness Joomla Template</title>
        
        <!-- Favicon and Apple icon -->
        <link href="../favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
        <link href="../apple_touch_icon.png" rel="apple-touch-icon-precomposed">
        
        <link href="../css/comments.css" rel="stylesheet"><!-- Comments Styles -->
        <link href="../css/bootstrap.css" rel="stylesheet"><!-- Bootstrap Styles -->
        <link href="../css/theme.css" rel="stylesheet"><!-- Main Template Styles -->
        <link href="../css/schedule.css" rel="stylesheet"><!-- Schedule CSS --> 

        <!-- start Para los botones        -->
        
        <!-- end botones         -->
    </head>
    <body class="tm-isblog tm-page-classes">
        <div class="ak-page">
            <!-- START Main menu -->
            <nav class="tm-navbar uk-navbar">
                <div class="uk-container uk-container-center">
                    <!-- START Logo -->
                    <a class="tm-logo" href="../index.html">
                        <span class="color-1">Maxx</span><span class="color-2">Fitness</span>
                    </a>
                    <!-- END Logo -->
                    <ul class="uk-navbar-nav uk-hidden-small">
                        <li class="uk-parent" data-uk-dropdown="{}" aria-haspopup="true" aria-expanded="false">
                            <a href="../index.html">Home</a>
                            <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
                                <div class="uk-grid uk-dropdown-grid">
                                    <div class="uk-width-1-1">
                                        <ul class="uk-nav uk-nav-navbar">
                                            <li class="uk-parent">
                                                <span class="uk-nav-header">Color Variations</span>
                                                <ul class="uk-nav-sub">
                                                    <li><a href="../index.html">Default style</a></li>
                                                    <li><a href="../color_orange/index.html">Orange Style</a></li>
                                                    <li><a href="../color_green/index.html">Green Style</a></li>
                                                    <li><a href="../color_red/index.html">Red Style</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="../layouts.html">Layouts</a></li>
                                            <li><a href="../coming-soon-page.html">Coming Soon / Offline Page</a></li>
                                            <li><a href="../error.html">Error page</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="../about.html">About</a></li>
                        <li><a href="../schedule.html">Schedule</a></li>
                        <li class="uk-parent" data-uk-dropdown="{}" aria-haspopup="true" aria-expanded="false">
                            <a href="../classes.html">Classes</a>
                            <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-2">
                                <div class="uk-grid uk-dropdown-grid">
                                    <div class="uk-width-1-2">
                                        <ul class="uk-nav uk-nav-navbar">
                                            <li class="uk-nav-header">
                                                Weight Loss
                                            </li>
                                            <li><a href="../classes/swimming.html">Swimming</a></li>
                                            <li><a href="../classes/swimming.html">Kickboxing</a></li>
                                            <li><a href="../classes/cross-trainer.html">Cross Trainer</a></li>
                                        </ul>
                                    </div>
                                    <div class="uk-width-1-2">
                                        <ul class="uk-nav uk-nav-navbar">
                                            <li class="uk-nav-header">
                                                Muscle Gain
                                            </li>
                                            <li><a href="../classes/fast-bodyweight.html">Fast Bodyweight</a></li>
                                            <li><a href="../classes/pilates.html">Pilates</a></li>
                                            <li><a href="../classes/boxing.html">Boxing</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="uk-active"><a href="../workouts.html">Workouts</a></li>
                        <li><a href="../trainers.html">Trainers</a></li>
                        <li><a href="../store.html">Store</a></li>
                        <li><a href="../gallery.html">Gallery</a></li>
                        <li><a href="../contacts.html">Locations</a></li>
                    </ul>
                    <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
                </div>
            </nav>
            <!-- END Main menu -->
            {% block contenido %}
            
            <!-- START Fullscreen block -->
            <div class="tm-fullscreen uk-position-relative">
                <div class="akslider-module ">
                    <div class="uk-slidenav-position" data-uk-slideshow="{height: 'auto', animation: 'scale', duration: '500', autoplay: false, autoplayInterval: '7000', videoautoplay: false, videomute: true, kenburns: false}">
                        <ul class="uk-slideshow" style="height: 600px;">
                            <li class="uk-cover uk-height-viewport uk-active" style="height: 600px;">
                                <div class="uk-cover-background uk-position-cover" style="background-image: url({% static 'images/demo/workouts/workouts-slide.jpg' %});"></div>
                                <img src="../images/demo/workouts/workouts-slide.jpg" width="800" height="400" alt="Workouts - Slide" style="width: 100%; height: auto;">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END Fullscreen block -->
            
            
            <!-- START Central block -->
            <div class="uk-container uk-container-center">
                <div class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
                    <div class="tm-main uk-width-medium-1-1">
                        <main class="tm-content uk-position-relative">
                            <!-- START breadcrumb block -->
                            <ul class="uk-breadcrumb">
                                <li><a href="../index.html">Home</a></li>
                                <li><a href="../workouts.html">Workouts</a></li>
                                <li class="uk-active"><span>5 Unique Workauts to Improve your Deadlift</span></li>
                            </ul>
                            <!-- END breadcrumb block -->
                            
                            <div id="system-message-container"></div>
                            
                            <h1>Workouts</h1>
                            
                            <!-- START Article Blog block -->
                            <article class="uk-article">
                                <h2 class="uk-article-title">
                                    5 Unique Workauts to Improve your Deadlift          
                                    </h2>
                                <div>
                                    <div class="uk-grid">
                                        <div class="uk-width-2-3">
                                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum.</p>
                                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.</p>
                                            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum.</p>
                                            <p>Aenean lacinia bibendum nulla sed consectetur. Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor.</p>
                                            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus.Sed posuere consectetur est at lobortis.</p>
                                            <p>Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor.Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                                            <p>Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                                        </div>
                                        <div class="uk-width-1-3">
                                            <div class="uk-grid" data-uk-grid-margin="">
                                                <div class="uk-width-1-2">
                                                    <img class="uk-thumbnail uk-float-right uk-margin-left" src="{% static 'images/demo/workouts/workout-demo-1.jpg' %}" alt="workout-demo-1">
                                                </div>
                                                <div class="uk-width-1-2">
                                                    <img class="uk-thumbnail uk-float-right uk-margin-left" src="{% static 'images/demo/workouts/workout-demo-2.jpg' %}" alt="workout-demo-2">
                                                </div>
                                                <div class="uk-width-1-2 uk-grid-margin">
                                                    <img class="uk-thumbnail uk-float-right uk-margin-left" src="{% static 'images/demo/workouts/workout-demo-3.jpg' %}" alt="workout-demo-3">
                                                </div>
                                                <div class="uk-width-1-2 uk-grid-margin">
                                                    <img class="uk-thumbnail uk-float-right uk-margin-left" src="{% static 'images/demo/workouts/workout-demo-4.jpg' %}" alt="workout-demo-4">
                                                </div>
                                            </div>
                                            <div class="uk-panel uk-width-1-1 tm-workouts-box nohover">
                                                <div class="uk-grid">
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Duration</h6>
                                                        <span class="tm-uppercase">2 weeks</span>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Exercises</h6>
                                                        <span class="tm-uppercase">10</span>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Level</h6>
                                                        <span class="tm-uppercase">Medium</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uk-grid">
                                                <div class="uk-width-1-4">
                                                    <h5 class="tm-uppercase">Calories</h5>
                                                </div>
                                                <div class="uk-width-3-4">
                                                    <div class="uk-progress uk-progress-small" style="margin-top: 5px;">
                                                        <div class="uk-progress-bar" style="width: 55%;"></div>
                                                    </div>
                                                </div>
                                                <div class="uk-width-1-4">
                                                    <h5 class="tm-uppercase">Energy</h5>
                                                </div>
                                                <div class="uk-width-3-4">
                                                    <div class="uk-progress uk-progress-small" style="margin-top: 5px;">
                                                        <div class="uk-progress-bar" style="width: 40%;"></div>
                                                    </div>
                                                </div>
                                                <div class="uk-width-1-4">
                                                    <h5 class="tm-uppercase">Lifted</h5>
                                                </div>
                                                <div class="uk-width-3-4">
                                                    <div class="uk-progress uk-progress-small" style="margin-top: 5px;">
                                                        <div class="uk-progress-bar" style="width: 67%;"></div>
                                                    </div>
                                                </div>
                                                <div class="uk-width-1-4">
                                                    <h5 class="tm-uppercase">Strenght</h5>
                                                </div>
                                                <div class="uk-width-3-4">
                                                    <div class="uk-progress uk-progress-small" style="margin-top: 5px;">
                                                        <div class="uk-progress-bar" style="width: 87%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="jc">
                                    <div id="comments">
                                        <h4>Comments <a class="refresh" href="#" title="Refresh comments list" onclick="jcomments.showPage(29,'com_content',0);return false;">&nbsp;</a></h4>
                                        <div class="comments-list" id="comments-list-0">
                                            <div class="even" id="comment-item-51">
                                                <div class="rbox">
                                                    <div class="comment-avatar"><img src="http://www.gravatar.com/avatar/d9a09589182f7e44f50f8a01567618e9?d=http%3A%2F%2Fj-maxx-fitness.torbara.com%2Fcomponents%2Fcom_jcomments%2Fimages%2Fno_avatar.png" alt="Mia Mcentire"></div>
                                                    <div class="comment-box avatar-indent">
                                                        <a class="comment-anchor" href="workouts/5-unique-workauts-to-improve-your-deadlift.html#comment-51" id="comment-51">#</a>
                                                        <span class="comment-author">Mia Mcentire</span>
                                                        <span class="comment-date">2015-02-24 09:49</span>
                                                        <div class="comment-body" id="comment-body-51">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</div>
                                                        <span class="comments-buttons">
                                                        <a href="#" onclick="jcomments.showReply(51); return false;">Reply</a>
                                                        | <a href="#" onclick="jcomments.showReply(51,1); return false;">Reply with quote</a> | 
                                                        <a href="#" onclick="jcomments.quoteComment(51); return false;">Quote</a>
                                                        </span>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                            <div class="odd" id="comment-item-52">
                                                <div class="rbox">
                                                    <div class="comment-avatar"><img src="http://www.gravatar.com/avatar/280bf6ff77ad8812aa985e04eccd3a44?d=http%3A%2F%2Fj-maxx-fitness.torbara.com%2Fcomponents%2Fcom_jcomments%2Fimages%2Fno_avatar.png" alt="Lesley Mcentire"></div>
                                                    <div class="comment-box avatar-indent">
                                                        <a class="comment-anchor" href="workouts/5-unique-workauts-to-improve-your-deadlift.html#comment-52" id="comment-52">#</a>
                                                        <span class="comment-author">Lesley Mcentire</span>
                                                        <span class="comment-date">2015-02-24 09:53</span>
                                                        <div class="comment-body" id="comment-body-52">Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus porttitor. Nulla vitae elit libero, a pharetra augue.</div>
                                                        <span class="comments-buttons">
                                                        <a href="#" onclick="jcomments.showReply(52); return false;">Reply</a>
                                                        | <a href="#" onclick="jcomments.showReply(52,1); return false;">Reply with quote</a> | 
                                                        <a href="#" onclick="jcomments.quoteComment(52); return false;">Quote</a>
                                                        </span>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                            <div class="even" id="comment-item-53">
                                                <div class="rbox">
                                                    <div class="comment-avatar"><img src="http://www.gravatar.com/avatar/8e100dbcd809279d49acd3524f536937?d=http%3A%2F%2Fj-maxx-fitness.torbara.com%2Fcomponents%2Fcom_jcomments%2Fimages%2Fno_avatar.png" alt="Oda Cargill"></div>
                                                    <div class="comment-box avatar-indent">
                                                        <a class="comment-anchor" href="workouts/5-unique-workauts-to-improve-your-deadlift.html#comment-53" id="comment-53">#</a>
                                                        <span class="comment-author">Oda Cargill</span>
                                                        <span class="comment-date">2015-02-24 09:53</span>
                                                        <div class="comment-body" id="comment-body-53">Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus porttitor. Nulla vitae elit libero, a pharetra augue.</div>
                                                        <span class="comments-buttons">
                                                        <a href="#" onclick="jcomments.showReply(53); return false;">Reply</a>
                                                        | <a href="#" onclick="jcomments.showReply(53,1); return false;">Reply with quote</a> | 
                                                        <a href="#" onclick="jcomments.quoteComment(53); return false;">Quote</a>
                                                        </span>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                            <div class="odd" id="comment-item-54">
                                                <div class="rbox">
                                                    <div class="comment-avatar"><img src="http://www.gravatar.com/avatar/7dee704929cfe4839f56ae8f41a1236a?d=http%3A%2F%2Fj-maxx-fitness.torbara.com%2Fcomponents%2Fcom_jcomments%2Fimages%2Fno_avatar.png" alt="Audry Lazos"></div>
                                                    <div class="comment-box avatar-indent">
                                                        <a class="comment-anchor" href="workouts/5-unique-workauts-to-improve-your-deadlift.html#comment-54" id="comment-54">#</a>
                                                        <span class="comment-author">Audry Lazos</span>
                                                        <span class="comment-date">2015-02-24 09:54</span>
                                                        <div class="comment-body" id="comment-body-54">Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo<br>, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</div>
                                                        <span class="comments-buttons">
                                                        <a href="#" onclick="jcomments.showReply(54); return false;">Reply</a>
                                                        | <a href="#" onclick="jcomments.showReply(54,1); return false;">Reply with quote</a> | 
                                                        <a href="#" onclick="jcomments.quoteComment(54); return false;">Quote</a>
                                                        </span>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                            <div class="comments-list" id="comments-list-54">
                                                <div class="even" id="comment-item-57">
                                                    <div class="rbox">
                                                        <div class="comment-avatar"><img src="http://www.gravatar.com/avatar/046a849ddf1b4fa0a4584f0c4b2124b5?d=http%3A%2F%2Fj-maxx-fitness.torbara.com%2Fcomponents%2Fcom_jcomments%2Fimages%2Fno_avatar.png" alt="Terry Gupta"></div>
                                                        <div class="comment-box avatar-indent">
                                                            <a class="comment-anchor" href="workouts/5-unique-workauts-to-improve-your-deadlift.html#comment-57" id="comment-57">#</a>
                                                            <span class="comment-author">Terry Gupta</span>
                                                            <span class="comment-date">2015-02-24 10:34</span>
                                                            <div class="comment-body" id="comment-body-57">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus.</div>
                                                            <span class="comments-buttons">
                                                            <a href="#" onclick="jcomments.showReply(57); return false;">Reply</a>
                                                            | <a href="#" onclick="jcomments.showReply(57,1); return false;">Reply with quote</a> | 
                                                            <a href="#" onclick="jcomments.quoteComment(57); return false;">Quote</a>
                                                            </span>
                                                        </div>
                                                        <div class="clear"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <h4>Add comment</h4>
                                    <a id="addcomments" href="#addcomments"></a>
                                    <form id="comments-form" name="comments-form" action="javascript:void(null);">
                                        <p>
                                            <span>
                                            <input id="comments-form-name" type="text" name="name" value="" maxlength="20" size="22" tabindex="1">
                                            <label for="comments-form-name">Name (required)</label>
                                            </span>
                                        </p>
                                        <p>
                                            <span>
                                            <input id="comments-form-email" type="text" name="email" value="" size="22" tabindex="2">
                                            <label for="comments-form-email">E-mail (required, but will not display)</label>
                                            </span>
                                        </p>
                                        <p>
                                            <span>
                                                <textarea id="comments-form-comment" name="comment" cols="65" rows="8" tabindex="5"></textarea>
                                            </span>
                                        </p>
                                        <p>
                                            <span>
                                            <input class="checkbox" id="comments-form-subscribe" type="checkbox" name="subscribe" value="1" tabindex="5">
                                            <label for="comments-form-subscribe">Notify me of follow-up comments</label><br>
                                            </span>
                                        </p>
                                        <div id="comments-form-buttons">
                                            <div class="btn" id="comments-form-send">
                                                <div><a href="#" tabindex="7" onclick="jcomments.saveComment();return false;" title="Send (Ctrl+Enter)">Send</a></div>
                                            </div>
                                            <div class="btn" id="comments-form-cancel" style="display: none;">
                                                <div><a href="#" tabindex="8" onclick="return false;" title="Cancel">Cancel</a></div>
                                            </div>
                                            <div style="clear:both;"></div>
                                        </div>
                                    </form>
                                </div>
                            </article>
                            <!-- END Article Blog block -->
                        </main>
                    </div>
                </div>
            </div>
            {% endblock %}
            <!-- END Central block -->
            
            
            <!-- START Social block -->
            <!-- END Social block -->
            
            <!-- START Footer block -->
                        <!-- START Footer About MaxxFitness block -->
                        <!-- END Footer About MaxxFitness block -->
                        
                        <!-- START Opening Hours block -->
                        <!-- END Opening Hours block -->
                        
                        <!-- START Request a 1 Day Free Trial block -->
                        <!-- END Request a 1 Day Free Trial block -->
            <!-- END Footer block -->
            
            <!-- START Mobile menu block -->
            <!-- END Mobile menu block -->            
            
        </div>
        
        <script src="js/jquery.min.js" type="text/javascript"></script><!-- jQuery v1.11.2 -->
        <script src="js/bootstrap.min.js" type="text/javascript"></script><!-- Bootstrap.js Custom version for HTML! -->
        
        <!-- UIkit Version 2.19.0 -->
        <script src="js/uikit/js/uikit.js" type="text/javascript"></script>
        <script src="js/uikit/js/components/slideshow.js" type="text/javascript"></script>
        <script src="js/uikit/js/components/slideshow-fx.js" type="text/javascript"></script>
        <script src="js/uikit/js/core/cover.js" type="text/javascript"></script>
        <script src="js/uikit/js/core/modal.js" type="text/javascript"></script>
        <script src="js/uikit/js/components/lightbox.js" type="text/javascript"></script>
        
        <!-- Animated circular progress bars -->
        <script src="js/circle-progress.js" type="text/javascript"></script>
        
        <!-- START Schedule block -->
        <script src="js/jquery.mousewheel.js" type="text/javascript"></script><!-- Uses for Schedule -->
        <script src="js/jquery.jscrollpane.min.js" type="text/javascript"></script><!-- Uses for Schedule -->
        <!-- END Schedule block -->
        
        <!-- Template scripts -->
        <script src="js/script.js" type="text/javascript"></script>
        
    </body>
</html>