<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Reporte</title>
</head>
<style>

h1, h2{
  text-align: center;
}
</style>
<div class="row">
  <div class="column">
    <img src="static/reporte/logo.png" alt="Fjords" style="width:100%">
  </div>
</div>
<h1>CLUB DEPORTIVO ESPECIALIZADO DEOS</h1>
<h2><strong>Disciplina: </strong>{{mat.id_disciplina}}</h2>
<body>
<h5><strong>Instructor: </strong>{{mat.id_instructor}}</h5>
<h5><strong>Horario: </strong>{{mat.id_horario}}</h5>
<h5><strong>Total de Alumnos: </strong>{{contador}}</h5>
<table style="text-align: center; border: 1px solid; border-color: #9A9999;padding: 10%;">
	<thead>
		<tr style="color: white;">
			<th style="background-color: #4B4A4A">Nro.</th>
			<th style="background-color: #4B4A4A">Alumnos</th>			
			<th style="background-color: #4B4A4A">Celular</th>
			<th style="background-color: #4B4A4A">Telefono</th>
			<th style="background-color: #4B4A4A">Edad</th>
			<th style="background-color: #4B4A4A">Dirección</th>
			<th style="background-color: #4B4A4A">Genero</th>
		</tr>
	</thead>
	<tbody>
		{% for c in matricula %}
			<tr>
				<td>{{forloop.counter}}</td>
				<td>{{c.id_matricula.id_deportista}}</td>
				<td>{{c.id_matricula.id_deportista.id.celular}}</td>
				<td>{{c.id_matricula.id_deportista.id.telefono}}</td>
				<td>{{c.id_matricula.id_deportista.id.edad}}</td>
				<td>{{c.id_matricula.id_deportista.id.direccion}}</td>
				<td>{{c.id_matricula.id_deportista.id.genero}}</td>
			</tr>
			{%endfor%}
		</tbody>
	</table>
</body>
</html>