{% extends "about.html" %}
{% load static %}
<!DOCTYPE HTML>
<html lang="en-gb" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="With unique design and accent in details Maxx Fitness is perfect template. Design have beautiful typography and elegant structure. Joomla Template is based on Warp7 Framework and made for all who wants a lightweight and modular website.">
        {% block titulo %}
        <title>Productos - Gym Deos</title>
        {% endblock %}
        
        <!-- Favicon and Apple icon -->
        <link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
        <link href="apple_touch_icon.png" rel="apple-touch-icon-precomposed">
        
        <link href="css/bootstrap.css" rel="stylesheet"><!-- Bootstrap Styles -->
        <link href="css/theme.css" rel="stylesheet"><!-- Main Template Styles -->
        <link href="css/schedule.css" rel="stylesheet"><!-- Schedule CSS -->
        
    </head>
    <body class="tm-isblog">
        <div class="ak-page">
            <!-- START Main menu -->
            <!-- END Main menu -->
            <!-- START Central block -->
            {% block contenido %}
            <div class="uk-container uk-container-center">
                <div class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
                    <div class="tm-main uk-width-medium-1-1">
                        <main class="tm-content uk-position-relative">
                            <!-- START breadcrumb block -->
                            <ul class="uk-breadcrumb">
                                <li><a href="">Inicio</a></li>
                                <li class="uk-active"><span>Productos</span></li>
                            </ul>
                            <!-- END breadcrumb block -->
                            
                            <div id="system-message-container"></div>
                            
                            <div class="uk-grid">
                                <div class="uk-width-1-1">
                                    <div class="uk-panel uk-panel-header">
                                       <h1 class="tm-title">Productos</h1>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- START Store block -->
                            <div class="uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
                                <div class="uk-width-medium-1-1">
                                    {% for a in producto %}
                                    <article class="uk-article">
                                        <h2 class="uk-article-title">
                                            <a href="#" title="Sport technology whey protein">{{a.nombre}}</a>
                                        </h2>
                                        <a class="uk-align-left" href="#" title="">
                                            <img src='/static/media/{{a.imagen}}' alt="">
                                        </a>
                                        <div>
                                            <p align="justify" >{{a.descripcion}}</p>
                                            <div>
                                                <div id="j2store-product-25" class="j2store j2store-product-info">
                                                    <form action="#" method="post" class="j2storeCartForm1" id="j2storeadminForm_25" name="j2storeadminForm_25" enctype="multipart/form-data">
                                                        <!--base price-->
                                                        <span id="product_price_25" class="product_price">$ {{a.precio}}</span>
                                                        <!--special price-->
                                                        <!-- sku -->
                                                        <!-- stock -->
                                                        <!-- is catalogue mode enabled?-->
                                                        <!-- product options -->
                                                        <!-- product quantity -->
                                                        <div id="product_quantity_input_25" class="product_quantity_input">
                                                            <!-- <span>Quantity:</span> -->
                                                            <!-- <input type="text" name="product_qty" value="1" size="3"> -->
                                                        </div>
                                                        <div>
                                                            <br>
                                                        </div>
                                                        <!-- Add to cart block-->
                                                        <div id="add_to_cart_25" class="j2store_add_to_cart" style="display: block;">
                                                            <input value="Disponible en Gym Deos" type="submit" class="j2store_cart_button btn btn-primary">
                                                        </div>
                                                        <div class="j2store-notification" style="display: none;">
                                                            <div class="message"></div>
                                                            <div class="cart_link"><a class="btn btn-success" href="#">View Cart</a></div>
                                                            <div class="cart_dialogue_close" onclick="jQuery(this).parent().slideUp().hide();">x</div>
                                                        </div>
                                                        <div class="error_container">
                                                            <div class="j2product"></div>
                                                            <div class="j2stock"></div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="jcomments-links">
                                                <a class="readmore-link" href="store/sport-technology-whey-protein.html" title="Sport technology whey protein"></a>  
                                            </div>
                                        </div>
                                    </article>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- END Store block -->
                        </main>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
        <script src="js/jquery.min.js" type="text/javascript"></script><!-- jQuery v1.11.2 -->
        <script src="js/bootstrap.min.js" type="text/javascript"></script><!-- Bootstrap.js Custom version for HTML! -->
        
        <!-- UIkit Version 2.19.0 -->
        <script src="js/uikit/js/uikit.js" type="text/javascript"></script>
        <script src="js/uikit/js/components/slideshow.js" type="text/javascript"></script>
        <script src="js/uikit/js/components/slideshow-fx.js" type="text/javascript"></script>
        <script src="js/uikit/js/core/cover.js" type="text/javascript"></script>
        <script src="js/uikit/js/core/modal.js" type="text/javascript"></script>
        <script src="js/uikit/js/components/lightbox.js" type="text/javascript"></script>
        
        <!-- Animated circular progress bars -->
        <script src="js/circle-progress.js" type="text/javascript"></script>
        
        <!-- START Schedule block -->
        <script src="js/jquery.mousewheel.js" type="text/javascript"></script><!-- Uses for Schedule -->
        <script src="js/jquery.jscrollpane.min.js" type="text/javascript"></script><!-- Uses for Schedule -->
        <!-- END Schedule block -->
        
        <!-- Template scripts -->
        <script src="js/script.js" type="text/javascript"></script>    
        
    </body>
</html>