{% extends "about.html" %}
{% load static %}
<!DOCTYPE HTML>
<html lang="en-gb" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="With unique design and accent in details Maxx Fitness is perfect template. Design have beautiful typography and elegant structure. HTML Template is based on Warp7 Framework and made for all who wants a lightweight and modular website.">
        
        <title>Swimming - Maxx Fitness HTML Template</title>
        
        <!-- Favicon and Apple icon -->
        <link href="../favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
        <link href="../apple_touch_icon.png" rel="apple-touch-icon-precomposed">
        
        <link href="../css/bootstrap.css" rel="stylesheet"><!-- Bootstrap Styles -->
        <link href="../css/theme.css" rel="stylesheet"><!-- Main Template Styles -->
        <link href="../css/schedule.css" rel="stylesheet"><!-- Schedule CSS -->
    </head>
    <body class="tm-isblog tm-page-classes">
        <div class="ak-page">
            <!-- START Main menu -->
            <nav class="tm-navbar uk-navbar uk-navbar-attached">
                <div class="uk-container uk-container-center">
                    <!-- START Logo -->
                    <a class="tm-logo" href="../index.html">
                        <span class="color-1">Maxx</span><span class="color-2">Fitness</span>
                    </a>
                    <!-- END Logo -->
                    <ul class="uk-navbar-nav uk-hidden-small">
                        <li class="uk-parent" data-uk-dropdown="{}" aria-haspopup="true" aria-expanded="false">
                            <a href="../index.html">Home</a>
                            <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
                                <div class="uk-grid uk-dropdown-grid">
                                    <div class="uk-width-1-1">
                                        <ul class="uk-nav uk-nav-navbar">
                                            <li class="uk-parent">
                                                <span class="uk-nav-header">Color Variations</span>
                                                <ul class="uk-nav-sub">
                                                    <li><a href="../index.html">Default style</a></li>
                                                    <li><a href="../color_orange/index.html">Orange Style</a></li>
                                                    <li><a href="../color_green/index.html">Green Style</a></li>
                                                    <li><a href="../color_red/index.html">Red Style</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="../layouts.html">Layouts</a></li>
                                            <li><a href="../coming-soon-page.html">Coming Soon / Offline Page</a></li>
                                            <li><a href="../error.html">Error page</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="../about.html">About</a></li>
                        <li><a href="../schedule.html">Schedule</a></li>
                        <li class="uk-parent uk-active" data-uk-dropdown="{}" aria-haspopup="true" aria-expanded="false">
                            <a href="../classes.html">Classes</a>
                            <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-2">
                                <div class="uk-grid uk-dropdown-grid">
                                    <div class="uk-width-1-2">
                                        <ul class="uk-nav uk-nav-navbar">
                                            <li class="uk-nav-header">
                                                Weight Loss
                                            </li>
                                            <li class="uk-active"><a href="../classes/swimming.html">Swimming</a></li>
                                            <li><a href="../classes/swimming.html">Kickboxing</a></li>
                                            <li><a href="../classes/cross-trainer.html">Cross Trainer</a></li>
                                        </ul>
                                    </div>
                                    <div class="uk-width-1-2">
                                        <ul class="uk-nav uk-nav-navbar">
                                            <li class="uk-nav-header">
                                                Muscle Gain
                                            </li>
                                            <li><a href="../classes/fast-bodyweight.html">Fast Bodyweight</a></li>
                                            <li><a href="../classes/pilates.html">Pilates</a></li>
                                            <li><a href="../classes/boxing.html">Boxing</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="../workouts.html">Workouts</a></li>
                        <li><a href="../trainers.html">Trainers</a></li>
                        <li><a href="../store.html">Store</a></li>
                        <li><a href="../gallery.html">Gallery</a></li>
                        <li><a href="../contacts.html">Locations</a></li>
                    </ul>
                    <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
                </div>
            </nav>
            <!-- END Main menu -->
            
            
            <!-- START Central block -->
            {% block contenido %}
            <div class="uk-container uk-container-center">
                <div class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
                    <div class="tm-main uk-width-medium-1-1">
                        <main class="tm-content uk-position-relative">
                            <!-- START breadcrumb block -->
                            <ul class="uk-breadcrumb">
                                <li><a href="../index.html">Home</a></li>
                                <li><a href="../classes.html">Classes</a></li>
                                <li class="uk-active"><span>Swimming</span></li>
                            </ul>
                            <!-- END breadcrumb block -->
                            
                            <div id="system-message-container"></div>
                            
                            
                            <!-- START Article Blog block -->
                            <article class="uk-article">
                                <h1 class="uk-article-title">Swimming</h1>
                                <div>
                                    <div class="uk-panel tm-classes">
                                        <div class="uk-cover-background uk-position-relative" style="background-image: url({% static 'images/demo/classes/class-6.jpg' %});">
                                            <img src="{% static 'images/demo/classes/class-6.jpg' %}" class="uk-invisible" width="610" height="640" alt="5 Unique Workauts to Improve your Deadlift">
                                            <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom">
                                                <div class="ak-overlay-classes uk-width-1-1">
                                                    <div class="tm-radial uk-float-left" data-circle-value="0.90">
                                                        <div>Duration <span>90 minutes</span></div>
                                                    </div>
                                                    <div class="tm-radial uk-float-left" data-circle-value="0.35">
                                                        <div>Calories <span>600-800</span></div>
                                                    </div>
                                                    <div class="tm-radial uk-float-left" data-circle-value="0.5">
                                                        <div>Level <span>Medium</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                                    <h2 id="responsive-images"><a href="#responsive-images" class="uk-link-reset">Responsive images</a></h2>
                                    <p>All images in MaxxFitness are responsive by default. If the layout is narrowed, images adjust their size and keep their proportions.</p>
                                    <h3 class="tm-article-subtitle">Example</h3>
                                    <p>Resize the browser window to see the responsive behavior of the image.</p>
                                    <p><img width="480" height="260" src="../images/demo/placeholder.svg" alt=""></p>
                                    <p><span class="uk-badge">NOTE</span> To avoid the responsive behavior and preserve the original image dimensions, add the <code>.uk-img-preserve</code> class to one of your single images. If you have more than one image, you can also add the class to the parent container.</p>
                                    <p>Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p>
                                </div>
                            </article>
                            <!-- END Article Blog block -->
                            
                            
                        </main>
                    </div>
                </div>
            </div>
            {% endblock %}
            <!-- END Central block -->
            
            
            <!-- START Social block -->
            <!-- END Social block -->
            
            <!-- START Footer block -->
                        <!-- START Footer About MaxxFitness block -->
                        <!-- END Footer About MaxxFitness block -->
                        
                        <!-- START Opening Hours block -->
                        <!-- END Opening Hours block -->
                        
                        <!-- START Request a 1 Day Free Trial block -->
                        <!-- END Request a 1 Day Free Trial block -->
            <!-- END Footer block -->
            
            <!-- START Mobile menu block -->
            <!-- END Mobile menu block -->            
            
        </div>
        
        <script src="js/jquery.min.js" type="text/javascript"></script><!-- jQuery v1.11.2 -->
        <script src="js/bootstrap.min.js" type="text/javascript"></script><!-- Bootstrap.js Custom version for HTML! -->
        
        <!-- UIkit Version 2.19.0 -->
        <script src="js/uikit/js/uikit.js" type="text/javascript"></script>
        <script src="js/uikit/js/components/slideshow.js" type="text/javascript"></script>
        <script src="js/uikit/js/components/slideshow-fx.js" type="text/javascript"></script>
        <script src="js/uikit/js/core/cover.js" type="text/javascript"></script>
        <script src="js/uikit/js/core/modal.js" type="text/javascript"></script>
        <script src="js/uikit/js/components/lightbox.js" type="text/javascript"></script>
        
        <!-- Animated circular progress bars -->
        <script src="js/circle-progress.js" type="text/javascript"></script>
        
        <!-- START Schedule block -->
        <script src="js/jquery.mousewheel.js" type="text/javascript"></script><!-- Uses for Schedule -->
        <script src="js/jquery.jscrollpane.min.js" type="text/javascript"></script><!-- Uses for Schedule -->
        <!-- END Schedule block -->
        
        <!-- Template scripts -->
        <script src="js/script.js" type="text/javascript"></script> 
        
    </body>
</html>