{% extends "about.html" %}
{% load static %}
<!DOCTYPE HTML>
<html lang="en-gb" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="With unique design and accent in details Maxx Fitness is perfect template. Design have beautiful typography and elegant structure. HTML Template is based on Warp7 Framework and made for all who wants a lightweight and modular website.">
        {% block titulo %}
        <title>Entrenadores - Gym Deos</title>
        {% endblock %}
        
        <!-- Favicon and Apple icon -->
        <link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
        <link href="apple_touch_icon.png" rel="apple-touch-icon-precomposed">

    </head>
    <body class="tm-isblog">
        <div class="ak-page">
            <!-- START Main menu -->
                    <!-- START Logo -->
                    <!-- END Logo -->
            <!-- END Main menu -->
            
            <!-- START Central block -->
            {% block contenido %}
            <div class="uk-container uk-container-center">
                <div class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
                    <div class="tm-main uk-width-medium-1-1">
                        <main class="tm-content uk-position-relative">
                            <!-- START breadcrumb block -->
                            <ul class="uk-breadcrumb">
                                <li><a href="">Inicio</a></li>
                                <li class="uk-active"><span>Instructores</span></li>
                            </ul>
                            <!-- div class="alert alert-success" role="alert">
                              <a href="" class="alert-link"></a>
                            </div> -->
                            <!-- END breadcrumb block -->
                            
                            <div id="system-message-container"></div>
                            
                            <div class="uk-grid">
                                <div class="uk-width-1-1">
                                    <div class="uk-panel uk-panel-header">
                                        <h1 class="tm-title">Instructores</h1>
                                    </div>
                                </div>
                            </div>
                            <!-- START Article block -->
                            <div class="uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
                                {% for a in instructor %}
                                <div class="uk-width-medium-1-2">
                                    <article class="uk-article ">
                                        <h2 class="uk-article-title">
                                            <a href="#" title="">{{a.nombre}} {{a.apellido}}</a>
                                        </h2>
                                        <a class="uk-align-left" href="#" title="">
                                        <img style="width: 320px;height: 320px;" src='/static/media/{{a.imagen}}'  alt=""></a>
  
                                        <div>
                                            <p>{{a.profesion}}</p>
                                                <div class="jcomments-links">
                                                <a class="readmore-link" href="trainers/edward-j-hopper.html" title="#"></a>
                                                </div>
                                        </div>
                                    </article>
                                </div>
                                {% endfor %}
                            </div>
                            <!-- END Article block -->
                        </main>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
        
        <script src="js/jquery.min.js" type="text/javascript"></script><!-- jQuery v1.11.2 -->
        <script src="js/bootstrap.min.js" type="text/javascript"></script><!-- Bootstrap.js Custom version for HTML! -->
        
        <!-- UIkit Version 2.19.0 -->
        <script src="js/uikit/js/uikit.js" type="text/javascript"></script>
        <script src="js/uikit/js/components/slideshow.js" type="text/javascript"></script>
        <script src="js/uikit/js/components/slideshow-fx.js" type="text/javascript"></script>
        <script src="js/uikit/js/core/cover.js" type="text/javascript"></script>
        <script src="js/uikit/js/core/modal.js" type="text/javascript"></script>
        <script src="js/uikit/js/components/lightbox.js" type="text/javascript"></script>
        
        <!-- Animated circular progress bars -->
        <script src="js/circle-progress.js" type="text/javascript"></script>
        
        <!-- START Schedule block -->
        <script src="js/jquery.mousewheel.js" type="text/javascript"></script><!-- Uses for Schedule -->
        <script src="js/jquery.jscrollpane.min.js" type="text/javascript"></script><!-- Uses for Schedule -->
        <!-- END Schedule block -->
        
        <!-- Template scripts -->
        <script src="js/script.js" type="text/javascript"></script>
        
    </body>
</html>
 
