{% extends "index_admin.html" %}
{% load static %}
<!DOCTYPE html>

<head>
    <!-- Bootstrap Core CSS -->
    <!-- Menu CSS -->
    <!-- animation CSS -->
    <!-- Custom CSS -->
    <!-- color CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
        {% block contenido %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Adm. de Preinscripciones</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <!-- <a href="https://themeforest.net/item/elite-admin-responsive-dashboard-web-app-kit-/16750820" target="_blank" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Buy Now</a> -->
                        <ol class="breadcrumb">
                            <li><a href="#">Inicio</a></li>
                            <li class="active">Inscripciones</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title m-b-0">Inscripcioness</h3>
                            <hr>
                            <div class="table-responsive">
                                {% csrf_token %}
                                <table id="myTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Nombre</th>
                                            <th>Apellido</th>
                                            <th>Email</th>
                                            <th>Telefono</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for a in personas %}
                                        <tr>
                                            <td>{{ a.per_nombre }}</td>
                                            <td>{{ a.per_apellido }}</td>
                                            <td>{{ a.per_email }}</td>
                                            <td>{{ a.per_telefono }}</td>
                                        </tr>
                                        {% empty %}
                                        <tr><td colspan="4">No hay personas registradas</td></tr>         
                                        {% endfor %}
                                        <td>
                                        </td>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->
        {% endblock  %}             
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <!-- Bootstrap Core JavaScript -->
    <!-- Menu Plugin JavaScript -->
    <!--slimscroll JavaScript -->
    <!--Wave Effects -->
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script>
    $(document).ready(function() {
        $('#myTable').DataTable();
    });
    </script>
    <!--Style Switcher -->
</body>

</html>
