{% extends "about.html" %}
{% load static %}
<!DOCTYPE HTML>
<html lang="en-gb" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="With unique design and accent in details Maxx Fitness is perfect template. Design have beautiful typography and elegant structure. Joomla Template is based on Warp7 Framework and made for all who wants a lightweight and modular website.">
        
        <title>Workouts - Maxx Fitness Joomla Template</title>
        
        <!-- Favicon and Apple icon -->
        <link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
        <link href="apple_touch_icon.png" rel="apple-touch-icon-precomposed">
        
        <!-- Bootstrap Styles -->
        <!-- Main Template Styles -->
        <!-- Schedule CSS -->
        
    </head>
    <body class="tm-isblog tm-page-workouts">
        <div class="ak-page">
            <!-- START Main menu -->
                    <!-- START Logo -->
                    <!-- END Logo -->
            <!-- END Main menu -->
            
            
            <!-- START Central block -->
            {% block contenido %}
            <div class="uk-container uk-container-center">
                <div class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
                    <div class="tm-main uk-width-medium-1-1">
                        <main class="tm-content uk-position-relative">
                            <!-- START breadcrumb block -->
                            <ul class="uk-breadcrumb">
                                <li><a href="">Home</a></li>
                                <li class="uk-active"><span>Workouts</span></li>
                            </ul>
                            <!-- END breadcrumb block -->
                            
                            <div id="system-message-container"></div>
                            
                            
                            <div class="uk-grid">
                                <div class="uk-width-1-1">
                                    <div class="uk-panel uk-panel-header">
                                        <h1 class="tm-title">Workouts</h1>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- START Article Blog block -->
                            <div class="uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
                                <div class="uk-width-medium-1-3">
                                    <!-- START Workout-1 block -->
                                    <article class="uk-article">
                                        <a class="uk-align-left" href="workouts/5-unique-workauts-to-improve-your-deadlift.html" title=""><img src="{% static 'images/demo/workouts/workout-1.jpg' %}" alt="">
                                        </a>
                                        <div>
                                            <div class="uk-panel uk-width-1-1">
                                                <div class="uk-grid">
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Duration</h6>
                                                        <span class="tm-uppercase">2 weeks</span>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Exercises</h6>
                                                        <span class="tm-uppercase">10</span>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Level</h6>
                                                        <span class="tm-uppercase">Medium</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <h4 class="tm-workouts-line tm-uppercase">Style</h4>
                                            <h3 class="tm-workouts-subline tm-uppercase">5 Unique Workauts to Improve Deadlift</h3>
                                            <div class="jcomments-links">
                                                <a class="readmore-link" href="workouts/5-unique-workauts-to-improve-your-deadlift.html" title="5 Unique Workauts to Improve your Deadlift">Read more ...</a>
                                                <a class="comments-link" href="workouts/5-unique-workauts-to-improve-your-deadlift.html#comments" title="5 comments">5 comments</a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- END Workout-1 block -->
                                    
                                    <!-- START Workout-2 block -->
                                    <article class="uk-article">
                                        <a class="uk-align-left" href="workouts/5-unique-workauts-to-improve-your-deadlift.html" title=""><img src="{% static 'images/demo/workouts/workout-4.jpg' %}" alt=""></a>
                                        <div>
                                            <div class="uk-panel uk-width-1-1">
                                                <div class="uk-grid">
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Duration</h6>
                                                        <span class="tm-uppercase">2 Weeks</span>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Exercises</h6>
                                                        <span class="tm-uppercase">10</span>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Level</h6>
                                                        <span class="tm-uppercase">Medium</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <h4 class="tm-workouts-line tm-uppercase">Cardio</h4>
                                            <h3 class="tm-workouts-subline tm-uppercase">Malesuada Aenean Porta Cursus</h3>
                                            <div class="jcomments-links">
                                                <a class="readmore-link" href="workouts/5-unique-workauts-to-improve-your-deadlift.html" title="5 Unique Workauts to Improve your Deadlift">Read more ...</a>
                                                <a class="comments-link" href="workouts/5-unique-workauts-to-improve-your-deadlift.html#comments" title="5 comments">5 comments</a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- END Workout-2 block -->
                                    
                                    <!-- START Workout-3 block -->
                                    <article class="uk-article">
                                        <a class="uk-align-left" href="workouts/5-unique-workauts-to-improve-your-deadlift.html" title=""><img src="{% static 'images/demo/workouts/workout-7.jpg' %}" alt=""></a>
                                        <div>
                                            <div class="uk-panel uk-width-1-1">
                                                <div class="uk-grid">
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Duration</h6>
                                                        <span class="tm-uppercase">1 Day</span>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Exercises</h6>
                                                        <span class="tm-uppercase">15</span>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Level</h6>
                                                        <span class="tm-uppercase">Easy</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <h4 class="tm-workouts-line tm-uppercase">Weight loss</h4>
                                            <h3 class="tm-workouts-subline tm-uppercase">Sit Tortor Sem Etiam</h3>
                                            <div class="jcomments-links">
                                                <a class="readmore-link" href="workouts/5-unique-workauts-to-improve-your-deadlift.html" title="5 Unique Workauts to Improve your Deadlift">Read more ...</a>
                                                <a class="comments-link" href="workouts/5-unique-workauts-to-improve-your-deadlift.html#comments" title="5 comments">5 comments</a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- END Workout-3 block -->
                                    
                                    <!-- START Workout-4 block -->
                                    <article class="uk-article">
                                        <a class="uk-align-left" href="workouts/5-unique-workauts-to-improve-your-deadlift.html" title=""><img src="{% static 'images/demo/workouts/workout-10.jpg' %}" alt=""></a>
                                        <div>
                                            <div class="uk-panel uk-width-1-1">
                                                <div class="uk-grid">
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Duration</h6>
                                                        <span class="tm-uppercase">1 Day</span>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Exercises</h6>
                                                        <span class="tm-uppercase">15</span>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Level</h6>
                                                        <span class="tm-uppercase">Easy</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <h4 class="tm-workouts-line tm-uppercase">Weight loss</h4>
                                            <h3 class="tm-workouts-subline tm-uppercase">Dedicated routine for massive triceps</h3>
                                            <div class="jcomments-links">
                                                <a class="readmore-link" href="workouts/5-unique-workauts-to-improve-your-deadlift.html" title="5 Unique Workauts to Improve your Deadlift">Read more ...</a>
                                                <a class="comments-link" href="workouts/5-unique-workauts-to-improve-your-deadlift.html#comments" title="5 comments">5 comments</a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- END Workout-4 block -->
                                    
                                </div>
                                <div class="uk-width-medium-1-3">
                                    
                                    <!-- START Workout-5 block -->
                                    <article class="uk-article">
                                        <a class="uk-align-left" href="workouts/5-unique-workauts-to-improve-your-deadlift.html" title=""><img src="{% static 'images/demo/workouts/workout-2.jpg' %}" alt=""></a>
                                        <div>
                                            <div class="uk-panel uk-width-1-1">
                                                <div class="uk-grid">
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Duration</h6>
                                                        <span class="tm-uppercase">6 weeks</span>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Exercises</h6>
                                                        <span class="tm-uppercase">3</span>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Level</h6>
                                                        <span class="tm-uppercase">Advantage</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <h4 class="tm-workouts-line tm-uppercase">WORKOUT TIPS</h4>
                                            <h3 class="tm-workouts-subline tm-uppercase">Sculpt Your ABS into a six-pack in six weeks</h3>
                                            <div class="jcomments-links">
                                                <a class="readmore-link" href="workouts/5-unique-workauts-to-improve-your-deadlift.html" title="5 Unique Workauts to Improve your Deadlift">Read more ...</a>
                                                <a class="comments-link" href="workouts/5-unique-workauts-to-improve-your-deadlift.html#comments" title="5 comments">5 comments</a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- END Workout-5 block -->
                                    
                                    <!-- START Workout-6 block -->
                                    <article class="uk-article">
                                        <a class="uk-align-left" href="workouts/5-unique-workauts-to-improve-your-deadlift.html" title=""><img src="{% static 'images/demo/workouts/workout-5.jpg' %}" alt=""></a>
                                        <div>
                                            <div class="uk-panel uk-width-1-1">
                                                <div class="uk-grid">
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Duration</h6>
                                                        <span class="tm-uppercase">6 Weeks</span>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Exercises</h6>
                                                        <span class="tm-uppercase">3</span>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Level</h6>
                                                        <span class="tm-uppercase">Advantage</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <h4 class="tm-workouts-line tm-uppercase">Cardio</h4>
                                            <h3 class="tm-workouts-subline tm-uppercase">Ultricies Magna Ornare Venenatis</h3>
                                            <div class="jcomments-links">
                                                <a class="readmore-link" href="workouts/5-unique-workauts-to-improve-your-deadlift.html" title="5 Unique Workauts to Improve your Deadlift">Read more ...</a>
                                                <a class="comments-link" href="workouts/5-unique-workauts-to-improve-your-deadlift.html#comments" title="5 comments">5 comments</a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- END Workout-6 block -->
                                    
                                    <!-- START Workout-7 block -->
                                    <article class="uk-article">
                                        <a class="uk-align-left" href="workouts/5-unique-workauts-to-improve-your-deadlift.html" title=""><img src="{% static 'images/demo/workouts/workout-8.jpg' %}" alt=""></a>
                                        <div>
                                            <div class="uk-panel uk-width-1-1">
                                                <div class="uk-grid">
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Duration</h6>
                                                        <span class="tm-uppercase">6 Weeks</span>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Exercises</h6>
                                                        <span class="tm-uppercase">3</span>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Level</h6>
                                                        <span class="tm-uppercase">Advantage</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <h4 class="tm-workouts-line tm-uppercase">Cardio</h4>
                                            <h3 class="tm-workouts-subline tm-uppercase">Fermentum Aenean Mollis Parturient</h3>
                                            <div class="jcomments-links">
                                                <a class="readmore-link" href="workouts/5-unique-workauts-to-improve-your-deadlift.html" title="5 Unique Workauts to Improve your Deadlift">Read more ...</a>
                                                <a class="comments-link" href="workouts/5-unique-workauts-to-improve-your-deadlift.html#comments" title="5 comments">5 comments</a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- END Workout-7 block -->
                                    
                                    <!-- START Workout-8 block -->
                                    <article class="uk-article">
                                        <a class="uk-align-left" href="workouts/5-unique-workauts-to-improve-your-deadlift.html" title=""><img src="{% static 'images/demo/workouts/workout-11.jpg' %}" alt=""></a>
                                        <div>
                                            <div class="uk-panel uk-width-1-1">
                                                <div class="uk-grid">
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Duration</h6>
                                                        <span class="tm-uppercase">6 weeks</span>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Exercises</h6>
                                                        <span class="tm-uppercase">3</span>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Level</h6>
                                                        <span class="tm-uppercase">Advantage</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <h4 class="tm-workouts-line tm-uppercase">WORKOUT TIPS</h4>
                                            <h3 class="tm-workouts-subline tm-uppercase">Sculpt Your ABS into a six-pack in six weeks</h3>
                                            <div class="jcomments-links">
                                                <a class="readmore-link" href="workouts/5-unique-workauts-to-improve-your-deadlift.html" title="5 Unique Workauts to Improve your Deadlift">Read more ...</a>
                                                <a class="comments-link" href="workouts/5-unique-workauts-to-improve-your-deadlift.html#comments" title="5 comments">5 comments</a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- END Workout-8 block -->
                                </div>
                                <div class="uk-width-medium-1-3">
                                    <!-- START Workout-9 block -->
                                    <article class="uk-article">
                                        <a class="uk-align-left" href="workouts/5-unique-workauts-to-improve-your-deadlift.html" title=""><img src="{% static 'images/demo/workouts/workout-3.jpg' %}" alt=""></a>
                                        <div>
                                            <div class="uk-panel uk-width-1-1">
                                                <div class="uk-grid">
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Duration</h6>
                                                        <span class="tm-uppercase">1 Day</span>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Exercises</h6>
                                                        <span class="tm-uppercase">15</span>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Level</h6>
                                                        <span class="tm-uppercase">Easy</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <h4 class="tm-workouts-line tm-uppercase">Weight loss</h4>
                                            <h3 class="tm-workouts-subline tm-uppercase">Dedicated routine for massive triceps</h3>
                                            <div class="jcomments-links">
                                                <a class="readmore-link" href="workouts/5-unique-workauts-to-improve-your-deadlift.html" title="5 Unique Workauts to Improve your Deadlift">Read more ...</a>
                                                <a class="comments-link" href="workouts/5-unique-workauts-to-improve-your-deadlift.html#comments" title="5 comments">5 comments</a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- END Workout-9 block -->
                                    
                                    <!-- START Workout-10 block -->
                                    <article class="uk-article">
                                        <a class="uk-align-left" href="workouts/5-unique-workauts-to-improve-your-deadlift.html" title=""><img src="{% static 'images/demo/workouts/workout-6.jpg' %}" alt=""></a>
                                        <div>
                                            <div class="uk-panel uk-width-1-1">
                                                <div class="uk-grid">
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Duration</h6>
                                                        <span class="tm-uppercase">1 Day</span>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Exercises</h6>
                                                        <span class="tm-uppercase">15</span>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Level</h6>
                                                        <span class="tm-uppercase">Easy</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <h4 class="tm-workouts-line tm-uppercase">Weight loss</h4>
                                            <h3 class="tm-workouts-subline tm-uppercase">Sem Aenean Bibendum Lorem</h3>
                                            <div class="jcomments-links">
                                                <a class="readmore-link" href="workouts/5-unique-workauts-to-improve-your-deadlift.html" title="5 Unique Workauts to Improve your Deadlift">Read more ...</a>
                                                <a class="comments-link" href="workouts/5-unique-workauts-to-improve-your-deadlift.html#comments" title="5 comments">5 comments</a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- END Workout-10 block -->
                                    
                                    <!-- START Workout-11 block -->
                                    <article class="uk-article">
                                        <a class="uk-align-left" href="workouts/5-unique-workauts-to-improve-your-deadlift.html" title=""><img src="{% static 'images/demo/workouts/workout-9.jpg' %}" alt=""></a>
                                        <div>
                                            <div class="uk-panel uk-width-1-1">
                                                <div class="uk-grid">
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Duration</h6>
                                                        <span class="tm-uppercase">2 Weeks</span>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Exercises</h6>
                                                        <span class="tm-uppercase">10</span>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Level</h6>
                                                        <span class="tm-uppercase">Medium</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <h4 class="tm-workouts-line tm-uppercase">Cardio</h4>
                                            <h3 class="tm-workouts-subline tm-uppercase">Fermentum Vehicula Tristique Quam Ornare</h3>
                                            <div class="jcomments-links">
                                                <a class="readmore-link" href="workouts/5-unique-workauts-to-improve-your-deadlift.html" title="5 Unique Workauts to Improve your Deadlift">Read more ...</a>
                                                <a class="comments-link" href="workouts/5-unique-workauts-to-improve-your-deadlift.html#comments" title="5 comments">5 comments</a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- END Workout-11 block -->
                                    
                                    <!-- START Workout-12 block -->
                                    <article class="uk-article">
                                        <a class="uk-align-left" href="workouts/5-unique-workauts-to-improve-your-deadlift.html" title=""><img src="{% static 'images/demo/workouts/workout-12.jpg' %}" alt=""></a>
                                        <div>
                                            <div class="uk-panel uk-width-1-1">
                                                <div class="uk-grid">
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Duration</h6>
                                                        <span class="tm-uppercase">2 weeks</span>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Exercises</h6>
                                                        <span class="tm-uppercase">10</span>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <h6 class="tm-uppercase">Level</h6>
                                                        <span class="tm-uppercase">Medium</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <h4 class="tm-workouts-line tm-uppercase">Style</h4>
                                            <h3 class="tm-workouts-subline tm-uppercase">5 Unique Workauts to Improve Deadlift</h3>
                                            <div class="jcomments-links">
                                                <a class="readmore-link" href="workouts/5-unique-workauts-to-improve-your-deadlift.html" title="5 Unique Workauts to Improve your Deadlift">Read more ...</a>
                                                <a class="comments-link" href="workouts/5-unique-workauts-to-improve-your-deadlift.html#comments" title="5 comments">5 comments</a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- END Workout-12 block -->
                                    
                                </div>
                            </div>
                            <!-- END Article Blog block -->
                        </main>
                    </div>
                </div>
            </div>
            {% endblock %}
            <!-- END Central block -->
            
            
            <!-- START Social block -->
            <!-- END Social block -->
            
            <!-- START Footer block -->
                        <!-- START Footer About MaxxFitness block -->
                        <!-- END Footer About MaxxFitness block -->
                        
                        <!-- START Opening Hours block -->
                        <!-- END Opening Hours block -->
                        
                        <!-- START Request a 1 Day Free Trial block -->
                        <!-- END Request a 1 Day Free Trial block -->
            <!-- END Footer block -->
            
            <!-- START Mobile menu block -->
            <!-- END Mobile menu block -->            
            
        </div>
        
        <script src="js/jquery.min.js" type="text/javascript"></script><!-- jQuery v1.11.2 -->
        <script src="js/bootstrap.min.js" type="text/javascript"></script><!-- Bootstrap.js Custom version for HTML! -->
        
        <!-- UIkit Version 2.19.0 -->
        <script src="js/uikit/js/uikit.js" type="text/javascript"></script>
        <script src="js/uikit/js/components/slideshow.js" type="text/javascript"></script>
        <script src="js/uikit/js/components/slideshow-fx.js" type="text/javascript"></script>
        <script src="js/uikit/js/core/cover.js" type="text/javascript"></script>
        <script src="js/uikit/js/core/modal.js" type="text/javascript"></script>
        <script src="js/uikit/js/components/lightbox.js" type="text/javascript"></script>
        
        <!-- Animated circular progress bars -->
        <script src="js/circle-progress.js" type="text/javascript"></script>
        
        <!-- START Schedule block -->
        <script src="js/jquery.mousewheel.js" type="text/javascript"></script><!-- Uses for Schedule -->
        <script src="js/jquery.jscrollpane.min.js" type="text/javascript"></script><!-- Uses for Schedule -->
        <!-- END Schedule block -->
        
        <!-- Template scripts -->
        <script src="js/script.js" type="text/javascript"></script>  
        
    </body>
</html>