{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'plugins/images/favicon.png' %}">
    <title>Club Deportivo - Deos Gym</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'plugins/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bootstrap-extension/css/bootstrap-extension.css' %}" rel="stylesheet">
    <!-- animation CSS -->
    <link href="{% static 'plugins/css/animate.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'plugins/css/style.css' %}" rel="stylesheet">
    <!-- color CSS -->
    <link href="{% static 'plugins/css/colors/megna.css' %}" id="theme" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <section id="wrapper" class="login-register">
        <div class="login-box login-sidebar">
            <div class="white-box">
                <!-- <select> -->
                    <!-- <option>Elige una opcion</option> -->
                    <!-- {% for a in fitness %}    -->
                        <!-- <option value="{{a.id_disciplina}}">{{a.nombre}}</option> -->
                    <!-- {% endfor %} -->
                <!-- </select> -->
                <a href="#" class="text-center db"><img src="{% static 'plugins/images/eliteadmin-logo-dark.png' %}" alt="Home" />
                    <br/><img src="{% static 'plugins/images/eliteadmin-text-dark.png' %}" alt="Home" /></a>
                <h3 class="box-title m-t-40 m-b-0">Realiza tu preinscripción</h3><small>Reserva desde ahora</small>
                <form method="post" class="form-horizontal form-material"  action="">
                    {%csrf_token%}
                    {{ form_preinscripcion.as_p }}
                    <!-- <div class="form-group m-t-20">
                        <div class="col-xs-12">
                            <select>
                                <option id="id_disciplina" name="id_disciplina" class="form-control" ></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required="" placeholder="Dirección">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required="" placeholder="Telefono">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="Select" required="" placeholder="Disciplinas">
                        </div>
                    </div> -->
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-success btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Enviar</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p>Deseas regresar? <a href="{% url 'index' %}" class="text-primary m-l-5"><b>Inicio</b></a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="{% static 'plugins/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'plugins/bootstrap/dist/js/tether.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- <script src="{% static 'datepicker/bootstrap-datetimepicker.min.js' %}"></script> -->
    <script src="{% static 'plugins/bootstrap-extension/js/bootstrap-extension.min.js' %}"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="{% static 'plugins/sidebar-nav/dist/sidebar-nav.min.js' %}"></script>
    <!--slimscroll JavaScript -->
    <script src="{% static 'plugins/js/jquery.slimscroll.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'plugins/js/waves.js' %}"></script>
    <script src="{% static 'plugins/js/custom.min.js' %}"></script>
    <script src="{% static 'plugins/styleswitcher/jQuery.style.switcher.js' %}"></script>
</body>

</html>
