{% extends "about.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../plugins/images/favicon.png">
    {% block titulo %}
    <title>Preinscripciones</title>
    {% endblock %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'plugins/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/plugins/bootstrap-extension/css/bootstrap-extension.css' %}" rel="stylesheet">
    <!-- animation CSS -->
    <link href="{% static 'plugins/css/animate.css' %}" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="{% static 'plugins/sidebar-nav/dist/sidebar-nav.min.css' %}" rel="stylesheet">
    <!-- animation CSS -->
    <link href="css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- color CSS -->
    <link href="{% static 'css/colors/megna.css' %}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        {% block contenido %}
        <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
        <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso12.css" /> 

        <!-- Inline CSS based on choices in "Settings" tab -->
        <style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Tahoma, Geneva, sans-serif; color: #201212}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: #ffffff !important;} .asteriskField{color: red;}.bootstrap-iso form .input-group-addon {color:#1abb10; background-color: #bda8a8; border-radius: 4px; padding-left:12px}</style>

        <!-- HTML Form (wrapped in a .bootstrap-iso div) -->
        <div class="uk-container uk-container-center">
            <div class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
                <div class="tm-main uk-width-medium-1-2 uk-push-1-4" style="min-height: 2258px;">
                    <main class="tm-content uk-position-relative">
                        <!-- START breadcrumb block -->
                        <ul class="uk-breadcrumb">
                            <li><a href="{% url 'index' %}">Inicio</a></li>
                            <li class="uk-active"><span>Preinscripciones</span></li>
                        </ul>
                        <!-- END breadcrumb block -->
                        <div id="system-message-container"></div>
                        <!-- START Dummy item block -->
                        <article class="uk-article">
                            <h1 class="uk-article-title">
                            </h1>
                            <div>
                                <p align="justify"></p>
                                <div class="uk-grid">
                                    <div class="uk-width-1-1" data-uk-margin="">
                                        <div class="uk-button-group">
                                            <div data-uk-dropdown="{mode:'click'}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bootstrap-iso ">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-10 col-sm-6 col-xs-12">
                                                <form method="post" name="form1" data-togle="validator">
                                                    {% csrf_token %}
                                                    {%if user.is_authenticated%}
                                                    <!-- <h3>Selecciona tu disciplina:</h3> -->
                                                    {%else%}
                                                    <div class="form-group">
                                                        <label for="nombres">Nombres</label>
                                                        <input  id="nombres" type="text" name="nombres" class="form-control" required="required">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="apellidos">Apellidos</label>
                                                        <input id="apellidos" type="text" name="apellidos" class="form-control" required="required">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="mail">Email</label>
                                                        <input type="mail" name="email" class="form-control" required="required">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="username">Usuario</label>
                                                        <input type="text" name="username" class="form-control" required="required">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="pass">Contraseña</label>
                                                        <input type="password" name="pass" class="form-control" required="required">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="cedula">Cédula</label>
                                                        <input data-validation-length="min4" type="number" name="cedula" id="cedula" class="form-control" required="required">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="direccion">Dirección</label>
                                                        <input type="text" name="direccion" class="form-control" required="required">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="telefono">Teléfono</label>
                                                        <input maxlength="10" type="number" name="telefono" id="telefono" class="form-control" required="">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="celular">Celular</label>
                                                        <input type="text" name="celular" id="celular" class="form-control" required="required">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="edad">Edad</label>
                                                        <input type="number" id="edad" name="edad" class="form-control" required="required">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="edad">Género</label>
                                                        <select name="genero" id="" class="form-control" >
                                                            <option value="">------------</option>
                                                            <option value="Masculino">Masculino</option>
                                                            <option value="Femenino">Femenino</option>
                                                        </select>
                                                    </div>
                                                    {%endif%} 
                                                    <div style="border: 1px solid #FFF;" >
                                                        <ul style="list-style-image: url({% static 'images/ok.png' %});">
                                                        <!-- {{form_deportistapre.as_p}} -->
                                                        <label>Selecciona tu disciplina:</label>
                                                        <br>
                                                        <br>
                                                        <label for="{{form_deportistapre.id_disciplina_horario}}">
                                                        </label>
                                                        </ul>
                                                    </div>                                                   
                                                    <div class="form-group">
                                                        <div>
                                                            <button class="btn btn-success" name="submit" type="submit">Enviar</button>
                                                            <a href="{% url 'index' %}" class="btn btn-danger" role="button" style="border-radius:6px" >Cancelar</a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <hr class="uk-grid-divider">
                        </div>
                        </article>
                        <!-- END Dummy item block -->
                    </main>
                </div>
                <aside class="tm-sidebar-a uk-width-medium-1-4 uk-pull-1-2">
                        <div class="uk-panel uk-panel-header">
                            <div class="uk-panel-badge uk-badge"></div>
                            <img style="width: 300px;height: 220px;" src="{% static 'images/fisico_culturismo.jpg' %}">
                            <p></p>
                        </div>
                        <div class="uk-panel uk-panel-header">
                            <div class="uk-panel-badge uk-badge"></div>
                            <img style="width: 300px;height: 220px;" src="{% static 'images/bailoterapia.jpg' %}">
                            <p></p>
                        </div>

                    </aside>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript">
             $(function() {
            $('#nombres').keydown(function(e) {
              if (e.shiftKey || e.ctrlKey || e.altKey) {
                e.preventDefault();
              } else {
                var key = e.keyCode;
                if (!((key == 8) || (key == 32) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90))) {
                  e.preventDefault();
                }
              }
            });
          });
        </script>
        <script type="text/javascript">
             $(function() {
            $('#apellidos').keydown(function(e) {
              if (e.shiftKey || e.ctrlKey || e.altKey) {
                e.preventDefault();
              } else {
                var key = e.keyCode;
                if (!((key == 8) || (key == 32) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90))) {
                  e.preventDefault();
                }
              }
            });
          });
        </script>

        <script type="text/javascript">
            var email = document.getElementById("mail");

            email.addEventListener("keyup", function (event) {
              if (email.validity.typeMismatch) {
                email.setCustomValidity("¡Yo esperaba una dirección de correo!");
              } else {
                email.setCustomValidity("");
              }
            });

        </script>
        <script type="text/javascript">
            var input=  document.getElementById('cedula');
            input.addEventListener('input',function(){
              if (this.value.length > 10) 
                 this.value = this.value.slice(0,10); 
            })
        </script>
        <script type="text/javascript">
            var input=  document.getElementById('telefono');
            input.addEventListener('input',function(){
              if (this.value.length > 10) 
                 this.value = this.value.slice(0,10); 
            })
        </script>
        <script type="text/javascript">
            var input=  document.getElementById('celular');
            input.addEventListener('input',function(){
              if (this.value.length > 10) 
                 this.value = this.value.slice(0,10); 
            })
        </script>
        <script type="text/javascript">
            var input=  document.getElementById('edad');
            input.addEventListener('input',function(){
              if (this.value.length > 3) 
                 this.value = this.value.slice(0,3); 
            })
        </script>
        <script type="text/javascript">
        $('.alphaonly').bind('keyup blur',function(){ 
            var node = $(this);
            node.val(node.val().replace(/[^a-z]/g,'') ); }
        );
        </script>
        <script language="javascript" type="text/javascript">
            function valida(){
                if(document.getElementById("cedula").value.length <= 7){
                    alert('ingrese un nombre de minimo 8 caracteres');
                    return false;
                }else{
                        document.form1.submit();
                }
            }
        </script>
        <!-- Extra JavaScript/CSS added manually in "Settings" tab -->
        <!-- Include jQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

        <!-- Include Date Range Picker -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

        {% endblock %}
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="{% static 'plugins/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/dist/js/tether.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-extension/js/bootstrap-extension.min.js' %}"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="{% static 'plugins/sidebar-nav/dist/sidebar-nav.min.js' %}"></script>
    <!--slimscroll JavaScript -->
    <script src="{% static 'plugins/js/jquery.slimscroll.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'plugins/js/waves.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/custom.min.js' %}"></script>
    <script src="{% static 'js/jasny-bootstrap.js' %}"></script>
    <!--Style Switcher -->
    <script src="{% static 'plugins/styleswitcher/jQuery.style.switcher.js' %}"></script>
</body>

</html>
